{{#course}}
	<a id='homeBlocCourse{{{cid}}}' class='blocCours {{{class}}}' data-cid='{{{cid}}}'>
		<div class='imgCours' style='background: #f5f5f5 url({{{url}}}) no-repeat center; background-size: 100% auto'>
			<div class='dateCoursHighLight'>
				<div>{{{dateY}}}</div>
				<div>{{{month}}}</div>
			</div>
		</div>
		<div class='bgHover'>
			<i class="fa fa-search" aria-hidden="true"></i>
			<div class='infotxt'>{{#str}}learnmore,theme_cfai{{/str}}...</div>
			<div class='cadreW'></div>
		</div>
		<div class='textzone'>
			<div class='detailsMoocs'>{{{date}}}</div>
			<div class='detailsMoocs last'>{{{institution}}}</div>
			
			<div class='titreMooc'>{{{fullname}}}</div>
		</div>
	</a>
{{/course}}

{{#future}}
	<a class='blocCours  {{{class}}}' href='mailto:{{{email}}}?subject={{{mailSubject}}}&body={{{mailbody}}}(course id: {{{cid}}})' target='_top' title='mail'>
			<div class='imgCours' style='background: #f5f5f5 url({{{url}}}) no-repeat center; background-size: 100% auto'></div>
			<div class='bgHover'>
				<i></i>
				<div class='infotxt'>{{#str}}contactfuturemooc,theme_cfai{{/str}}</div>
				<div class='cadreW'></div>
			</div>
			<div class='textzone'>
				<div class='detailsMoocs '>
				</div>
				<div class='detailsMoocs last'>
					{{{institution}}}
				</div>
				<div class='titreMooc'>{{{fullname}}}</div>
			</div>
		</a>
{{/future}}
{{#nocourse}}
	<div class='blocCoursEmpty'>
		<p class='error'>
			{{#str}}nocourse,theme_cfai{{/str}}
		</p>
	</div>
{{/nocourse}}