{{>theme_cfai/head}}
<div id="page-wrapper"> 
    {{{ output.standard_top_of_body_html }}}
	{{>theme_cfai/header}}
    {{>theme_cfai/banner}}
	
    <div id="page" class="container-fluid columns1">
		<div id="page-wrap">
			<div id="page-layer">
			
				<header id="page-header">
					<div class="col-xs-12 p-a-1">
						<div class="card">
							<div class="card-block">
								{{{ output.header_navbar }}}
			
							</div>
						</div>
					</div>
				</header>
				
				<div id="page-content">
					<div id="region-main-box">
						<section id="region-main">
							<div class="card card-block">
							{{{ output.course_content_header }}}
							{{{ output.main_content }}}
							{{{ output.course_content_footer }}}
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
    </div>
	{{> theme_cfai/nav-drawer }}
	{{>theme_cfai/footer_page}}
</div>
{{>theme_cfai/footer}}
