{{>theme_cfai/head}}
<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}
	{{>theme_cfai/header_homepage}}
    {{>theme_cfai/banner}}
	
    <div id="page" class="container-fluid columns1">
		<div id="page-layer">
			<div id="page-content" class="row">
				<div id="region-main-box" class="col-xs-12">
					<section id="region-main">
						<div class="card card-block">

							{{{ output.course_content_header }}}
							{{{ output.main_content }}}
							{{{ output.course_content_footer }}}

						</div>
					</section>
				</div>
			</div>
		</div>
    </div>
	{{>theme_cfai/footer_page}}
</div>
{{>theme_cfai/footer}}