{{>theme_cfai/head}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}
	
	
    {{>theme_cfai/header}}
    {{>theme_cfai/banner}}

    <div id="page" class="container-fluid">
		<div id="page-wrap">
			<div id="page-layer">
			
				 {{{ output.teacherdash }}}
				<header id="page-header">
					<div class="col-xs-12 p-a-1">
						<div class="card">
							<div class="card-block">
								{{{ output.header_navbar }}}
			
							</div>
						</div>
					</div>
				</header>

				
				<div id="page-content">
					
					<div id="region-main-box">
						{{#hasregionmainsettingsmenu}}
						<div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
							<div> {{{ output.region_main_settings_menu }}} </div>
						</div>
						{{/hasregionmainsettingsmenu}}
						<section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
							
							<div class="card card-block">
							{{#hasregionmainsettingsmenu}}
								<div class="region_main_settings_menu_proxy"></div>
							{{/hasregionmainsettingsmenu}}
							{{{ output.course_content_header }}}
							{{{ output.main_content }}}
							{{{ output.course_content_footer }}}
							</div>
						</section>
						{{#hasblocks}}
						<section id="region-blocks" data-region="blocks-column" class="hidden-print">
							{{{ sidepreblocks }}}
						</section>
						{{/hasblocks}}
					</div>
				</div>
			</div>
        </div>
    </div>
    {{> theme_cfai/nav-drawer }}
	{{>theme_cfai/footer_page}}
</div>
{{>theme_cfai/footer}}
<script>
$( window ).resize(function(){ 

	if ($('iframe#forumqta').length > 0) {
		resizeIframe();
	}
	

}); 
 

$('#forumqta').on('load', function() {
	//alert('load iframe');
	console.log(this);
	var frame_window = frames['coursforum'];
	console.log(frame_window);
	var height = frame_window.document.documentElement.scrollHeight+80;
	var height2 = frame_window.frameElement.contentWindow.outerHeight+80; 
	//$('#forumqta').height(frame_window.frameElement.contentWindow.outerHeight+80);
	resizeIframe();
		
});
	

function resizeIframe(){ 
	//var frame_element = document.getElementById('forumqta');
	//alert('aaaa');
	
	var frame_window = frames['coursforum'];
	
	$('#forumqta').height(100);
	$('#forumqta').height(frame_window.document.documentElement.scrollHeight+80);
	//$('#forumqta').height(frame_window.frameElement.contentWindow.outerHeight+80);
	var height = frame_window.document.documentElement.scrollHeight+80;
		//$('#forumqta').height(frame_window.document.documentElement.scrollHeight+80);

	//frame_window.src = frame_window.src ;
	//alert(frame_window.document.documentElement.scrollHeight+80);
	//frame_element.style.height = "1px";
	//frame_element.style.height = (frame_window.document.documentElement.scrollHeight+80) +"px";
}
</script>