{{#hascustomlogin}} 

{{#hasfpiconnav}}
<div class="row loginicons">
    {{#fpiconnav}} {{#hasicon}}
    <div class="col-md-3">
        <div class="card loginicon">
            <div class="loginnavicon">
                <i class="fa fa-4x fa-{{{icon}}}"></i>
            </div>
            <div class="loginnavtext">
                <h3>{{{title}}}</h3> {{{text}}}
            </div>
        </div>
    </div>
    {{/hasicon}} {{/fpiconnav}}
</div>
{{/hasfpiconnav}} 

{{#hasfeature1}}
<div class="row fpcustomtext">
    <div class="col-md-8">
        <div class="featuretext">
            {{{feature1text}}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="loginfeaturedimage">
            <img src="{{{ feature1image }}}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{{/hasfeature1}} 
{{#hasfeature2}}
<div class="row fpcustomtext">
    <div class="col-md-8">
        <div class="featuretext">
            {{{feature2text}}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="loginfeaturedimage">
            <img src="{{{ feature2image }}}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{{/hasfeature2}} 
{{#hasfeature3}}
<div class="row fpcustomtext">
    <div class="col-md-8">
        <div class="featuretext">
            {{{feature3text}}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="loginfeaturedimage">
            <img src="{{{ feature3image }}}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{{/hasfeature3}} 

{{/hascustomlogin}}

<ul id="loginbox" class="nav">
	<li class="dropdown usermenuonlogged">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="usermenuonlogged">
			<span class="usertext">{{{usertext}}}</span>
			<i id="iconloginuser" class="fas fa-user-circle" aria-hidden="true"></i>
			<b class="caret"></b>
		</a>
		{{#ddmenu}}
		<ul class="dropdown-menu dropdown-menu-right" id="loginpaneldropdown">
			<li class="loginpanel">
				<form action="{{actionurl}}" method="post" id="login">
					
					<div class="potentialidplist">
					{{#loginproviders}}	
						<div class="potentialidp">
							<a href="{{purl}}" title="{{pname}}" class="btn btn-secondary btn-block {{pname}}">
								{{#picon}}
									<img src="{{picon}}" alt="" width="24" height="24">
								{{/picon}}
								{{pname}}
							</a>
						</div>

					{{/loginproviders}}	
					</div>
					
					<div class="loginPanelSep sep">
						<div class="seplineL"></div>
						<div class="septxt"> {{#str}}loginSep,theme_cfai{{/str}}</div>
						<div class="seplineR"></div>
					</div>
					
					<div class="loginform">
						<input id="anchor" type="hidden" name="anchor" value="">
						<script>document.getElementById('anchor').value = location.hash;</script>
						<input type="hidden" name="logintoken" value="{{logintoken}}">
						
						<div class="input-group input-group-username">
							<span class="input-group-addon">
								<i class="fa fa-user-circle"></i>
							</span>
							<input type="text" placeholder="{{#str}}username{{/str}}" name="username" id="username" class="form-control" size="15" value="">
						</div>
						<div class="input-group input-group-password">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" placeholder="{{#str}}password{{/str}}" name="password" id="password" class="form-control" size="15" value="">
						</div>
						<button type="submit" id="loginsubmitbtn" class="btn btn-primary btn-block" form="login" value="{{#str}}login{{/str}}">{{#str}}login{{/str}}</button>
					</div>
									
					
				</form>
			</li>
		
			<li class="signup">
				<div class="forgetpass">
					<a href="{{{forgetpassurl}}}" class="linkLostPass">
						{{#str}}loginPanelForgotten,theme_cfai{{/str}}
					</a>
					<a href="{{{startsignupurl}}}" class="linkInscription">
						{{#str}}startsignup{{/str}}
					</a>
				</div>
			</li>
		</ul>
		{{/ddmenu}}
	</li>
</ul>