{{#haschildren}}
<div class="langmenu nav-item">
	{{#children}}
			{{#url}}
				<a class="langmenu-item" href="{{{url}}}" {{#title}}title="{{{title}}}"{{/title}}>{{text}}</a>
			{{/url}}
			{{^url}}
				<span class="langmenu-item current">{{text}}</span>
			{{/url}}
			<span class="langmenu-item sep"></span>
	{{/children}}
</div>

{{/haschildren}}

