{{>theme_cfai/head}}
<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}
	
	
    {{>theme_cfai/header}}
    {{>theme_cfai/banner}}

    <div id="page" class="container-fluid">
       
		<div id="page-wrap">
		
			<div id="page-layer">
				{{{ output.dashboard_header }}}

				<div id="page-content">
					
					<div id="region-main-box">
						{{#hasregionmainsettingsmenu}}
						<div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
							<div> {{{ output.region_main_settings_menu }}} </div>
						</div>
						{{/hasregionmainsettingsmenu}}
						<section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
							<div class="card card-block">
							{{#hasregionmainsettingsmenu}}
								<div class="region_main_settings_menu_proxy"></div>
							{{/hasregionmainsettingsmenu}}
							{{{ output.course_content_header }}}
							{{{ output.main_content }}}
							{{{ output.course_content_footer }}}
							</div>
						</section>
						{{#hasblocks}}
						<section id="region-blocks" data-region="blocks-column" class="hidden-print">
							{{{ sidepreblocks }}}
						</section>
						{{/hasblocks}}
					</div>
				</div>
			</div>
        </div>
    </div>
    {{> theme_cfai/nav-drawer }}
	{{>theme_cfai/footer_page}}
</div>
{{>theme_cfai/footer}}

