<a href="#" id="back-to-top" role="button" title="{{#str}}backtotop, theme_cfai{{/str}}">
	<div id="bt_circle" class="bt_FondBleu">
		<div id="bt_circle" class="bt_FondWhite">
			<div id="bt_arrow">
				<svg aria-hidden="true" focusable="false" data-prefix="fas"  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" ><path d="M24 32h336c13.3 0 24 10.7 24 24v24c0 13.3-10.7 24-24 24H24C10.7 104 0 93.3 0 80V56c0-13.3 10.7-24 24-24zm232 424V320h87.7c17.8 0 26.7-21.5 14.1-34.1L205.7 133.7c-7.5-7.5-19.8-7.5-27.3 0L26.1 285.9C13.5 298.5 22.5 320 40.3 320H128v136c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24z" class=""></path></svg>
			</div>
		</div>
	</div>
</a>
{{{ output.standard_end_of_body_html }}}
</body>
</html>
{{#js}}
	require(['theme_boost/loader']);
	{{#frontpage}}
		{{#adminview}}
			require(['theme_boost/drawer'], function(mod) {
				mod.init();
			});
		{{/adminview}}
	{{/frontpage}}
	
	{{^frontpage}}
		require(['theme_boost/drawer'], function(mod) {
			mod.init();
		});
	{{/frontpage}}
	
	if ($('#back-to-top').length) {
		var scrollTrigger = 200, // px
			backToTop = function () {
				var scrollTop = $(window).scrollTop();
				if (scrollTop > scrollTrigger) {
					$('#back-to-top').addClass('show');
				} else {
					$('#back-to-top').removeClass('show');
				}
			};
		backToTop();
		$(window).on('scroll', function () {
			backToTop();
		});
		$('#back-to-top').on('click', function (e) {
			e.preventDefault();
			$('html,body').animate({
				scrollTop: 0
			}, 700);
		});
	}
{{/js}}