<footer id="page-footer">
		
		<div class="footerItem first">
			<a class="footerItemtxt" href="mailto:cfai@cfai.ch">cfai@cfai.ch</a>
		</div>
		<div class="footerItem ">
			<span class="footerItemtxt">Avenue Général-Guisan 8, 1800 Vevey</span>
		</div>
		<div class="footerItem plus">
			{{{ output.standard_footer_html }}}
		</div>
</footer>