{{>theme_cfai/head}}
<div id="page-wrapper">
	
    {{{ output.standard_top_of_body_html }}}
	{{>theme_cfai/header}}
    {{>theme_cfai/banner}}
	
	<div id="page" class="container-fluid">
        <div id="page-wrap">
			<div id="page-layer">
				<div class="hide">{{{ output.main_content }}}</div>
				
			
				<div id="page-content">
					<div id="region-main-box">

						<div id="bgWindow">
							<div id="blocCatalogue">
								<h2 id="titleCatalog">{{#str}}searchadvanced,theme_cfai{{/str}}</h2>
								<div id="blocCatalogueContent">
									<div id="filtreCatalogue">

										<div class="filtreBloc" id="keywordsFilter">
											<h3 class="titleFilter"><i class="fa fa-key" aria-hidden="true"></i>{{#str}}keywords,theme_cfai{{/str}}</h3>
											<div class="subTitleFilter">
												<div class="filtreline">
													<input type="text" id="inputTextSearchAdv" placeholder="{{#str}}searchcourse,theme_cfai{{/str}}..." name="keyword" value="{{{keyword}}}">
													<i class="fa fa-search" aria-hidden="true"></i>
												</div>
											</div>
										</div>
										
										<div class="filtreBloc" id="institutionFilter">
											<h3 class="titleFilter"><i class="fa fa-university"></i>{{#str}}institution,theme_cfai{{/str}}</h3>
											<div class="subTitleFilter">
											{{#itemsResearch.institutions}}
												<div class="filtreline">
													<input id="cb_institution_{{{id}}}"  type="checkbox" name="cb_institution" value="{{{name}}}">
													<label for="cb_institution_{{{id}}}">{{{name}}}</label>
												</div>
											{{/itemsResearch.institutions}}
											</div>
										</div>
										
										<div class="filtreBloc" id="langFilter">
											<h3 class="titleFilter"><i class="fas fa-globe"></i>{{#str}}lang,theme_cfai{{/str}}</h3>
											<div class="subTitleFilter">
											{{#itemsResearch.langs}}
												<div class="filtreline">
													<input id="cb_lang_{{{id}}}"  type="checkbox" name="cb_lang" value="{{{key}}}" {{{selected}}}>
													<label class="longname" for="cb_lang_{{{id}}}">{{{name}}}</label>
													<label class="shortname" for="cb_lang_{{{id}}}">{{{key}}}</label>
												</div>
											{{/itemsResearch.langs}}
											</div>
										</div>
										
									</div>
									<div id="catalogue">
										<div id="course_list_111">
											<div id="course_list">
												{{> theme_cfai/loading_anim }}
												
											</div>
										</div>
									</div>
									<div id="clear"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
    </div>
	{{#adminview}}
	{{> theme_cfai/nav-drawer }}
	{{/adminview}}
	{{>theme_cfai/footer_page}}
</div>

<div id="home_popup"></div>

{{>theme_cfai/footer}}
