{{>theme_cfai/head}}
<script src='https://www.google.com/recaptcha/api.js?render=6Lcz5Z0UAAAAAJEPm4J40a-3cWNg8f1KxMjeZOI1'></script>
<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_cfai/header}}
    {{>theme_cfai/banner}}

    <div id="page" class="container-fluid contact">
        <div id="page-wrap">
			<div id="page-layer">
				<div class="hide">{{{ output.main_content }}}</div>
				
			
				<div id="page-content">
					<div id="region-main-box">
					
					<div id="bgWindow">
					
						<div id="frmContact" data-block="form_contact">
							<h2 id="titleContact"> {{#str}}contacttitle,theme_cfai{{/str}} </h1>
							


								<form id="frm" name="contactform" action="{{{ config.wwwroot }}}/?redirect=0&op=contact&ac=submit" method="post">
								
									<input type="text" name="name" id="nameContact" class="formInput" placeholder="{{#str}}lastname{{/str}}" value="{{#isloggedin}}{{{userForm.ln}}}{{/isloggedin}}" required>
									
									<input type="text" name="forname" id="fornameContact"  class="formInput" placeholder="{{#str}}firstname{{/str}}" value="{{#isloggedin}}{{{userForm.fn}}}{{/isloggedin}}" required>
									
									<input type="email" name="email" id="emailContact"  class="formInput" placeholder="{{#str}}email{{/str}}" value="{{#isloggedin}}{{{userForm.em}}}{{/isloggedin}}" required>
									
									<textarea name="mailmessage" id="mailmessage"  minlength="10"  maxlength="300" class="formInput" rows="4" cols="50" placeholder="{{#str}}content{{/str}}"  required></textarea>
									
									<input type="hidden" id="captchaToken" name="captchaToken">
									<input type="hidden" id="captchaAction" name="captchaAction" value="homepagecontact">

								
									<input type="submit" name="submit" class="btnSubmit" value='{{#str}}send,theme_cfai{{/str}}'>
									{{{msgError}}}
									{{{msg}}}
								</form>


						</div>

					</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	{{#adminview}}
	{{> theme_cfai/nav-drawer }}
	{{/adminview}}
	{{>theme_cfai/footer_page}}
</div>

{{>theme_cfai/footer}}
<script>
	grecaptcha.ready(function() {
		grecaptcha.execute('6Lcz5Z0UAAAAAJEPm4J40a-3cWNg8f1KxMjeZOI1', {action: 'homepagecontact'}).then(function(token) {
			$('#captchaToken').val(token);
		});
	});
	$("#frmContact111").submit(function() { 

		event.preventDefault();
		grecaptcha.ready(function() {
            grecaptcha.execute('6Lcz5Z0UAAAAAJEPm4J40a-3cWNg8f1KxMjeZOI1', {action: 'homepagecontact'}).then(function(token) {
                // add token to form
				//alert('function(token)');
                //$('#frmContact').prepend('<input type="text" name="captchaToken" value="' + token + '">');
                //$('#frmContact').prepend('<input type="text" name="captchaAction" value="homepagecontact">');
                // submit form now
				
				
                $('#frmContact').unbind('submit').submit();
            });
        });
	});
</script>
