<div>
    <input type="hidden" id="errorString" value="{{#str}}error,theme_cfai{{/str}}">
    <input type="hidden" id="courseFilterString" value="{{#str}}cours,theme_cfai{{/str}}">
    <input type="hidden" id="courseFilterStringPluriel" value="{{#str}}courspluriel,theme_cfai{{/str}}">
    <input type="hidden" id="noCourseString" value="{{#str}}nocourse,theme_cfai{{/str}}">
    <input type="hidden" id="frFilter" value="{{#str}}fr,theme_cfai{{/str}}">
    <input type="hidden" id="enFilter" value="{{#str}}en,theme_cfai{{/str}}">
    <input type="hidden" id="deFilter" value="{{#str}}de,theme_cfai{{/str}}">
    <input type="hidden" id="hour" value="{{#str}}hour,theme_cfai{{/str}}">
    <input type="hidden" id="week" value="{{#str}}week,theme_cfai{{/str}}">
    <input type="hidden" id="hours" value="{{#str}}hours,theme_cfai{{/str}}">
    <input type="hidden" id="weeks" value="{{#str}}weeks,theme_cfai{{/str}}">
    <input type="hidden" id="enrolCourse" value="{{#str}}enrolme,theme_cfai{{/str}}">
    <input type="hidden" id="accessCourse" value="{{#str}}accesscours,theme_cfai{{/str}}">
    <input type="hidden" id="role" value="{{#str}}role,theme_cfai{{/str}}">
    <input type="hidden" id="mandatoryfield" value="{{#str}}mandatoryfield,theme_cfai{{/str}}">
    <input type="hidden" id="emailinvalid" value="{{#str}}emailinvalid,theme_cfai{{/str}}">
    <input type="hidden" id="mailsuccess" value="{{#str}}mailsuccess,theme_cfai{{/str}}">
    <input type="hidden" id="mailinvalid" value="{{#str}}mailinvalid,theme_cfai{{/str}}">
    <input type="hidden" id="captchainvalid" value="{{#str}}captchainvalid,theme_cfai{{/str}}">
    <input type="hidden" id="enrolNotYetCourse" value="{{#str}}enrolnotyet,theme_cfai{{/str}}">	
    <input type="hidden" id="contactForMoocInfo" value="{{#str}}contactfuturemooc,theme_cfai{{/str}}">
    <input type="hidden" id="mailPreregistration" value="{{#str}}mailpreregistration,theme_cfai{{/str}}">
    <input type="hidden" id="mailPreContent" value="{{#str}}mailprecontent,theme_cfai{{/str}}">
</div>