{{>theme_cfai/head}}

<input type="hidden" id="token" value="{{{ sessiontoken }}}"/>
<div id="page-wrapper">
	
	{{{ output.standard_top_of_body_html }}}
	{{>theme_cfai/header}}
    {{>theme_cfai/banner}}
	
	<div id="page" class="container-fluid homepage">
		<div id="page-wrap">
			<div id="page-layer">
				<div id="page-content">
				
					<div class="hide">{{{ output.main_content }}}</div>
					
					<div id="page-tagInscris">
						<div id="page-tagInscris-box">
							<div class="card">
								<div class="card-block">
									{{#str}}subscribehome,theme_cfai{{/str}}
									<span>{{#str}}nowhome,theme_cfai{{/str}}</span>
								</div>
							</div>
						</div>
					</div>
					
					<div id="tagInscrisTriangle">
						<div id="tagInscrisCarre"></div>
					</div>
					
					{{{ output.frontpage_header }}}
					
					
					<div id="topCours">
						<h2>{{#str}}topcourse,theme_cfai{{/str}}</h2>
						<div id="course_list">
							{{{courseListTop}}}
						</div>
					</div>
					
					
					{{#courseListFuture}}
					<div id="futurCours">
						<h2>{{#str}}topfuturecourse,theme_cfai{{/str}}</h2>
						<div id="coursFutureListe">
							{{{courseListFuture}}}
						</div>
					</div>
					{{/courseListFuture}}
					
					
					<div id="partenaires_logos">
						<h2>{{#str}}partenaires,theme_cfai{{/str}}</h2>
						 {{{ partenaires }}} 
					</div>
					
					
					<div id="region-main-box" class="col-xs-12">
						<section data-region="blocks-column" class="hidden-print">
							{{{ sidepreblocks }}}
						</section>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="hide">{{{ output.main_content }}}</div>
	{{#adminview}}
	{{> theme_cfai/nav-drawer }}
	{{/adminview}}
	{{>theme_cfai/footer_page}}
</div>



<div id="home_popup"></div>


{{>theme_cfai/footer}}



