<div  style="display: none;"><h1>CFAI / BZIV </h1><h2>Centre de formation AI, Bildungszentrum IV, Centro di formazione AI</h2></div>

<nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex" id="navtop">


	{{{ output.custom_menu_language }}}


	<div id="headersearchbox">
		<form id="headercoursesearch" class="form-inline" action="{{{coursesearchaction}}}" method="get">
			<div class="input-group">
				<input type="text" id="headershortsearchbox" class="searchInput" size="12" name="search" placeholder="{{#str}}searchcourse,theme_cfai{{/str}}"/>

				<button id="search-button" class="searchBtnSubmit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>

			</div>
		</form>
	</div>   

	<div class="nav navbar-nav ml-auto usernavmenu">	


		{{{ output.custom_menu }}}

		{{{ output.navbar_plugin_output }}}

        {{{ output.custom_menu_account }}}
		
	
    </div>
	
	{{#frontpage}}
		<input type="hidden" id="rootMoodec" value="{{{ config.wwwroot }}}">
		{{>theme_cfai/frontpage_string_js}}
	{{/frontpage}}
	{{#catalogpage}}
		<input type="hidden" id="rootMoodec" value="{{{ config.wwwroot }}}">
		{{>theme_cfai/frontpage_string_js}}
	{{/catalogpage}}
	
	
	<div class="colorbar">
		<div class="colorbar1"></div>
		<div class="colorbar2"></div>
		<div class="colorbar3"></div>
		<div class="colorbar4"></div>
	</div>
	
	

</nav>

