<div id="home_popup">
    <div class="popup-content">
        
		
		<div class="popup-header">
		  <h2 id="courseFullname">
				{{#fullname}}
					{{{fullname}}}
				{{/fullname}}
		  </h2>
          <button type="button" class="close closePopUp" data-dismiss="modal" title="{{#str}}close, editor{{/str}}"></button>
        </div>
		
		
		<div class="colorbar">
			<div class="colorbar1"></div>
			<div class="colorbar2"></div>
			<div class="colorbar3"></div>
			<div class="colorbar4"></div>
		</div>
		
		
        <div class="popup-body">
			<div id="descriptionCours">
				
				
				<div id="texteDescription">
					{{#video}}
						<div id="iframeYoutube">
							{{{video}}}
						</div>
					{{/video}}
					
					
					
					<div id="descriptionSummary">
					{{#summary}}
						{{{summary}}}
					{{/summary}}
					</div>
					
					{{#partners}}
					<div id="partnerslist">
					
						<h4>
							{{#str}}partners,moodecdescription{{/str}}
						</h4>
						<div id="partnersfiles">
							{{{partners}}}
						</div>
					
					</div>
					{{/partners}}
				</div>
				
				{{#infocourse}}
				<div id="infoCourse">
					<h3>
						{{#str}}moreinfo,theme_cfai{{/str}}
					</h3>
					
					{{#prerequisite}}
						<div id="prerequisite">
							<h4>{{#str}}prerequisite,theme_cfai{{/str}}</h4>
							<div class="infoComm">
								{{{prerequisite}}}
							</div> 
						</div>
					{{/prerequisite}}
					
					{{#syllabus}}
						<div id="syllabus">
							<h4>{{#str}}syllabus,theme_cfai{{/str}}</h4>
							<div class="infoComm">
								{{{syllabus}}}
							</div>
						</div>
					{{/syllabus}}
					
					{{#reading}}	
					<div id="reading">
						<h4>{{#str}}reading,theme_cfai{{/str}}</h4>
						<div class="infoComm">
							{{{reading}}}
						</div>
					</div>
					{{/reading}}
					
					{{#faq}}
					<div id="faq">
						<h4>{{#str}}faq,theme_cfai{{/str}}</h4>
						<div class="infoComm">
							{{{faq}}}
						</div>
					</div>
					{{/faq}}
					
				</div>
				{{/infocourse}}
				
				
			</div>
	
			<div id="inscription">
				{{#enrollink}}
					<a id="btn-inscription" class="fontOswald"  target="_blank" href=" {{{enrollink}}}">
						{{{enroltext}}}
					</a>
				{{/enrollink}}
				{{^enrollink}}
					<div id="btn-inscription" class="fontOswald" >
						{{{enroltext}}}
					</div>
				{{/enrollink}}

				<div id="moodecDescIcons">
					{{#institution}}
						<div id="school" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}school,theme_cfai{{/str}}
							</span>
							<span class="iconDesc">
								{{{institution}}}
							</span>
						</div>
					{{/institution}}
					
					{{#effort}}
						<div id="effort" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}effort,theme_cfai{{/str}}
							</span>
							<span class="iconDesc">
								{{{effort}}}
							</span>
						</div>
					{{/effort}}
					
					{{#startdate}}
						<div id="startdate" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}startdate,theme_cfai{{/str}}
							</span>
							<span class="iconDesc">
								{{{startdate}}}
							</span>
						</div>
					{{/startdate}}
					
					{{#endcoursedate}}
						<div id="enddate" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}enddate,theme_cfai{{/str}}
							</span>
							<span class="iconDesc">
								{{{endcoursedate}}}
							</span>
						</div>
					{{/endcoursedate}}
					
					{{#duration}}
						<div id="duration" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}duration,theme_cfai{{/str}}
							</span>
							<span class="iconDesc">
								{{{duration}}}
							</span>
						</div>
					{{/duration}}
					
					
					<div id="price" class="id-item">
						<span class="iconTitle fontOswald">
							{{#str}}price,moodecdescription{{/str}}
						</span>
						<span class="iconDesc">
							{{#price}}
								{{{price}}}
							{{/price}}
							{{^price}}
								{{#str}}free,moodecdescription{{/str}}
							{{/price}}
							
						</span>
					</div>

				</div>

				<div id="container_professor">
					{{#teachers}}
						<div class="teacher">
							<a class="t-name" target="_blank" href="{{link}}">
								<div class="t-pic">{{{picture}}}</div>
								<h4>{{name}}</h4>
								<span class="role">{{#str}}role,theme_cfai{{/str}}</span>
							</a>
							<div class="t-socialNetwork">
								<a class="email" href="mailto:{{email}}">

								</a>
							</div>
						</div>
					{{/teachers}}
				</div>

		   

			</div>
	
	
   
        </div>
		
		
    </div>
</div>
	
	
   