<svg width="{{loadingAnim.loadingsize}}" height="{{loadingAnim.loadingsize}}" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" fill="{{loadingAnim.loadingcolor}}" style="margin: 20% auto;">
	<circle cx="60" cy="12.5" r="12.5">
		<animate attributeName="fill-opacity" begin="0s" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite" />
	</circle>
	<circle cx="60" cy="52.5" r="12.5" fill-opacity=".5">
		<animate attributeName="fill-opacity" begin="100ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite" />
	</circle>
	<circle cx="100" cy="12.5" r="12.5">
		<animate attributeName="fill-opacity" begin="300ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite" />
	</circle>
	<circle cx="100" cy="52.5" r="12.5">
		<animate attributeName="fill-opacity" begin="600ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite" />
	</circle>
	<circle cx="140" cy="12.5" r="12.5">
		<animate attributeName="fill-opacity" begin="800ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite" />
	</circle>
	<circle cx="140" cy="52.5" r="12.5">
		<animate attributeName="fill-opacity" begin="400ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite" />
	</circle>
	<circle cx="60" cy="92.5" r="12.5">
		<animate attributeName="fill-opacity" begin="700ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite" />
	</circle>
	<circle cx="100" cy="92.5" r="12.5">
		<animate attributeName="fill-opacity" begin="500ms" dur="1s"  values="1;.2;1" calcMode="linear" repeatCount="indefinite" />
	</circle>
	<circle cx="140" cy="92.5" r="12.5">
		<animate attributeName="fill-opacity" begin="200ms" dur="1s" values="1;.2;1" calcMode="linear" repeatCount="indefinite" />
	</circle>
	<g>
		<path d="M16.8,198.3v-36.8h5.3v32.9h9.2v3.9L16.8,198.3L16.8,198.3z"/>
		<path d="M37.3,186.5v-13.4c0-1.9,0.2-3.6,0.5-5.1c0.4-1.4,0.9-2.7,1.7-3.8s1.8-1.9,3.2-2.4c1.3-0.5,2.9-0.8,4.8-0.8 c3.6,0,6.2,1,7.8,3.1s2.4,5,2.4,8.9v13.4c0,1.9-0.2,3.6-0.5,5c-0.4,1.5-0.9,2.7-1.7,3.8s-1.8,1.9-3.2,2.5 c-1.3,0.6-2.9,0.9-4.7,0.9c-1.9,0-3.4-0.3-4.8-0.8s-2.4-1.4-3.2-2.5s-1.3-2.4-1.7-3.8C37.4,190.1,37.3,188.4,37.3,186.5z M42.5,187.8c0,2.2,0.4,3.8,1.1,4.9c0.7,1.1,2,1.7,3.8,1.7c1.9,0,3.1-0.6,3.8-1.7c0.7-1.1,1.1-2.7,1.1-4.9v-16 c0-2.1-0.3-3.7-1-4.8c-0.7-1.1-2-1.6-3.8-1.6c-1.9,0-3.1,0.5-3.8,1.6c-0.7,1.1-1,2.7-1,4.8v16H42.5z"/>
		<path d="M63.8,198.3l7.9-36.8H77l7.9,36.8h-5.3l-2-9.2H71l-2,9.2H63.8z M71.7,185.2H77l-2.6-15.8L71.7,185.2z"/>
		<path d="M92.1,198.3v-36.8h8.2c3.9,0,6.6,0.8,8.2,2.4s2.4,4.3,2.4,8.2v14.5c0,4-0.8,7-2.4,9c-1.6,1.9-4.3,2.9-8.2,2.9 h-8.2V198.3z M97.3,194.4h2.9c0.9,0,1.6-0.1,2.2-0.2c0.6-0.2,1.1-0.4,1.5-0.9c0.4-0.4,0.7-0.8,0.9-1.2c0.2-0.4,0.4-1,0.5-1.8 c0.1-0.8,0.1-1.5,0.2-2c0-0.5,0-1.3,0-2.4c0-0.4,0-0.6,0-0.8v-11.8c0-0.7,0-1.2,0-1.6s0-0.9-0.1-1.4c0-0.5-0.1-1-0.2-1.3 c-0.1-0.3-0.2-0.7-0.3-1.1c-0.1-0.4-0.3-0.7-0.5-0.9c-0.2-0.2-0.4-0.4-0.7-0.7c-0.3-0.2-0.6-0.4-0.9-0.5c-0.4-0.1-0.8-0.2-1.2-0.3 c-0.5-0.1-1-0.1-1.6-0.1h-2.8L97.3,194.4L97.3,194.4z"/>
		<path d="M119.8,198.3v-36.8h5.3v36.8H119.8z"/>
		<path d="M134.9,198.3v-36.8h3.9l9.2,22.8v-22.8h5.3v36.8h-3.7l-9.4-24.5v24.5H134.9z"/>
		<path d="M162.2,184v-9.3c0-9,3.6-13.5,10.7-13.5c1.7,0,3.2,0.3,4.5,0.8s2.3,1.3,3.1,2.2c0.8,1,1.4,2.1,1.8,3.5 c0.4,1.3,0.6,2.9,0.7,4.6c0,0.2,0,0.6,0,1.1h-5.3v-1.1c0-0.9-0.1-1.6-0.1-2.2c-0.1-0.6-0.2-1.2-0.4-1.8s-0.5-1.1-0.8-1.5 c-0.3-0.4-0.8-0.7-1.4-0.9c-0.6-0.2-1.2-0.3-2-0.3c-1.1,0-2,0.2-2.7,0.6c-0.7,0.4-1.3,1-1.7,1.7c-0.4,0.7-0.7,1.6-0.8,2.5 c-0.2,0.9-0.2,1.9-0.2,3.1v11.8c0,0.9,0,1.7,0.1,2.4c0.1,0.7,0.1,1.4,0.3,2.2c0.1,0.7,0.3,1.4,0.6,1.9s0.6,1,0.9,1.5 c0.4,0.4,0.8,0.8,1.4,1c0.6,0.2,1.2,0.3,2,0.3c0.9,0,1.6-0.2,2.3-0.5c0.6-0.3,1.2-0.8,1.5-1.3c0.4-0.5,0.7-1.2,0.9-2.1 c0.2-0.8,0.4-1.7,0.4-2.5c0.1-0.8,0.1-1.8,0.1-2.8v-1.3h-5.4v-3.9h10.5v18.4h-3.9l-1.3-3.9c-1,2.9-2.8,4.3-5.3,4.3 c-1.7,0-3.1-0.2-4.4-0.7c-1.2-0.5-2.2-1.1-3-2c-0.8-0.8-1.4-1.9-1.9-3.1c-0.5-1.3-0.8-2.6-1-4C162.2,187.4,162.2,185.8,162.2,184z
		"/>
	</g>
</svg>

