{{>theme_cfai/head}}
<div id="page-wrapper"> 

    {{{ output.standard_top_of_body_html }}}
	{{>theme_cfai/header}}
    {{>theme_cfai/banner}}
	
    <div id="page" class="container-fluid columns1">
		<div id="page-wrap">
			<div id="page-layer">
				<div id="page-content">
				
					<div id="region-main-box">
					<div id="bgWindow">
						<section id="sectionlogin">
							
								<h1>{{#str}}login{{/str}}</h1>
								
								{{{ output.main_content }}}
								


						</section>
					</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	{{>theme_cfai/footer_page}}
</div>
{{>theme_cfai/footer}}