<div class="modal fade" id="pgwModal" role="dialog">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
		  <h2 id="courseFullname"><span class="texteMooc"><span></h2>
          <button type="button" class="close closePopUp" data-dismiss="modal" title="{{#str}}close, editor{{/str}}"></button>
        </div>
		<div class="colorbar">
			<div class="colorbar1"></div>
			<div class="colorbar2"></div>
			<div class="colorbar3"></div>
			<div class="colorbar4"></div>
		</div>
        <div class="modal-body">
           <div id="descriptionCours">
        <div id="texteDescription">
            <div id="iframeYoutube"> </div>
            <div id="descriptionSummary"></div>
			<div id="clear"></div>
        </div>
    </div>

   
	
    <div id="inscription">
        <a id="aInscription" onclick="enrol();" target="_blank">
			{{#str}}enrolme,theme_cfai{{/str}}
		</a>

        <div id="cfaiDescIcons">
            <div id="school"><span class="iconTitle">
			{{#str}}school,theme_cfai{{/str}}
			</span><span class="iconDesc"></span></div>
            <div id="effort"><span class="iconTitle">
			{{#str}}effort,theme_cfai{{/str}}
			</span><span class="iconDesc"></span></div>
            <div id="startdate"><span class="iconTitle">
			{{#str}}startdate,theme_cfai{{/str}}
			</span><span class="iconDesc"></span></div>
            <div id="enddate"><span class="iconTitle">
			{{#str}}enddate,theme_cfai{{/str}}
			</span><span class="iconDesc"></span></div>
            <div id="duration"><span class="iconTitle">
			{{#str}}duration,theme_cfai{{/str}}
			</span><span class="iconDesc"></span></div>
        </div>

        <div id="container_professor"></div>

    <img id="img" src="{{{iconMail}}}"">

    </div>
	<div id="infoCourse">
		<h4>
			{{#str}}moreinfo,theme_cfai{{/str}}
		</h4>
		<p class="texteMoocBleu prerequisite">
			{{#str}}prerequisite,theme_cfai{{/str}}
			<div class="InfoComm" id="prerequisite"></div> </p>
		<p class="texteMoocBleu syllabus">
			{{#str}}syllabus,theme_cfai{{/str}}
			<div class="InfoComm" id="syllabus"></div></p>
		<p class="texteMoocBleu reading">
			{{#str}}reading,theme_cfai{{/str}}
			<div class="InfoComm" id="reading"></div> </p>
		<p class="texteMoocBleu faq">
			{{#str}}faq,theme_cfai{{/str}}
			<div class="InfoComm" id="faq"></div> </p>
	</div>
    <div id="clear"></div>
        </div>
      </div>
	</div>
</div>
	
	
   