{{>theme_cfai/head}}
<input type="hidden" id="rootMoodle" value="https://php7.cyberlearn-mobile-dev.ch/moodle/3-5/">
<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_cfai/header}}
    {{>theme_cfai/banner}}

    <div id="page" class="container-fluid contact">
        <div id="page-wrap">
			<div id="page-layer">
				<div class="hide">{{{ output.main_content }}}</div>
				
			
				<div id="page-content">
					<div id="region-main-box">
					
					<div id="bgWindow">
					
						<div id="frmContact">
							<h1 id="titleContact">{{#str}}contacttitle,theme_cfai{{/str}}</h1>
							<div id="frm">   
								<div class="formGroup">
									<label>{{#str}}contactname,theme_cfai{{/str}}</label>
									<input type="text" name="name" id="nameContact" class="formInput">
								</div>
								<div class="formGroup">
									<label>{{#str}}contactforname,theme_cfai{{/str}}</label>
									<input type="text" name="forname" id="fornameContact"  class="formInput">
								</div>
								<div class="formGroup">
									<label>{{#str}}contactemail,theme_cfai{{/str}}</label>
									<input type="text" name="email" id="emailContact"  class="formInput">
								</div>
								<div class="formGroup">
									<label>{{#str}}message,theme_cfai{{/str}}</label>
									<textarea name="message" id="messageContact"   class="formInput" rows="4" cols="50"></textarea>
								</div>
								<div class="formGroup">
									<label>Captcha : </label>
									<img id="captcha_code" src="{{{ config.wwwroot }}}/theme/cfai/srv/captcha_code_file.php" />
									<button name="submit" class="btnRefresh" onClick="refreshCaptcha();"></button>
								</div>
								<div class="formGroup">
									<label></label>
									<input type="text" name="captcha" id="captcha"  class="formInput" />
								</div>
								<div class="formGroup">
									<label></label>
									<span id="info"></span>
								</div>
							</div>
							<button name="submit" class="btnAction" onClick="sendContact();">{{#str}}send,theme_cfai{{/str}}</button>
						</div>

					</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	{{#adminview}}
	{{> theme_cfai/nav-drawer }}
	{{/adminview}}
</div>

{{>theme_cfai/footer}}
