<div id="banner-background" class="container-fluid">
    <div id="banner-content">
		{{{ menuheader }}}
		{{#frontpage}}
			
			
			
			

			<div id="banner_logohome">
				<a id="logoCFAI" href="{{{ config.wwwroot }}}/?redirect=0">
					<img src="{{{logo}}}" alt="Centre de formation AI, Bildungszentrum IV, Centro di formazione AI" width="50" height="50">	
				</a>
			</div>
			<div id="banner_subtitle"> 
				MoodLearn
			</div>
			<div id="recherche">
				<form id="searchFormHome" name="keywords" type="GET">
					<input type="hidden" name="redirect" value="0">
					<input type="hidden" name="categoryid" value="1">
					<input type="text" id="inputText" placeholder="{{#str}}searchcourse,theme_cfai{{/str}}" name="keyword" value="">
					<input type="submit" value="Valider" id="searchWhite" />
				</form>
			</div>
		{{/frontpage}}

    </div>
</div>