<div id="moodecDescContent">
    <div class="popup-content">
        
		
		<div class="popup-header">
		  <h2 id="courseFullname">
				{{#fullname}}
					{{{fullname}}}
				{{/fullname}}
		  </h2>
        </div>
		
		

		
		
        <div class="popup-body">
			<div id="descriptionCours">
				
				
				<div id="texteDescription">
					{{#video}}
						<div id="iframeYoutube">
							{{{video}}}
						</div>
					{{/video}}
					
					
					
					<div id="descriptionSummary">
					{{#summary}}
						{{{summary}}}
					{{/summary}}
					</div>
					
					{{#partners}}
					<div id="partnerslist">
						<h4>
							{{#str}}partners,moodecdescription{{/str}}
						</h4>
						<div id="partnersfiles">
							{{{partners}}}
						</div>
					</div>
					{{/partners}}
				</div>
				
				{{#infocourse}}
				<div id="infoCourse">
					<h3>
						{{#str}}moreinfo,moodecdescription{{/str}}
					</h3>
					
					{{#prerequisite}}
						<div id="prerequisite">
							<h4>{{#str}}prerequisiteeditor,moodecdescription{{/str}}</h4>
							<div class="infoComm">
								{{{prerequisite}}}
							</div> 
						</div>
					{{/prerequisite}}
					
					{{#syllabus}}
						<div id="syllabus">
							<h4>{{#str}}syllabuseditor,moodecdescription{{/str}}</h4>
							<div class="infoComm">
								{{{syllabus}}} 
							</div>
						</div>
					{{/syllabus}}
					
					{{#reading}}	
					<div id="reading">
						<h4>{{#str}}readingeditor,moodecdescription{{/str}}</h4>
						<div class="infoComm">
							{{{reading}}}
						</div>
					</div>
					{{/reading}}
					
					{{#faq}}
					<div id="faq">
						<h4>{{#str}}faqeditor,moodecdescription{{/str}}</h4>
						<div class="infoComm">
							{{{faq}}}
						</div>
					</div>
					{{/faq}}
					
				</div>
				{{/infocourse}}
				
				
			</div>
	
			<div id="inscription">
				{{#courseimage}}
				<div id="courseimage">
					{{{courseimage}}}
				</div>
				{{/courseimage}}
				<div id="moodecDescIcons">
					{{#institution}}
						<div id="school" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}institutionheader,moodecdescription{{/str}}
							</span>
							<span class="iconDesc">
								{{{institution}}}
							</span>
						</div>
					{{/institution}}
					
					{{#effort}}
						<div id="effort" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}effortheader,moodecdescription{{/str}}
							</span>
							<span class="iconDesc">
								{{{effort}}}
							</span>
						</div>
					{{/effort}}
					
					{{#startdate}}
						<div id="startdate" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}startdate,moodecdescription{{/str}}
							</span>
							<span class="iconDesc">
								{{{startdate}}}
							</span>
						</div>
					{{/startdate}}
					
					{{#endcoursedate}}
						<div id="enddate" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}enddate,moodecdescription{{/str}}
							</span>
							<span class="iconDesc">
								{{{endcoursedate}}}
							</span>
						</div>
					{{/endcoursedate}}
					
					{{#duration}}
						<div id="duration" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}durationheader,moodecdescription{{/str}}
							</span>
							<span class="iconDesc">
								{{{duration}}}
							</span>
						</div>
					{{/duration}}
					
					
					{{#courseformat}}
						<div id="courseformat" class="id-item">
							<span class="iconTitle fontOswald">
								{{#str}}courseformat,moodecdescription{{/str}}
							</span>
							<span class="iconDesc">
								{{{courseformat}}}
							</span>
						</div>
					{{/courseformat}}
					
					<div id="price" class="id-item">
						<span class="iconTitle fontOswald">
							{{#str}}price,moodecdescription{{/str}}
						</span>
						<span class="iconDesc">
							{{#price}}
								{{{price}}}
							{{/price}}
							{{^price}}
								{{#str}}free,moodecdescription{{/str}}
							{{/price}}
							
						</span>
					</div>

				</div>

				<div id="container_professor">
					{{#teachers}}
						<div class="teacher">
							<a class="t-name" target="_blank" href="{{link}}">
								<div class="t-pic">{{{picture}}}</div>
								<h4>{{name}}</h4>
								<span class="role">{{#str}}teacher,moodecdescription{{/str}}</span>
							</a>
						</div>
					{{/teachers}}
				</div>

		   

			</div>
	
	
   
        </div>
		
		
    </div>
</div>
	
	
   