.headertitle {
    color:blue;
}

.iframevideo {
    width: 340px; !important;
    height: 180px; !important;
}

.summary {
    word-break:break-word;
    text-align: justify;
}

.rowiframe {
    margin-left : 0px;
}

.moocinfo {
    margin-left: 15px;
    background-color: #FAFAFA;
}

.moocinfoback {
    background-color: #FAFAFA;
}

.moocelement {
    margin-top : 15px;
    margin-left: 30px;
}

.moocinfo img {
    border-radius: 50px;
    height: 90px;
    width: 90px;
}

.teacherbox {
    text-align: center;
    margin-top: 60px;
}

.teachername {
    color: #007cb7;
    font-weight: 200;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.icon {
    border-radius: 0px;
    margin-right: 3px;
}

.moocimg {
    height: 45px;
    margin: 10px auto;
}

.divmoocimg {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
}

.mdwrapdiv {
    width: 100%;
}

.mdleft, .mdright {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 10px;
}

#descriptionCours #texteDescription h4
{
	margin: 30px 0 10px;
}

#descriptionCours #texteDescription #partnersfiles
{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

#partnersfiles .md_logopartner
{
	max-height: 40px;
    margin: 25px;
}


#moodecDescContent #descriptionCours #texteDescription #descriptionSummary span .img-responsive {
	width: 45%;
}

#courseimage img
{
	width: 100%;
	height: auto;
	margin: 0; 
}


#page-mod-moodecdescription-view #moodecDescContent .popup-content
{
	background-color: transparent;
}



