.onglet
{
    display:inline-block;
    margin-right:3px;
    padding:3px;
    cursor:pointer;
}
.onglet_0
{
    border-bottom:0px solid black;
    padding-bottom:4px;
    width: 30%;
    background-color: white;
    opacity: 0.5;
    text-align: center;
}
.onglet_1
{
    border-bottom:0px solid black;
    padding-bottom:4px;
    width: 30%;
    background-color: white;
    opacity: 1;
    text-align: center;
}
.contenu_onglet
{
    background-color:white;
    margin-top:-1px;
    padding:5px;
    display:none;
}
ul
{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px
}
h1
{
    margin:0px;
    padding:0px;
}
progress {
    color:blue;
    display: block; /* default: inline-block */
    width: 100%;
    border: 0 none;
    background: #444;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5),
    0px 1px 0px rgba(255,255,255,0.2);
}
progress::-moz-progress-bar {
    background: #FFF;
    border-radius: 2px;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4),
    0 2px 5px 0px rgba(0,0,0,0.3);
}

/* Prefix-free was creating issues with the animation */
.grade_table {

}

.grade_table_raw {


}

.grade_table_column{

    width: 33%;
}

.dashboard_h1 {

    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
    color : slategray;

}
.titlecourse{
    color:blue;
    font-family: 'Microsoft Sans Serif', Arial, Helvetica, Verdana;
    font-size: x-large;

}

.imgthumbnail{
    margin-top : 10px ;
    margin-left : 15px ;
}

.thumbnailimage {
    width:152px ;
    height:114px;
}

.dashboard_description_line {
    padding-left: 0px; !important;
}