{{^divider}}
{{#haschildren}}
<div class="dropdown nav-item mycourse">
    <a class="dropdown-toggle nav-link" id="drop-down-{{uniqid}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" title="{{{text}}}">
        <i class="fa fa-briefcase"></i>
		<span class="txt">{{{text}}}</span>
		<b class="caret"></b>
    </a>
    <div class="dropdown-menu dropdown-menu-arrow" aria-labelledby="drop-down-{{uniqid}}">
        {{#children}}
            {{^divider}}
                <a class="dropdown-item" href="{{{url}}}" {{#title}}title="{{{title}}}"{{/title}}>{{{text}}}</a>
            {{/divider}}
            {{#divider}}
                <div class="dropdown-divider"></div>
            {{/divider}}
        {{/children}}
    </div>
</div>
{{/haschildren}}
{{^haschildren}}
<div class="nav-item mycourse">
    <a class="nav-item nav-link" href="{{{url}}}" {{#title}}title="{{{title}}}"{{/title}}>
		 <i class="fa fa-briefcase"></i>
		 <span class="txt">{{{text}}}</span>
	</a>
</div>
{{/haschildren}}
{{/divider}}