<div class="blocLogin">


{{#error}}
    <div class="loginerrors">
        <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
        <div class="alert alert-danger" role="alert">{{error}}</div>
    </div>
{{/error}}

<div class="loginpanel">

        {{#cansignup}}
            <div class="sr-only">
                <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
            </div>
        {{/cansignup}}

		<div class="noteLogin">
			<i class="fa fa-check-circle-o firsticon"></i>
			{{#str}} cookiesenabled {{/str}}
			{{{cookieshelpiconformatted}}}
		</div>

        <div class="rowbloc">
            <div class="colbloc account_provider">
	
                {{#canloginasguest}}
                    <div>
                        <i class="fa fa-user-circle-o"></i> {{#str}}someallowguest{{/str}}
                        <form action="{{loginurl}}" method="post" id="guestlogin">
                            <input type="hidden" name="username" value="guest" />
                            <input type="hidden" name="password" value="guest" />
                            <button class="btn btn-secondary" type="submit">{{#str}}loginguest{{/str}}</button>
                        </form>
                    </div>
                {{/canloginasguest}}

                {{#hasidentityproviders}}
                    <div class="bloc_titre">{{#str}} potentialidps, auth {{/str}}</div>
                    <div class="potentialidplist" class="m-t-1">
                        {{#identityproviders}}
                            <div class="potentialidp">
                                <a href="{{url}}" title={{#quote}}{{name}}{{/quote}} class="btn btn-secondary btn-block">
                                    {{#iconurl}}
                                        <img src="{{iconurl}}" alt="" width="24" height="24"/>
                                    {{/iconurl}}
                                    {{name}}
                                </a>
                            </div>
                        {{/identityproviders}}
                    </div>
                {{/hasidentityproviders}}
            
			
			</div>
			
			<div class="sep">
				<div class= "septxt">
					{{#str}}loginSep,theme_cfai{{/str}}
				</div>
			</div>

            <div class="colbloc account_local">
				<div class="bloc_titre">{{#str}}login, theme_cfai{{/str}}</div>
                <form action="{{loginurl}}" method="post" id="login">
                    <input id="anchor" type="hidden" name="anchor" value="">
                    <script>document.getElementById('anchor').value = location.hash;</script>
					<input type="hidden" name="logintoken" value="{{logintoken}}">

                    <label for="username" class="sr-only">
                        {{^canloginbyemail}}
                            {{#str}} username {{/str}}
                        {{/canloginbyemail}}
                        {{#canloginbyemail}}
                            {{#str}} usernameemail {{/str}}
                        {{/canloginbyemail}}
                    </label>
                    <div class="input-group input-group-username">
                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                        <input type="text" name="username" id="username"
                            class="form-control"
                            value="{{username}}"
                            placeholder={{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}}>
                    </div>

                    <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
                    <div class="input-group input-group-password">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" name="password" id="password" value=""
                            class="form-control"
                            placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}>
                    </div>

                    {{#rememberusername}}
                        <div class="rememberpass">
                            <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                            <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
                        </div>
                    {{/rememberusername}}

                    <button type="submit"  id="loginsubmitbtn" class="btn btn-primary btn-block" id="loginbtn">{{#str}}login{{/str}}</button>
                </form>

                <div class="forgetpass">
                    <a href="{{forgotpasswordurl}}">{{#str}}loginPanelForgotten, theme_cfai{{/str}}</a>
                </div>
            </div>
			
			<div class="sep">
				<div class= "septxt">
					{{#str}}loginSep, theme_cfai{{/str}}
				</div>
			</div>
			
			<div class="colbloc account_regist">
			{{#hasinstructions}}
					{{#cansignup}}
						<div class="bloc_titre">{{#str}}firsttime{{/str}}</div>
						<div class="registration">
							<div class="instructions">
								{{{instructions}}}
							</div>
							
							<form class="registration_form" action="{{signupurl}}" method="get" id="signup">
								<button type="submit" class="btn btn-secondary">{{#str}}startsignup{{/str}}</button>
							</form>
							
						</div>
					{{/cansignup}}
				{{/hasinstructions}}
			</div>
        </div>

</div>
</div>



{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
