<div id="banner-background" class="container-fluid">
    <div id="banner-content">
		
		<div id="banner_logo">	
			<a class="banner_logo_home_link" href="{{{ config.wwwroot }}}/?redirect=0">
					<span id="logoL1">M</span>
					<span id="logoL2">O</span>
					<span id="logoL3">O</span>
					<span id="logoL4">C</span>
			</a>
		</div>
		{{{ output.custom_menu_header }}}
		<div id="clear"></div>
    </div>
</div>