<div id="banner-background" class="container-fluid">
    <div id="banner-content">

		{{#frontpage}}
			
			{{{ menuheader }}}

			<div id="banner_logohome">
				<a id="logoMooc" href="{{{ config.wwwroot }}}/?redirect=0">
					<span id="logoL1">M</span>
					<span id="logoL2">O</span>
					<span id="logoL3">O</span>
					<span id="logoL4">C</span>
				</a>
			</div>
			<a href="https://www.hes-so.ch/" id="logoHes">
					<img src="{{{hesso_S}}}" alt="HES-SO" width="100" height="50">
			</a>
			<div id="recherche">
				<form id="searchFormHome" name="keywords" type="GET">
					<input type="hidden" name="redirect" value="0">
					<input type="hidden" name="categoryid" value="1">
					<input type="text" id="inputText" placeholder="{{#str}}searchcourse,theme_moodec{{/str}}" name="keyword" value="">
					<input type="submit" value="Valider" id="searchWhite" />
				</form>
			</div>
		{{/frontpage}}
		{{^frontpage}}
			<div id="banner_logo">	
				<a class="banner_logo_home_link" href="{{{ config.wwwroot }}}/?redirect=0">
			
					<img src="{{{logoMoocHes}}}" alt="logo MOOC" width="300" height="50"  style="display: none;">
					<span id="logoL1">M</span>
					<span id="logoL2">O</span>
					<span id="logoL3">O</span>
					<span id="logoL4">C</span>
				</a>
			</div>
			{{{ menuheader }}}
			<div id="clear"></div>	
		{{/frontpage}}
    </div>
</div>