{{>theme_moodec/head}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}
	
	
    {{>theme_moodec/header}}
    {{>theme_moodec/banner}}

    <div id="page" class="container-fluid">
		<div id="page-wrap">
			<div id="page-layer">
			
				 {{{ output.teacherdash }}}
				<header id="page-header" class="row">
					<div class="col-xs-12 p-a-1">
						<div class="card">
							<div class="card-block">
								{{{ output.header_navbar }}}
			
							</div>
						</div>
					</div>
				</header>

				
				<div id="page-content" class="row">
					
					<div id="region-main-box" class="col-xs-12">
						{{#hasregionmainsettingsmenu}}
						<div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
							<div> {{{ output.region_main_settings_menu }}} </div>
						</div>
						{{/hasregionmainsettingsmenu}}
						<section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
							
							<div class="card card-block">
							{{#hasregionmainsettingsmenu}}
								<div class="region_main_settings_menu_proxy"></div>
							{{/hasregionmainsettingsmenu}}
							{{{ output.course_content_header }}}
							{{{ output.main_content }}}
							{{{ output.course_content_footer }}}
							</div>
						</section>
						{{#hasblocks}}
						<section data-region="blocks-column" class="hidden-print">
							{{{ sidepreblocks }}}
						</section>
						{{/hasblocks}}
					</div>
				</div>
			</div>
        </div>
    </div>
    {{> theme_moodec/nav-drawer }}
</div>
{{>theme_moodec/footer}}

