<a href="#" id="back-to-top" role="button" title="{{#str}}backtotop, theme_moodec{{/str}}"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>

<footer id="page-footer" class="p-y-1 bg-inverse">
    <div class="container-fluid">
        <div id="course-footer">{{{ output.course_footer }}}</div>

        <div class="footer-left-col">
            <div class="contact">
                <h3>{{#str}}contact,theme_moodec{{/str}}</h3>
                <span class="footer_icon_txt">
					<i class="fa fa-phone" aria-hidden="true"></i>
					+41 58 900 01 17 
				</span>
				<span id="footer-hours" class="footer_icon_txt">
					09.00-12.00 
					<span id="footer_hours_l2">13.30-17.00</span>
				</span>
                
				<span class="footer_icon_txt">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					<a class="" href="mailto:cyberlearn@hes-so.ch">cyberlearn@hes-so.ch</a>
				</span>

            </div>
			<div class="link">
				<h3>{{#str}}links,theme_moodec{{/str}}
				</h3>
				<a href="{{{ config.wwwroot }}}/mod/certificate/verify_certificate.php" target="_blank">
					{{#str}}verifymoodeccertificate,theme_moodec{{/str}}
				</a>
			</div>
			<div style="clear:both;"></div>
        </div>

        <div class="footer-right-col">
            <div class="social">
                <h3>{{#str}}joinin,theme_moodec{{/str}}</h3>
                <a class="facebook" title="facebook" href="https://www.facebook.com/cyberlearn" target="_blank"></a>
                <a class="instagram" title="instagram" href="https://www.instagram.com/cyberlearn_/?hl=fr" target="_blank"></a>
                <a class="twitter" title="twitter" href="https://twitter.com/thecyberlearn" target="_blank"></a>
                <a class="youtube" title="youtube" href="http://www.youtube.com/user/TheCyberlearn" target="_blank"></a>
                <a class="switchtube" title="SWITCH Tube" href="https://tube.switch.ch/profiles/2100" target="_blank"></a>
            </div>
            <div class="partner">
                <a id="hes-logo" href="https://www.hes-so.ch/" target="_blank" title="HES-SO">
                </a>
            </div>
			<div style="clear:both;"></div>
        </div>
		<div style="clear:both;"></div>
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>


</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['jquery','theme_boost/tooltip'], function($){$('[data-toggle="tooltip"]').tooltip()});
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}