{{>theme_moodec/head}}
<input type="hidden" id="token" value="{{{ sessiontoken }}}"/>
<div id="page-wrapper">
	{{>theme_moodec/popup}}
    {{{ output.standard_top_of_body_html }}}

    {{>theme_moodec/header_homepage}}
    {{>theme_moodec/banner_homepage}}

    <div id="page" class="container-fluid">
        <div id="page-wrap">
			<div id="page-layer">
				<div class="hide">{{{ output.main_content }}}</div>
				
			
				<div id="page-content" class="row">
					<div id="region-main-box" class="col-xs-12">

						<div id="bgWindow">
							<div id="blocCatalogue">
								<h1 id="researchAdv">
									{{#str}}searchadvanced,theme_moodec{{/str}}
								</h1>
								<div id="blocCatalogueBg">
									<div id="filtreCatalogue">
										<div class="accordion">
											<div class="filtreBloc">
											<h1 class="titleFilter">
											{{#str}}keywords,message{{/str}}
											</h1>
											<ul class="subTitleFilter"><div id="keywordsFilter"><input type="text" id="inputTextSearchAdv" placeholder="Chercher un cours..." name="keyword" value="{{{keyword}}}"></div></ul>
											</div>
											<div class="filtreBloc">
												<h1 class="titleFilter">
												{{#str}}institution{{/str}}
												</h1>
												<ul class="subTitleFilter" id="institutionFilter"></ul>
											</div>
											<div class="filtreBloc">
												<h1 class="titleFilter">
												{{#str}}language,hub{{/str}}
												</h1>
												<ul class="subTitleFilter" id="langFilter"></ul>
											</div>
											<div id="clear"></div>
										</div>
									</div>
									<div id="catalogue">
										<div id="coursListe">

										</div>
									</div>
									<div id="clear"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
    </div>
	{{#adminview}}
	{{> theme_moodec/nav-drawer }}
	{{/adminview}}
</div>

{{>theme_moodec/footer}}
