{{>theme_moodec/head}}
<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_moodec/header_homepage}}
    {{>theme_moodec/banner_homepage}}

    <div id="page" class="container-fluid contact">
        <div id="page-wrap">
			<div id="page-layer">
				<div class="hide">{{{ output.main_content }}}</div>
				
			
				<div id="page-content" class="row">
					<div id="region-main-box" class="col-xs-12">
						<div id="frmContact">
							<h1 id="titleContact">{{#str}}contacttitle,theme_moodec{{/str}}</h1>
							<div id="frm">   
								<div class="formGroup">
									<label>{{#str}}contactname,theme_moodec{{/str}}</label>
									<input type="text" name="name" id="nameContact" class="formInput">
								</div>
								<div class="formGroup">
									<label>{{#str}}contactforname,theme_moodec{{/str}}</label>
									<input type="text" name="forname" id="fornameContact"  class="formInput">
								</div>
								<div class="formGroup">
									<label>{{#str}}contactemail,theme_moodec{{/str}}</label>
									<input type="text" name="email" id="emailContact"  class="formInput">
								</div>
								<div class="formGroup">
									<label>{{#str}}message,theme_moodec{{/str}}</label>
									<textarea name="message" id="messageContact"   class="formInput" rows="4" cols="50"></textarea>
								</div>
								<div class="formGroup">
									<label>Captcha : </label>
									<img id="captcha_code" src="{{{ config.wwwroot }}}/theme/moodec/srv/captcha_code_file.php" />
									<button name="submit" class="btnRefresh" onClick="refreshCaptcha();"></button>
								</div>
								<div class="formGroup">
									<label></label>
									<input type="text" name="captcha" id="captcha"  class="formInput" />
								</div>
								<div class="formGroup">
									<label></label>
									<span id="info"></span>
								</div>
							</div>
							<button name="submit" class="btnAction" onClick="sendContact();">{{#str}}send,theme_moodec{{/str}}</button>
						</div>


					</div>
				</div>
			</div>
		</div>
    </div>
	{{#adminview}}
	{{> theme_moodec/nav-drawer }}
	{{/adminview}}
</div>

{{>theme_moodec/footer}}
