{{>theme_moodec/head}}

<input type="hidden" id="token" value="{{{ sessiontoken }}}"/>
<div id="page-wrapper">
	{{>theme_moodec/popup}}
	{{{ output.standard_top_of_body_html }}}
	{{>theme_moodec/header_homepage}}
    {{>theme_moodec/banner_homepage}}
	
	<div id="page" class="container-fluid homepage">
		<div id="page-wrap">
			<div id="page-layer">
				<div id="page-content" class="row">
				
					<div class="hide">{{{ output.main_content }}}</div>
					
					<div id="page-tagInscris">
						<div id="page-tagInscris-box">
							<div class="card">
								<div class="card-block">
									{{#str}}subscribehome,theme_moodec{{/str}}
									<span>{{#str}}nowhome,theme_moodec{{/str}}</span>
								</div>
							</div>
						</div>
					</div>
					
					<div id="tagInscrisTriangle">
						<div id="tagInscrisCarre"></div>
					</div>
					
					{{{ output.frontpage_header }}}
					
					<div id="topCours">
						<h2>{{#str}}topcourse,theme_moodec{{/str}}</h2>
						<div id="coursListe"></div>
					</div>
					<div id="futurCours">
						<h2>{{#str}}topfuturecourse,theme_moodec{{/str}}</h2>
						<div id="coursFutureListe"></div>
					</div>

					
					<div id="partenaires_logos">
						<h2>{{#str}}partenaires,theme_moodec{{/str}}</h2>
						 {{{ partenaires }}} 
					</div>
					
					
					<div id="region-main-box" class="col-xs-12">
						<section data-region="blocks-column" class="hidden-print">
							{{{ sidepreblocks }}}
						</section>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="hide">{{{ output.main_content }}}</div>
	{{#adminview}}
	{{> theme_moodec/nav-drawer }}
	{{/adminview}}
</div>

{{>theme_moodec/footer}}
