<div  style="display: none;"><h1>MOOCs HES-SO</h1><h2>Plateforme officielle des MOOCs de la HES-SO, administré par Cyberlearn, le centre-learning de la HES-SO.</h2></div>

<nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex" id="navtop">


   <div data-region="drawer-toggle" class="btn-drawer-toggle d-inline-block ml-3 navbar-nav">
		<button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}expand, core{{/str}}</span></button>
	</div>
	
	
	<!-- custom_langmenu -->
	{{#output.custom_menu_language}}
		<ul class="navbar-nav  d-md-flex langmenu ml-3  ">
			{{{ output.custom_menu_language }}}
		</ul>
	{{/output.custom_menu_language}}

	
	
	
	<div id="headersearchbox">
		<form id="headercoursesearch" class="form-inline" action="{{{coursesearchaction}}}" method="get">
			<div class="input-group">
				<input type="text" id="headershortsearchbox" class="searchInput" size="12" name="search" placeholder="{{#str}}searchcourse,theme_moodec{{/str}}"/>

				<button id="search-button" class="searchBtnSubmit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>

			</div>
		</form>
	</div>   

	
	
	<ul class="nav navbar-nav ml-auto usernavmenu">	
		
		
			<!-- custom_menu  -->
			{{{ output.custom_menu_admin }}}
			{{{ output.custom_menu }}}
		
		
		<!-- navbar_plugin_output -->
		<li class="nav-item">
			{{{ output.navbar_plugin_output }}}
		</li>
		
		
        <!-- user_menu -->
        {{#isloggedin}}
		
			{{#isguest}}
				<div class="usermenu"><span class="login">{{#str}}guestUser,theme_moodec{{/str}} (<a href="{{{ config.wwwroot }}}/login/index.php">{{#str}}login{{/str}}</a>)</span></div>
			{{/isguest}}
			
			{{^isguest}}
				{{{ output.user_menu }}}
			{{/isguest}}
			
		{{/isloggedin}}
		{{^isloggedin}}
			{{{ output.user_menu }}}
		{{/isloggedin}}
		

        



        
           
		
		
		<!-- page_heading_menu -->
		{{{ output.page_heading_menu }}}
    </ul>


</nav>

