{{>theme_moodec/head}}
<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}
	{{>theme_moodec/header_homepage}}
    {{>theme_moodec/banner}}
	
    <div id="page" class="container-fluid columns1">
		<div id="page-wrap">
			<div id="page-layer">
				<div id="page-content" class="row">
					<div id="region-main-box" class="col-xs-12">
						<section id="sectionlogin">
							
								<h1>{{#str}}login{{/str}}</h1>
								
								{{{ output.main_content }}}
								


						</section>
					</div>
				</div>
			</div>
		</div>
    </div>

</div>
{{>theme_moodec/footer}}