{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<div  style="display: none;"><h1>Cyberlearn</h1><h2>Le centre e-learning de la HES-SO, il a été créé en 2004. Il propose aux professeur-e-s de la HES-SO un soutien actif pour les aider à enrichir leurs cours présentiels avec des solutions technologiques favorisant l'apprentissage.</h2></div>
<header role="banner" class="pos-f-t navbar navbar-full navbar-light bg-faded navbar-static-top moodle-has-zindex">
    <div class="container-fluid navbar-nav">

        <div data-region="drawer-toggle" class="btn-drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn pull-xs-left btn-drawer m-r-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}menubar,theme_moodec{{/pix}}<span class="sr-only">{{#str}}expand, core{{/str}}</span></button>
        </div>
		 <!-- custom_langmenu -->
            {{{ output.custom_menu_language }}}
		<div id="headersearchbox">
			<form id="headercoursesearch" class="form-inline" action="{{{coursesearchaction}}}" method="get">
                <div class="input-group">
                    <input type="text" id="headershortsearchbox" class="searchInput" size="12" name="search" placeholder="{{#str}}searchcourse,theme_moodec{{/str}}"/>

                    <button id="search-button" class="searchBtnSubmit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>

                </div>
            </form>
		</div>   




        <!-- user_menu -->
        {{#isloggedin}}
		
			{{#isguest}}
				<div class="usermenu"><span class="login">{{#str}}guestUser,theme_moodec{{/str}} (<a href="{{{ config.wwwroot }}}/login/index.php">{{#str}}login{{/str}}</a>)</span></div>
			{{/isguest}}
			
			{{^isguest}}
				{{{ output.user_menu }}}
			{{/isguest}}
			
		{{/isloggedin}}
		{{^isloggedin}}
			{{{ output.costom_loginBox }}}
		{{/isloggedin}}
		

        <!-- navbar_plugin_output -->
        {{{ output.navbar_plugin_output }}}



        <nav class="nav navbar-nav hidden-md-down">
           
			<!-- custom_menu  -->
            {{{ output.custom_menu }}}
			
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </nav>

        
    </div>
</header>

