{{#showincourseonly}}
{{#hasteacherdash}}
	<div id="coursecontrols">
		<div class="teacherdashbutton fontOswald">
			<i></i><a role="button" data-toggle="collapse" href="#teacherdashslider" aria-expanded="false" aria-controls="teacherdashslider">{{{togglebutton}}}</a>
		</div>
		
		{{#haspermission}}
		{{#dashlinks}}
		{{#haseasyenrollment}}
			<div class="enrollcodebutton fontOswald"><a href="{{{url}}}">{{{title}}}</a></div>
		{{/haseasyenrollment}}
		{{/dashlinks}}
		{{/haspermission}}

	
	</div>
	
	<div style="clear:both;"></div>

{{#teacherdash}}
<div class="collapse" id="teacherdashslider">
	<div class="teacherdashboard">

    <div class="container-fluid">
    <div class="coursemanagementmessage">{{{coursemanagementmessage}}}</div>
    <div class="row">

        <div class="col-md-4 questionlinks">
        {{#hasquestionpermission}}
        <div class="dashtitle">
            <h3><i class="fa fa-question-circle dashicon"></i>{{{qbanktitle}}}</h3>
            <p>{{{qbankdesc}}}</p>
        </div>
        <div class="list-group">
            {{#dashlinks}}
            {{#hasqbanklinks}}
                <a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
            {{/hasqbanklinks}}
            {{/dashlinks}}
        </div>
        {{/hasquestionpermission}}
        {{#hasbadgepermission}}
			<div class="dashtitle">
				<h3><i class="fa fa-trophy dashicon"></i>{{{badgestitle}}}</h3>
				<p>{{{badgesdesc}}}</p>
			</div>
			<div class="list-group">
				{{#dashlinks}}
				{{#hasbadgelinks}}
					<a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
				{{/hasbadgelinks}}
				{{/dashlinks}}
			</div>
        {{/hasbadgepermission}}
        </div>

        {{#hascoursepermission}}
        <div class="col-md-4 coursemanagelinks">
			<div class="dashtitle">
				<h3><i class="fa fa-cogs dashicon"></i>{{{coursemanagetitle}}}</h3>
				<p>{{{coursemanagedesc}}}</p>
			</div>
			<div class="list-group">
				{{#dashlinks}}
				{{#hascoursemanagelinks}}
					<a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
				{{/hascoursemanagelinks}}
				{{/dashlinks}}
			</div>
        </div>
        {{/hascoursepermission}}

        {{#hasuserpermission}}
        <div class="col-md-4 userlinks">
			<div class="dashtitle">
				<h3><i class="fa fa-users dashicon"></i>{{{userlinkstitle}}}</h3>
				<p>{{{userlinksdesc}}}</p>
			</div>
			<div class="list-group">
				{{#haspermission}}
				{{#dashlinks}}
				{{#haseasyenrollment}}
					<a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
				{{/haseasyenrollment}}
				{{/dashlinks}}
				{{/haspermission}}
				{{#dashlinks}}
				{{#hasuserlinks}}
					<a href="{{{url}}}" class="list-group-item">{{{title}}}</a>
				{{/hasuserlinks}}
				{{/dashlinks}}
			</div>
			
			{{#hascoursepermission}}
				{{#dashlinks}}{{#hascoursemanagemorelinks}}
					<a href="{{{url}}}" class="list-group-item more-item fontOswald"><i></i>{{{title}}}</a>
				{{/hascoursemanagemorelinks}}
				{{/dashlinks}}
			{{/hascoursepermission}}
        </div>
        {{/hasuserpermission}}
		
		

    </div>
    </div>

</div>
</div>
{{/teacherdash}}
{{/hasteacherdash}}



{{^hasteacherdash}}
	{{#haseditcog}}
		<div id="coursecontrols"><div class="editcogbutton">{{{editcog}}}</div></div>
	{{/haseditcog}}
{{/hasteacherdash}}



{{/showincourseonly}}