
/*********************************************** CYBERLEARN THEME CSS *****************************************************/
/******************************************************* NAVBAR ***********************************************************/




#banner-background 
{
    background-color: $primaryWhite;
    height: 81px;
    min-height: 81px;
	padding: 35px 0 10px 0;
	margin: 0 auto;
    width: 98%;

    #login-banner 
    {
        margin-top:0;
    }

    #banner-content
    {
        //padding: 35px 0 0 0;
		height: 46px;
        #banner-menu
        {
			display: flex;
			border-bottom: 6px solid $color1;
			height: 46px;
			
			
			#logosmall
			{
				display: flex;
				width: 32px;
				height: 40px;
				min-width: 32px;
				background:$primaryWhite url([[pix:theme_cfai|logo_s]]);
				background-repeat: no-repeat;
				background-position: right center;
				background-size: auto 62%;
				
			}
			
			#mitems
			{
				flex: 8;
				display: flex;
				padding-left: 5px;
				
				.mitem
				{
					margin: 0 10px;
					color: #000;
					font-size: 20px;
					line-height: 42px;
					opacity: .8;
					text-decoration: none;
					position: relative;
					
					&::after
					{
						position: absolute;
						top: 35px;
						left: 0;
						width: 100%;
						height: 4px;
						background: $color2;
						content: '';
						opacity: 1;
					}
				}
				a.mitem
				{

					&::after{
                        opacity: 0;
						top: 60%;
						background: $color3_l07;
                        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
                        transition: opacity 0.3s, transform 0.3s;
                        -webkit-transform: translateY(15px);
                        -moz-transform: translateY(15px);
                        transform: translateY(15px);
                    }
                    
					&:hover, &focus
                    {
                        opacity: 1;

                    }
                    &:hover::after, &focus::after
                    {
                        	opacity: 0.4;
                            -webkit-transform: translateY(10px);
                            -moz-transform: translateY(10px);
                            transform: translateY(10px);
                    }
				}
			}
	

        }
		
/*
        #banner-logo-home 
        {
            display: block;
			width: 50%;
			margin: 0 auto;
			max-width: 600px;
			img
			{
				width: 100%;
				height: auto;
			}
        }
		*/
    }
}

#banner_logohome
{
	max-width: 1024px;
	margin: 4% auto 0;
	text-align: center;
	
	#logoCFAI {
		display: block;
		width: 45%;
		margin: 0 auto;
		img
		{
			width: 100%;
			height: auto;
		}
	}

}
#banner_subtitle
{
	text-align: center;
	color: $color1_l07;
	font-size: 23px;
	letter-spacing: 1px;
	font-family: "oswald","Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
}




body
{
	&.pagelayout-frontpage
	{
		
		&.site_frontpage   
		{
			#banner-background 
			{
				height: 750px;
				min-height: 750px;
				
				background-image: url([[pix:theme_cfai|bghome]]);
				background-repeat: no-repeat;
				background-position-x: right;
				background-position-y: bottom;
				background-size: 100% auto;
				
				#banner-content #banner-menu #logosmall
				{
					display: none; 
				}
	
			}
			
			#recherche {
				width: 50%;
				max-width: 612px;
				min-width: 300px;
				margin: 0 auto;
				margin-top: 50px;
				display:block;
			
			
				#searchFormHome {
					position: relative;
					height: 40px;
					padding: 0;
					
					#inputText {
						position: absolute;
						right: 0;
						top: 0;
						height: 40px;
						width: 100%;
						padding-left: 2%;
						padding-right: 55px;
						margin: 0;
						font-size: 1.2em;
						line-height: 1.3em;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
						-webkit-transition: none;
						-moz-transition: none;
						-o-transition: none;
						transition: none;
						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
						border: 1px solid #aaa;
					}

					input[type="submit"]#searchWhite {
						
						background: url([[pix:theme_cfai|searchWhite]]) no-repeat center center;

						height: 40px;
						width: 40px;
						background-size: 45px auto;
						margin: 0;
						padding: 0;
						background-color: #007cb7;
						opacity: 1;
						text-indent: -9999px;
						position: absolute;
						right: 0;
						top: 0;
						
					}
				}
			}

		}
		
		
		#region-main.has-blocks
		{
			width: 100%;
			
			.card-block
			{
				background-color: rgba(235, 235, 235, 0.8);
				//border: 1px solid #d5d5d5;
			}
		}
		
	}
}

@media screen and (max-width: 1200px) 
{

	body
	{
		&.pagelayout-frontpage.site_frontpage   
		{
			#banner-background 
			{
				height: 650px;
				min-height: 650px;
				#banner-content 
				{

					
					#recherche
					{
						margin-top: 35px;
					}
				
				}
			}
		}
	}
	

}



@media screen and (max-width: 1024px) 
{

	body
	{	
		#banner-background #banner-content 
		{
			#banner-menu #banner-menu-ul li {
				margin-left: 12px;
				
				#banner-menu-item span {font-size: 19px;}
			}
		}
		
		&.pagelayout-frontpage
		{
		
			&.site_frontpage  
			{
				#banner-background 
				{
					height: 550px;
					min-height: 550px;
					//background-image: url([[pix:theme_cfai|bgHome1024]]);
					#banner-content 
					{
						
						
						#recherche
						{
							margin-top: 25px;
							
							#searchFormHome {
								//height: 55px;
							}
							#inputText
							{
								padding-right: 45px;
							}
							input[type="submit"]#searchWhite
							{
								height: 40px;
								width: 40px;
								background-size: 36px auto;
							}
						}
						

					
					}
					
				}
			}
		}

	}	
}


@media screen and (max-width: 900px) 
{

	body
	{
		#banner-background #banner-content 
		{
			#banner-menu #banner-menu-ul li {
				
				&.menu_selected #banner-menu-item
				{
					&::after{
						height: 3px;
					}
				}
				
				a#banner-menu-item
				{
					&::after{
                        height: 3px;
                    }
				}
				
				#banner-menu-item span
				{
					font-size: 18px;
				}
			}
			
		
			#banner-logo-home 
			{
				width: 160px;
				height: 50px;
			}
			


		}
		/*
		&.pagelayout-frontpage
		{

			
			#banner-background #page-content 
			{

				#blocCatalogue
				{
					width: 98%;
					padding: 0 2%;
	
					.filtreBloc {
						float: left;
						width: 32%;
						margin: 0 0.66%;
					}
					
					#filtreCatalogue 
					{
						width: 100%;
						border: 0;
						border-bottom-width: 1px;
						border-style: solid;
						-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
						-moz-border-image: -moz-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
						-o-border-image: -o-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
						border-image: linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
						border-image-slice: 1;
					}
					
					#catalogue {
						width: 100%;
						margin-top: 0px;
						padding-top: 50px;
					}
				}
			}
		}
		*/
		
	}	
}

@media screen and (max-width: 800px) {


	
	body
	{
		/*
		&.pagelayout-frontpage
		{
			#page-content 
			{
				#blocCatalogue
				{
					.filtreBloc {
						float: left;
						width: 49%;
						margin: 0 0.5%;
					}
				}
			}
		}
		*/
		
		&.pagelayout-frontpage.site_frontpage 
		{
			#banner-background 
			{
				height: 460px;	
				min-height: 460px;	
				#banner-content 
				{
					#logoMooc
					{

						font-size: 16px;
						line-height: 20px;
						img
						{
							height: 19px;
						}
					}
					#recherche
					{
						margin-top: 15px;
						
						#searchFormHome {
							height: 30px;
						}

						#inputText
						{
							height: 30px;
							font-size: 1em;
							padding-right: 35px;
						}
						input[type="submit"]#searchWhite
						{
							height: 30px;
							width: 30px;
							background-size: 26px auto;
						}
					}
					

				}

			}
		}
	
	}	
}


@media screen and (max-width: 600px) {
	body
	{
		&.pagelayout-frontpage.site_frontpage 
		{
			#banner-background
			{
				height: 400px;
				background-image: url([[pix:theme_cfai|bghome480]]);
				
				#recherche 
				{
					width: 50%;
					min-width: 280px;
					margin: 0 auto;
					margin-top: 50px;
					display: block;
				}
			}
		}
		
		#banner-background
		{
			height: 101px;
			#banner-content
			{
				//padding: 45px 1% 0 1%;


				
				
				
				
				#banner-menu 
				{
					//border-bottom-width: 26px;
					//height: 66px;
					
					#banner-menu-ul 
					{
						padding: 0 14px 0 0;
						li 
						{
							display: block;
							line-height: 16px;
							
							#banner-menu-item 
							{
								line-height: 20px;
								display: block;
								height: 20px;
								
								span
								{
									font-size: 14px;
								}
								
							}
							
							#banner-menu-item span
							{
								display: none;
								&.menuicon
								{
									display: inline-block;
									width: 20px;
									height: 20px;
									//margin-left: calc(100% - 20px);
									
									&::before
									{
										padding-right: 0;
									}
								}
							}

							a#banner-menu-item::after
							{
								top: 5px;
								left: unset;
								right: -10px;
								width: 4px;
								height: 16px;

							}
							
							&.menu_selected #banner-menu-item::after
							{
								top: 5px;
								left: unset;
								right: -10px;
								width: 4px;
								height: 16px;
							}
							
							
							 a#banner-menu-item::after
							{
								-webkit-transition: opacity .3s,-webkit-transform .3s;
								-moz-transition: opacity .3s,-moz-transform .3s;
								-o-transition: opacity .3s,transform .3s;
								transition: opacity .3s,transform .3s;
								-webkit-transform: translateX(-10px);
								-moz-transform: translateX(-10px);
								-ms-transform: translateX(-10px);
								-o-transform: translateX(-10px);
								transform: translateX(-10px);
							}
						}
						
						
						
						
						
					}
				}
			}
			
		}
		/*
		&.pagelayout-frontpage
		{
			#page-content 
			{
				#blocCatalogue
				{
					.filtreBloc {
						float: left;
						width: 49%;
						margin: 0 0.5%;
					}
					
					#catalogue {
						width: 100%;
						margin-top: 0px;
						padding-top: 50px;
					}
				}
			}
		}
		*/
		
		&.pagelayout-frontpage.site_frontpage  
		{
			#banner-background 
			{
				#banner-content 
				{
					#banner_subtitle
					{
						font-size: 16px;
					}

				}

			}
		}
		
		
	}
}	


@media screen and (max-width: 480px) 
{
	body.pagelayout-frontpage.site_frontpage #banner-background 
	{
		height: 290px;
		min-height: 290px;
		padding-bottom: 0;
		#banner_logohome #logoCFAI {
			width: 200px;
		}
	}
	

	
	body #banner-background
	{
		width: 100%;
		padding-top: 64px;
		height: 110px;
		min-height: 110px;
		-webkit-transition: padding-top .5s, height .5s;
		-o-transition: padding-top .5s, height .5s;
		transition: padding-top .5s, height .5s;
		
		
	}
	
	
}
@media screen and (max-width: 400px) 
{
	body 
	{
		min-width: 320px; 
		
		&.pagelayout-frontpage.site_frontpage  
		{
			//logo 
			#banner_logohome
			{
				#banner_logohome #logoCFAI {
					width: 55%;
				}
				
			}
		}
		#banner-background #banner-content #banner-menu {
			right: 0px;
		}
		
		
	}
}