#page-footer
{
	background-color: $secondWhite;
	min-height: 29px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #666;
	//padding: 0px 1%;
	border-top: 1px dotted #ddd;
	
	.footerItem
	{
		
		
		padding: 3px 0px;
		font-size: 13px;
		line-height: 22px;
		text-align: center;
		
		
		&.first .footerItemtxt
		{
			border: none; 
		}
		
		
		.footerItemtxt
		{
			width: 100%;
			padding: 0 15px;
			display: block;
			border-left: 1px dotted #bbb;
			text-decoration: none;
		}
		
		a
		{
			color: $color1;
		}
		
		&.plus 
		{
			font-size: 11px;
			padding: 0px;
			background-color: #ccc;
			border-top: 1px dotted #aaa;
			width: 100%;
			text-align: center;
			
			>*
			{
				padding: 0px 15px;
			}
			
			a
			{
				color: $color1_l07;
			}
		}
		
	}
		
	

}


/******************************************************* BACK TO TOP ******************************************************/

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: -15px;
	height: 0px;
	width: 0px;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: opacity .2s ease-out, width .5s, height .5s;
    -o-transition: opacity .2s ease-out, width .5s, height .5s;
    transition: opacity .2s ease-out, width .5s, height .5s;
    opacity: 0;
	background-color: rgba(250,250,250,1);
	display: block;
    text-align: center;
    padding-top: 0px;
    border-radius: 50%;
	&.show
	{
		opacity: 0.7;
		height: 48px;
		width: 48px;
		right: 10px;
		padding: 5px;
	}
	
	&:hover
	{
		opacity: 1;
		
	}
	

	
	#bt_circle
	{
		padding: 5px;
		border-radius: 50%;
		
		&.bt_FondBleu
		{
			height: 38px;
			width: 38px;
			background-color: $color1;
		}
		&.bt_FondWhite
		{
			height: 28px;
			width: 28px;
			background-color: $primaryWhite;
		}
		
		#bt_arrow
		{
			svg path
			{
				fill: $color1;
			}
		}
		
	}
}




@media (max-width: 600px)
{
	body #page-wrapper
	{
		margin-bottom: -57px;
	}
	
	#page-footer
	{

		min-height: 58px;
		flex-direction: column;
	

		
		.footerItem
		{
			padding:0px;
			
			&.first .footerItemtxt
			{
				//border: none; 
			}
			
			
			.footerItemtxt
			{
				padding: 3px 15px;
				border-left: none;
				border-top: 1px dotted #bbb;

			}

		}
	
	
	}
	
	

}
