/******************************************************* NAVBAR ***********************************************************/

.colorbar
{
	flex: 1 100%;
	display: flex;
	height: 4px;
	background-color: $color3;
	order: 10;
	
	.colorbar1
	{
		flex: 1;
		background-color: $color1;
		height: 100%;
	}
	.colorbar2
	{
		flex: 1;
		background-color: $color2;
		height: 100%;
	}
	.colorbar3
	{
		flex: 4;
		background-color: transparent;
		height: 100%;
	}
	.colorbar4
	{
		flex: 3;
		background-color: $color2;
		height: 100%;
	}
}
			
			
.notloggedin  nav#navtop.fixed-top.navbar
{
	 padding: 0px 1%;
} 

nav#navtop
{
    &.fixed-top
	{
		justify-content: unset;
		align-items: normal;
		//flex: 1;
		flex-wrap: wrap;
		
		&.navbar
		{
			//border-bottom: 1px solid $color1_dark;
			max-height: 30px;
			box-shadow: unset;
            padding: 0px 1% 0 0px;

			
			
			.langmenu 
			{
				//flex: 1;
				display: flex;
				justify-content: flex-end;
				height: 30px;
				padding: 0 6px;
				
				.langmenu-item
				{
					width: 24px;
					height: 24px;
					color: #888;
					font-size: 1em;
					line-height: 24px;
					text-align: center;
					margin: 3px 1px;
					//border-left: 1px #aaa solid;
					
					
					
					&.sep
					{
						width: 1px;
						background-color: #aaa;
						
						
						&:last-child
						{
							display: none;
						}
					}
				}
				
				.langmenu-item.current
				{
					color: #000;
					background-color: $color3;
				}
			}
			
			
			.navbar-nav.usernavmenu
			{
				height: 30px;
				justify-content: flex-end;
				//padding-right: 1%;
				flex-wrap: nowrap;
			}
			
			
			
			
			.navbar-brand
            {
                display: none;
            }
			
            i.icon
            {
				&:before
				{
					color: $color1;
				}
            }
			
			.nav-item
			{
				display: flex;
				flex-wrap: nowrap;
				
				.nav-link
				{
					font-size: 1rem;
					font-weight: 100;
					padding: 0 10px;
					height: 30px;
					line-height: 30px;
					margin: 0px;
					overflow: hidden;
					
					
					
					i
					{
						line-height: 30px;
						height: 30px;
						
						&:focus, &:active, &:hover
						{
							outline-color: transparent;
							outline: unset;
						}
					}
				}
				
				.txt
				{
						padding-left: 5px;
				}
				
				
				&.mycourse .nav-link 
				{
					i
					{
						width: 16px;
						&:before
						{
							font-family: FontAwesome;
							font-size: 16px;
							line-height: 30px;
							color: $color1;
						}
					}
				}
				
			}
			
			
			#headersearchbox
            {
				//flex: 3;
				height: 30px;
				margin: 0 5px;
				padding: 3px;
				max-width: 400px;
				min-width: 300px;
				font-size: 1rem;
				//vertical-align: top;

				
				form
				{
					padding: 0;
					
					.input-group 
					{
					    width: 100%;
					}
				}
				
				.searchInput
				{
					height: 25px;
					width: 100%;
					padding: 2px 30px 2px 5px;
					//border-radius: 4px;
					border: 1px solid #bbb;
					//display: inline-block;
				}
				.searchBtnSubmit
				{
					height: 25px;
					width: 25px;
					padding: 0px;
					margin: 0px;
					margin-left:-25px;
					border: none;
					background-color: transparent;
					display: inline-block;
					opacity: 0.5;
					i
					{
						line-height: 26px;
						&:before
						{
							color: $color1_dark;
						}
						
					}
					&:hover
					{
						opacity: 1;
					}
				}
            }
			
			
			
			
			
			.dropdown
			{
			
				.dropdown-toggle
				{
					display: flex;
					justify-content: flex-end;
					overflow: hidden;
					position: relative;
					padding-right: 12px;
					height: 30px;
					
					
					
					.caret
					{
						position: absolute;
						top: 12px;
						right: 0;
						width: 10px;
						height: 8px;
						margin: 0;
						background:transparent url([[pix:theme_cfai|caret_down]]);
						background-repeat: no-repeat;
						background-position: left bottom;
						background-size: 100% auto;
					}
						
					
					&:after
					{
						display: none;
					}
					
				}
				
				
				.dropdown-menu
				{
					top: 25px;
					margin-top: 5px;
					overflow: visible;
					border: 1px solid $color1;
					border-top-width: 4px;
					background-color: $primaryWhiteOpacity;
					
					.dropdown-item
					{
						padding: 3px 10px;
						cursor: pointer;
						
					}
					
					
					&.dropdown-menu-arrow
					{
						left: unset;
						right: 16px;
						
						padding: 0.2rem 0; 
						background-color: rgba(255,255,255,.95);
						
						.dropdown-item
						{
							padding: 3px 10px 3px 24px;
							
							&:before
							{
								content: $arrowBlod;
								font-family: FontAwesome;
								font-style: normal;
								font-weight: normal;
								text-decoration: inherit;
								color: $color1;
								font-size: 0.8rem;
								vertical-align: middle;
								padding-right: 0.3em;
								margin-left: -15px;
								display: inline-block;
								width: 15px;
							}
						}
					}
					

				}
				
				
				&.show
				{
					
					.dropdown-toggle
					{
						//height: 30px;
						//position: relative;

						.caret
						{
							width: 16px;
							height: 12px;	
							top: 22px;
							background-image:url([[pix:theme_cfai|caret_up]]);
							right: calc(50% - 8px);
						}
						
					}
				}
			
			}
			
			

			
			
		
			
			.popover-region
			{
				margin-right: 0px;
				width: 30px;
				float: unset;
				
				.nav-link
				{
					width: 20px;
					margin: 0 5px;
					padding: 0;
					
					i
					{
						line-height: 28px;
						height: 30px;
					}
				}
				.popover-region-toggle
				{
					
					
					&:before
					{
						bottom: -4px;
						right: 5px;
						border-bottom: 10px solid $color1;
					}
					&:after
					{
						display: none;
					}
				}
				.popover-region-container
				{
					top: 30px;
					border: 1px solid $color1;
					border-top-width: 4px;
					width: 400px;
					
					.popover-region-header-container
					{
						background-color: $colorLign2;
						height: 34px;
						h3
						{
							font-size: initial;
							line-height: 34px;
							border: none;
						}
						.popover-region-header-actions
						{
							>* 
							{
								margin-left: 0px; 
							}
							
							.newmessage-link
							{
								margin-right: 0px; 
								padding-top: 8px;
								line-height: 24px;
							}
						}
					}
					
					.popover-region-content-container
					{
						height: calc(100% - 64px);
					}
					
					
					
					
					.popover-region-footer-container
					{
						background-color: $color1;
						color: #fff;
						border: none;
					}
				}
			}
			
			
			
			
			
			
			
			
			
		}
		
		
		.usermenu, #loginbox
		{
			.usertext
			{
				color: $color1;
				font-size: 1rem;
				line-height: 30px;
				max-width: 120px;
				margin: auto;
				padding: 0 5px;
				text-overflow: ellipsis;
				overflow: hidden;
				text-decoration: none;
				
			}
			
			.avatars, #iconloginuser
			{
				width: 30px;
				height: 27px;
				overflow: hidden;
				padding-top: 4px;
				

			}
			
			.dropdown.show
			{
				.dropdown-toggle
				{
					.caret
					{
						right: 19px;
					}
				}
			}

		}		
		
		

		
		
		.usermenu
		{

			height: 30px;
			margin-left: 10px;
			
			.userbutton
			{
				display: flex;
				justify-content: flex-end;
				
				.avatars
				{
					
					img.userpicture
					{
						width: 28px;
						height: 28px;
						margin: 0;
					}
				}
			
			
			}
			.usertext
			{

				span.meta
				{
					line-height: 1em;
					margin-top: -4px;
					font-style: italic;
					&.role
					{
						font-weight: 900;
					}
				}
			}
			
			
		}
		
		
		#loginbox
		{

			a
			{
				text-decoration: none;
			}
			
			.usertext
			{
				font-family: "oswald","Helvetica Neue", Arial,sans-serif;
				letter-spacing: 1px;
				font-weight: 100;
				text-transform: uppercase;
				display: block !important;
				line-height: 33px;
			}
			
			#iconloginuser:before
			{
				color: $color1;
				font-size: 28px;
				line-height: 30px;
				padding: 0;
			}
			
			
			#loginpaneldropdown
			{
				
				min-width: 260px;
				form
				{
					padding: 0px 0 5px 0;
					
				}
				
				
				
				.loginform
				{
					width: 90%;
					margin: 0 auto; 
					form
					{
						padding-bottom: 3px; 
					}
					
					
					
					

				}
				.signup
				{
					.forgetpass 
					{
						font-size: 14px;
						line-height: 22px;
						text-align: center;
						
						a
						{
							display: block;
						}
						
						a.linkLostPass {
							color: #999;
							line-height: 14px;
						}
						
						a.linkInscription {
							font-size: 12px;
							font-family: "oswald","Helvetica Neue", Arial,sans-serif;
							letter-spacing: 1px;
							font-weight: 100;
							text-transform: uppercase;
						}
					}
				}
				
			

				
			}
		}
		
		
		
		
		

		.loginpanel .potentialidplist .potentialidp
		{
			a
			{
				margin: 4px auto;
				width: 90%;
				padding: 4px 5px;
				position: relative;
				height: 34px;
				line-height: 26px;
				border: 1px solid #b5b5b5;
				
				img
				{
					display: block;
					position: absolute;
					width: 24px;
					height: 24px;
					background-color: #fff;
				}
				
				&.google img
				{
					background-color: #fff;
				}
				&.facebook img
				{
					background-color: #3b5897;
				}
				
			}
		}
	}
}

form#login
{

	.loginPanelSep
	{
		display: flex;
		justify-content: space-between;
		width: 90%;
		height: 20px;
		margin: 10px auto;
		/*
		margin: 5px auto 25px;
		border: 0;
		border-bottom-width: 1px;
		border-style: solid;
		-webkit-border-image: -webkit-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 0 60%;
		-moz-border-image: -moz-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 1 60%;
		-o-border-image: -o-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 1 60%;
		border-image: linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 0 60%;
		border-image-slice: 1;
		*/
		display: flex;
		justify-content: space-between;
		
		.septxt
		{

			margin: 0 auto;
			font-size: 11px;
			line-height: 20px;
			color: #999;
			width: 30px;
			height: 20px;
			text-align: center;
			//background-color: $primaryWhiteOpacity;
		}
		
		.seplineL
		{
			width: calc( 50% - 20px );
			height: 1px;
			margin-top: 10px;
			background: linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6)) 0 100%;
		}
		.seplineR
		{
			width: calc( 50% - 20px );
			height: 1px;
			margin-top: 10px;
			background: linear-gradient(-90deg,rgba(130,130,130,0),rgba(130,130,130,.6)) 0 100%;
		}
		
	}
	
	.input-group
	{
		
		.input-group-addon
		{
			padding: .5rem .75rem;
			margin-bottom: 0;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.25;
			color: #55595c;
			text-align: center;
			background-color: #eceeef;
			border: 1px solid rgba(0,0,0,.15);
			border-right: none;
			i
			{
				width: 15px;
				
				&::before
				{
					padding: 0;
					color: #888;
				}
			}
		}
		
		input
		{
			border: 1px solid rgba(0,0,0,.15);
			height: 36px;
			border-radius: 0;
			
			&#password
			{
				//border-top: 0;
			}
		}
		
		
		&.input-group-password
		{
			.input-group-addon, input
			{
				border-top: 0;
			}
		}
		
	}
	
	#loginsubmitbtn 
	{
		background: $color1;
		padding: 3px;
		width: 100%;
		margin: 10px 0 0 0;
		border: 1px solid #b5b5b5;
		border-top: none;
		line-height: 28px;
		
		&::before
		{
			content: $arrow;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			color: $secondWhite;
			font-size: 24px;
			line-height: 28px;
			float: left;
		}
		
		&::after
		{
			clear: both;
		}
		
	}
}


/************************************************* NAVBAR DRAWER ***********************************************************/
#nav-drawer
{
    background: -webkit-linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,0.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,0.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,0.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,1)); /* Standard syntax (must be last) */
	width: 284px;
	top: 0px;
    height: calc(100% - 0px);
    padding: 34px 8px 8px;
	border-right: 1px solid $color1_l07;

	
	
	
    .list-group
    {

		&.wrap-btn-drawer
		{
			margin: 0 -8px 15px;
		}
		
		&.top
		{
			margin-bottom: 15px;
		}
		
		.btn-drawer
		{
			margin: 0;
			width: 100%;
			height: 36px;
			background: transparent;
			border: none;
			padding: 0;
			text-align: right;
			cursor: pointer;
			
			&:focus
			{
				outline: unset;
			}			
			
			svg
			{
				width: 20px;
				height: 25px;
				margin: 3px 0;
				//margin-right: -15px;
				transform: rotate(180deg);
				
				path
				{
					fill: $color1;
				}
			}	
			
			&:hover
			{
				background: $color2_l07;
				svg
				{
					path
					{
						fill: $secondWhite;
					}
				}					
			}	
		}
		
		
        
		
		.list-group-item
        {
            //border:none;
			padding: 15px;
			padding: .5rem .75rem;
			
			i:before
			{
				color: $color1;
			}
			
			
            
			&.active
            {
                background-color: $color1;
                color: $primaryWhite;


                .m-l-0
                {
                    .media-left :before, .media-closed :before
					{
						color: $primaryWhite;
                    }
                }
            }

            .m-l-0
            {

				.fa-wrench:before 
				{
					content: $administration;
				}
            }
			
			.media-closed
			{
				display: none;
				width: 100%;
			}

			
        }
    }
	
	[data-key="siteadmin"], 
	[data-key="coursehome"]
    {
        .media-left, .media-closed
		{
			i.icon::before
			{
				font-size: 14px;
			}
		}
    }
	
    [data-key="mycourses"]
    {
        display: none !important;
    }
	[data-key="sitesettings"]
    {
        display: none !important;
    }

    [data-key="mycourses"] ~ a.list-group-item.list-group-item-action
    {
        display: none!important;
    }
	
	
	[data-key="participants"],  [data-key="2"]
	{
		display: none; 
	}
	
	[data-key="badgesview"] 
	{
		.media-left, .media-closed
		{
			i.icon
			{
				&:before
				{
					content: $badges;
				}
			}
		}
	}
	
	[data-key="grades"] 
	{
		.media-left, .media-closed
		{
			i.icon
			{
				&:before
				{
					content: $grades;
				}
			}
		}
	}
	
	
	&.closed
	{
		left: 0px;
		padding: 34px 0 0 0;
		width: 30px;
		background: $color1_dark;
		transition: width ease .5s, padding ease .5s, background ease .5s;
		overflow: hidden;
		
		.list-group
		{

			.btn-drawer
			{

				background: #9e005e;
				text-align: left;
				
				svg
				{
					margin-right: 0;
					margin-left: 2px;
					transform: rotate(0deg);
					
					path
					{
						fill: $primaryWhite;
					}
				}

				&:hover
				{
					background: $color1;
				}				
			}
		}
		.list-group-item{
		   padding: 5px 2px;
		   width: 24px;
		   height: 30px;
			border: none;
			border-bottom: 1px solid rgba(0, 64, 94, 0.4);
			background-color: transparent; 
		    display: block;
			margin: 0 auto;
		   
			&:first-of-type 
			{
				border-top: 1px solid rgba(0, 64, 94, 0.4);
			}
		   
		   
		   .media-body, .media-left
		   {
				display: none;
		   }
		   
		   .media-closed
			{
				display: block;
				flex: none;
			}
			
			&.active
			{
				background-color: $color2_l07;
			}
			
			i:before {
				color: $primaryWhite;
			}
	   }
	}
}













@media (min-width: 800px)
{
	body
	{
		&.pagelayout-frontpage.notadminview
		{
				#page.container-fluid
				{
					margin: 0 1%;
				}
				
				#banner-background #banner-content, footer
				{
					margin-left: 0px;
				}
			
			
		}
		
		&.drawer-ease 
		{
			#page, #banner-content, footer
			{
				-webkit-transition: margin-left .5s ease,margin-right .5s ease;
				-moz-transition: margin-left .5s ease,margin-right .5s ease;
				-o-transition: margin-left .5s ease,margin-right .5s ease;
				transition: margin-left .5s ease,margin-right .5s ease;
			}
		}
	}
}




@media (max-width: 991px)
{
	.hidden-md-down {
		display: block !important;
	}

	nav#navtop.fixed-top.navbar
	{
		.btn-drawer-toggle .btn
		{
			//margin: 7px 0px 7px 5px;
		}
		
		#headersearchbox
		{
			min-width: 200px;
		}
		
		.nav-item
		{
			
			span.txt
			{
				display: none;
			}
		}
		
			

		
		.dropdown .dropdown-menu.dropdown-menu-arrow 
		{
			right: 0;
			.dropdown-item 
			{
				white-space: normal;
				min-width: 50vw;
			}
		}
		
	}




}


@media (max-width: 600px)
{
	nav#navtop.fixed-top.navbar
	{

		.usermenu
		{
			.action-menu .avatar .userpicture
			{
				//margin: 0 3px 0 5px;
			}
			
		}
					
		#headersearchbox
		{
			
		}
		
			
		.navbar-nav
        {
			.nav-item.nav-link
			{
				width: 20px;
				&:before
				{
					font-size: 16px;
				}
			}
			

		}
	}
}

@media (max-width: 480px)
{
	
	
	#nav-drawer, #nav-drawer.closed
	{
		padding-top: 64px;
	}
	.notloggedin nav#navtop.fixed-top.navbar {
		padding: 0;
	}
	nav#navtop.fixed-top.navbar
	{
		max-height: 66px;
		height: 66px;
		padding: 0;
		flex-flow: row wrap;
		-webkit-transition: height .5s;
		-o-transition: height .5s;
		transition: height .5s;
		
		.langmenu 
		{
			order: 1;
		}

		.navbar-nav.usernavmenu
		{
			order: 2;
		}
		

		#headersearchbox
		{
			order: 4;
			height: 31px;
			flex: 1 100%;
			margin: 0;
			max-width: 100%;
			-webkit-transition: top .5s, width .5s, height .5s;
			-o-transition: top .5s, width .5s, height .5s;
			transition: top .5s, width .5s, height .5s;
			
			form
			{
				width: 98%;
				margin: 0 auto;
				-webkit-transition: width .5s;
				-o-transition: width .5s;
				transition: width .5s;
			}
		}
		
		.navbar-nav
        {		
			.popover-region .popover-region-container
			{
				top: 33px;
				width: auto;
			}
		}
		
		.dropdown.show 
		{
			position: unset;

			.dropdown-menu
			{
				left: 30px;
				width: calc(100% - 30px);
				top: 30px;
				background-color: rgba(245, 245, 245, 0.98);
				border: 2px solid $color1;
				margin: 0;
				&:before ,&:after
				{
					display: none; 
				}
			
				.dropdown-item
				{
					display: block;
					overflow: hidden;
					padding: 3px 10px;
					width: calc(100% - 10px);
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
			&.mycourse .dropdown-menu-arrow 
			{
				.dropdown-item:before 
				{
					margin-left: 0;
				}

			}
		}
		
		
		#loginbox #loginpaneldropdown
		 {
			margin: 0;
			left: 0;
			right: 0;
			top: 30px;
			width: 100%;
			border: 2px solid $color1;
			background-color: rgba(245,245,245,.98);
			&:after
			{
				display: none; 
			}

			&::before
			{
				right: 22px;

			}
		}
	}
}


