body.site_frontpage 
{
	
	#page-wrap
	{
		background: -webkit-linear-gradient(rgba(255,255,255,1) 10%, rgba(240,240,240,1) 20%,rgba(255,255,255,1) 60%);
		background: -o-linear-gradient(rgba(240,240,240,1) 10%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 60%); 
		background: -moz-linear-gradient(rgba(240,240,240,1) 10%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 60%); 
		background: linear-gradient(rgba(240,240,240,1) 10%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 60%); 
		padding: 0 3%;
	}
	
	#page #page-layer
	{
		margin : 0 20px;
	}
	
	
		
}

body.pagelayout-frontpage , body.pagelayout-login  
{
	#bgWindow
	{
		background: -webkit-linear-gradient(rgba(255,255,255,1) 10%, rgba(240,240,240,1) 20%,rgba(255,255,255,1) 60%);
		background: -o-linear-gradient(rgba(240,240,240,1) 10%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 60%); 
		background: -moz-linear-gradient(rgba(240,240,240,1) 10%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 60%); 
		background: linear-gradient(rgba(240,240,240,1) 10%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 60%); 
		padding-top: 4%;
		
	}
}

body.pagelayout-frontpage  
{
	&.notadminview 
	{
		margin-left: 0px;	

	}
	
	.popupBloc {
		display: none;
	}
	

	
	#page
	{
		#page-content .card-block .sitetopic
		{
			padding: 0!important;
			margin: 0;
			
			ul.section
			{
				margin: 0;
				padding: 0;
				
				li
				{
					background-color: $colorLign1;
					padding: 1%;
					padding-bottom: 2%;
					margin: 0;
					border: 1px solid $primaryWhite;
					&:nth-child(odd)
					{
						background-color: $colorLign2;
					}
				}
				
			}
			
		}
		
		#page-layer
		{
			//top: -75px;
			
			
			#topCours, #futurCours, #partenaires_logos
			{
				padding: 10px 0;
				
				h2
				{
					border: none;
					text-align: center;
				}
			}
			
			
			
			
			#topCours, #futurCours, #catalogue
			{
				background-color: $primaryWhite;
				width: 100%;
				
				#coursFutureListe, #course_list
				{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;

				
					.bgHover
					{
						position: absolute;
						top: 0;
						width: 100%;
						height: 1px;
						opacity: 0;
						background-color: $color2;
						padding: 5px 5px 0;
						color: #fff;
						font-size: 16px;
						line-height: 20px;
						text-align: center;
						overflow: hidden;
						
						.cadreW
						{
							border: 2px solid #fff;
							position: absolute;
							bottom: 3px;
							left: 3px;
							right: 3px;
							background-color: #ca9039;
						}
						
						i:before
						{
							color: #fff;
							display: block;
							margin: 0 auto;
							font-size: 20px;
							padding: 0;
							
							
						}
					}
					
					.textzone 
					{
						position: absolute;
						bottom: 3px;
						left: 0px;
						right: 0px;
						background-color: $primaryWhite ;
						padding: 8px 0;

						
						.detailsMoocs {
							display: block;
							width: fit-content;
							font-size: 1em;
							line-height: 1.1em;
							color: #9d9d9c;
							margin: 0 8px;
						}
						
						.titreMooc {
							display: block;
							font-size: 1em;
							color: $color1;
							line-height: 1.2em;
							font-family: 'Oswald', 'Helvetica';
							letter-spacing: 1px;
							margin: 10px 8px 0;
							height: 58px;
							overflow: hidden;
						}
					}
					
					.blocCours:hover
					{
						cursor: pointer;
						text-decoration: none; 
						border: 1px solid #ce8241;
							
						.textzone
						{
							
							background-color: transparent;
							height: 120px;
							transition:  height .5s;
							
							.detailsMoocs
							{
								color: $primaryWhite;
							}
							
							
							
						}
						
						.bgHover
						{
							height: 100%;
							opacity: 0.90;
							transition: height 0.5s;
							
						}
													
						.titreMooc
						{
							color: $primaryWhite;
							transition: color 0.5s;
						}

						
					}
				}
			}
			
			
			#course_list
			{

				
				.blocCours 
				{
					width: 220px;
					max-width: 220px;
					height: 250px;
					margin: 20px 10px;
					padding: 0px;
					cursor: zoom-in;
					text-align: left;
					position: relative;
					background-color: $color1;
					vertical-align: top;
					overflow: hidden;
					border: 1px solid $color1_dark;
					
					.imgCours 
					{
						overflow: hidden;
						position: relative;;
						width: 100%;
						height: 130px;
						background-color: #f5f5f5;
						//border: 1px solid #c5c5c5;
						//border-bottom: none;
					}
					
					.dateCoursHighLight {
						-moz-transform: rotate(-40deg) skew(-0deg, 0);
						-ms-transform: rotate(-40deg) skew(-0deg, 0);
						-webkit-transform: rotate(-40deg) skew(-0deg, 0);
						transform: rotate(-40deg) skew(-0deg, 0);
						display: block;
						background-color: rgba(43,79,133,.85);
						position: absolute;
						left: -75px;
						top: -30px;
						width: 100%;
						color: #fff;
						font-size: 1.2em;
						font-weight: 600;
						font-family: 'Oswald', 'Helvetica';
						letter-spacing: 1px;
						text-transform: uppercase;
						line-height: 1.5em;
						text-align: center;
						padding-top: 50px;
						padding-bottom: 5px;
						box-shadow: 0px 11px 15px 0px rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
						
						div {
							display: block;
						}
					}

					.textzone 
					{
						height: 110px;
					}
					
					.bgHover
					{
						i.fa
						{
							display: block;
							margin: 50px auto 10px;
						}
						
						.cadreW
						{
							height: 80px;
						}
					}

				}
			}
			

			
			#futurCours
			{
				background-color: $colorLign2;
				#coursFutureListe
				{
					
					.blocCours
					{	
												
						height: 170px;
						background-color: $primaryWhite;
						border: 1px solid $color1;
						
						width: 220px;
						display: inline-block;
						margin: 20px 10px;
						padding: 0;
						text-align: center;
						position: relative;
						vertical-align: top;
							
						.imgCours 
						{
							position: unset;
							height: 100px;
							//border-bottom: 1px solid $color1;
						}
						
						.textzone 
						{
							height: 87px;
							padding: 0;
							bottom: 1px;
							//background-color: $primaryWhiteOpacity;
							background: transparent;
							.detailsMoocs
							{
								display: none;
								&.last
								{
									display: block;
									
									background: $color1_l05;
									width: 100%;
									height: 24px;
									margin: 0 ;
									color: $primaryWhite;
									overflow: hidden;
									font-size: 14px;
									font-family: "oswald","Helvetica Neue",Arial,sans-serif;
									letter-spacing: 1px;
									line-height: 1.5em;
									padding: 4px ;
								}
							}
						}
						

						.bgHover
						{
							i:before
							{
								content: $iconMenuContact;
							}
							.cadreW
							{
								height: 72px;
							}
							
							
						}
						
						&:hover
						{
							.textzone
							{
								height: 98px;
								.detailsMoocs
								{
									background: $color2;
								}
							}
						}
						
						
						
						
					}
					
					
				}
				
				
				
			}
			
			
			
			#partenaires_logos
			{
				background-color: $primaryWhite;
				width: 100%;
				padding-bottom: 20px;
				text-align: center;
				img {
					width: 150px;
					margin: 25px 4%;
				}
			}
			
			
			
			
			
			#blocCatalogue, #frmContact, #frmCertificate {

				margin: 0px auto;
				padding: 10px 1% 1%;
				width: 96%;
				background-color: $color3_l07;
				border: 1px solid $primaryWhite;
				

				
				#titleContact, #titleCatalog
				{
					color: $primaryWhite;
					border: none;
					margin-top: 5px;
					margin-bottom: 10px;
					line-height: 1.8rem;
				}
				
				#frm
				{
					padding: 10px 20px;
					width: 100%;
					background-color: $primaryWhiteOpacity;
					display: flex;
					flex-direction: column;

						
					input
					{
						height: 30px;
						margin: 8px 0;
						padding: 5px 10px;
						border: 1px solid #bbb;
						width: 100%;
					}
					textarea
					{
						height: 150px;
						min-height: 150px;
						max-height: 400px;
						margin: 8px 0;
						padding: 5px 10px;
						border: 1px solid #bbb;
						width: 100%;
					}
					
					.btnSubmit {
						width: 200px;
						font-size: 16px;
						border: 1px solid $color1_dark;
						margin: 10px auto;
						padding: 3px 15px;
						cursor: pointer;
					}
					
					
					.note
					{
						text-align: center;
						background: $color2_l07;
						padding: 8px;
						color: $color1_dark;
						
						&:before
						{
							content: $iconProgressBar;
							font-family: FontAwesome;
							color: $color1_dark;
							font-size: 1em;
							vertical-align: top;
							display: block;
						}
						
						&.error
						{
							background: transparent;
							color: $color3_dark;
							font-weight: 600;
							
							&:before
							{
								content: $iconAlert;
								color: $color3_dark;
							
							}
						}
					}

				}
				
				.btnRefresh {
					background:transparent url([[pix:theme_cfai|icon_refresh]]) no-repeat center ;
					background-size: 24px auto;
					opacity: 0.7;
					width: 30px;
					height: 30px;
					border: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					margin: 0;
				}
				
				.btnAction{
					display: block;
					width: 150px;
					margin: 0 auto;
					border: 1px solid $primaryWhiteOpacity;
				}
			}

			
			#page-content 
			{
				#blocCatalogue 
				{
					#blocCatalogueContent
					{
						width: 100%;
						background-color: $primaryWhiteOpacity;
						margin-bottom: 0px;
						display: flex;
						flex-direction: row;
						
						#filtreCatalogue
						{
							flex: 1;
							display: flex;
							flex-direction: column;
							padding: 1%;
							border: 0;
							border-right-width: 1px;
							border-style: solid;
							-webkit-border-image: -webkit-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
							-moz-border-image: -moz-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
							-o-border-image: -o-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
							border-image: linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
							border-image-slice: 1;
							
							.filtreBloc
							{
								opacity: 0.5;
								
								&.actived, &:hover, &#keywordsFilter
								{
									opacity: 1;
									
									h3
									{
										background: $color1;
									}
								}
								
								&#institutionFilter, &#langFilter
								{
									.filtreline
									{
										input[type="checkbox"], label
										{
											cursor: pointer;
										}
									}
								}
						
								
								h3
								{
									border: none;
									color: $primaryWhite;
									background: $color3;
									padding: 0 6px;
									margin: 0;
									cursor: pointer;
									height: 40px;
									line-height: 40px;
									overflow: hidden;
									transition: .25s;
									
									i
									{
									
									
										&:before
										{
											color: $primaryWhite;
											font-size: 16px;
										}
									}
									
									
								}
								
								.subTitleFilter
								{
									border: 1px solid #ccc;
									display: flex;
									flex-direction: column;
									padding: 8px;
									color: #000;
									background: rgba(250,250,250,.5);
									font-size: 15px;
									line-height: 1.45em;
									
									.filtreline
									{
										display: flex;
										margin: 5px 0;
										
										#inputTextSearchAdv
										{
											width: 100%;
											padding: 3px 25px 3px 6px;
										}
										
										.fa-search
										{
											width:20px;
											margin-left: -20px;
											opacity:  0.6;
											&:before
											{
												line-height: 36px;
											}
											
										}
										

										.shortname
										{
											display: none;
										}
										

										
									}
									
									
									
									input[type="radio"], input[type="checkbox"] 
									{
										width: 20px;
										height: 20px;
										min-width: 20px;
										min-height: 20px;
										margin-right: 8px;
									}
									
									label
									{
										margin: 0;
									}
									
									
								}
								
								&#keywordsFilter
								{
									.subTitleFilter .filtreline
									{
										margin: 0;
									}
								}
							
							}
					
						}
					}
					
					
					
					#catalogue {
						flex: 2;
						padding: 1%;
						
						#course_list 
						{
							width: 100%;
							margin: 0;
							display: flex;
							flex-wrap: wrap;
							justify-content: center;
							.blocCours {
								
							}
							.blocCoursEmpty {
								width: 80%;
								margin: 50px auto;
								text-align: center;
								font-family: 'Oswald', 'Helvetica';
								color: #b5b5b5;
								font-size: 2em;
								line-height: 3em;
							}
						}
					}
	
				}
			}
			
			
		}
	}
	
	
	#home_popup
	{
		background-color: rgba(23, 0, 13, 0.85);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1050;
		display: none;
		outline: 0;
		overflow-x: hidden;
		overflow-y: auto;
		//background-color: rgba(23, 0, 13, 0.85);
		padding: 5% 10%;
		opacity: 0;
		
		&.show
		{
			display: block;
			background: rgba(23, 0, 13, 0.85) url([[pix:theme_cfai|loading_grid]]) no-repeat center center;
			background-size: 100px auto; 
			opacity: 1;
			-webkit-transition: opacity ease-in-out 1s;
			-o-transition: opacity ease-in-out 1s;
			transition: opacity ease-in-out 1s;
			
			.loadingTitre
			{
				color: $color2;
				font-size: 20px;
				text-align:center;

			}
		}
		
		/*
		.modal-dialog
		{
			flex: 0 0 75%;
			max-width: 75%;
			
			.modal-header
			{
				color: $primaryWhite;
				border: none; 
				
				//background-color: $color1;
				h2
				{
					margin: 0 auto 0 0;
					color: $color1;
					line-height: 40px;
					font-size: 1.5rem;
					border: none; 
				}
				.close
				{
					color: $primaryWhite;
					background-color: $color2;
					opacity: .8;
					font-size: 32px;
					line-height: 32px;
					padding: 0;
					margin: 0 -1rem 0 0;
					width: 40px;
					min-width: 40px;
					height: 40px;
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;
					text-shadow: none;
					
					&:before
					{
						content: $iconClose;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: 100;
						color:$primaryWhite;
						//font-size: 1em;
						vertical-align: top;
						
					}
					
					&:hover
					{
						opacity: 1;
					}
				}
			}
			
			.colorbar
			{
				.colorbar3
				{
					//flex: 3;
				}

			}
		}
		*/
	}
}
#home_popup, #moodecDescContent
{

		.popup-content
		{
			width: 100%;
			pointer-events: auto;
			background-color: $primaryWhite;
			border: 1px solid #333;
			outline: 0;
			
			.popup-header
			{
				display: flex;
				padding: 10px 0;
				
				h2
				{
					margin: 0 auto 0 0;
					padding: 0 10px;
					color: $color1;
					line-height: 40px;
					font-size: 1.5rem;
					border: none; 
				}
				.close
				{
					color: $primaryWhite;
					background-color: $color2;
					opacity: .8;
					font-size: 32px;
					line-height: 32px;
					padding: 0;
					margin: 0 ;
					width: 40px;
					min-width: 40px;
					height: 40px;
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;

					&:before
					{
						content: $iconClose;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: 100;
						color:$primaryWhite;
						vertical-align: top;
						
					}
					
					&:hover
					{
						opacity: 1;
					}
				}
			}

			
			.popup-body
			{
				display: flex;
				flex-direction: row;
				
				#descriptionCours 
				{
					flex: 2;	
					text-align: justify;
					
					#texteDescription {
						margin: 20px;
						
						#iframeYoutube, #iframevideo {
							width: 100%;
							height: auto;
							max-width: 100%;
							margin-bottom: 15px;

							iframe {
								max-width: 100%;
								display: block;
								margin: 0 auto;
							}
						}
						
						#descriptionSummary
						{
							span {
								color: black;
								font-size: 1em;
								line-height: normal;
								
								.img-responsive {
									display: inline-block;
									width: 29%;
								}
							}
						}
					}
					
					#infoCourse
					{
						color: $colorIconBtn;
						margin: 20px;
						padding: 20px 10px 0;
						border: 0;
						border-top-width: 1px;
						border-style: solid;
						-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
						-moz-border-image: -moz-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
						-o-border-image: -o-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
						border-image: linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
						border-image-slice: 1;
						
						h3
						{
							border: none;
						}
						
						h4
						{
							color: $color2_dark;
							font-size: 1em;
							line-height: 2em;
							margin: 15px 0;
							
							
						}
						.infoComm
						{
							padding-left: 20px;
						}
					}
			
				}//descriptionCours 
				
				#inscription
				{
					flex: 1;
					max-width: 33.3%;
					min-height: 800px;
					padding: 0;
					text-align: center;
					background-color: $secondWhite;
					
					#btn-inscription
					{
						display: block;
						width: 100%;
						min-height: 2.2em;
						background-color: $color1;
						font-size: 1.5em;
						line-height: 2.2em;
						color: #fff;
						margin-bottom: 10px;
						padding: 6px 10px;
					}
					
					#moodecDescIcons
					{
						width: 100%;
						text-align: left;
						padding: 6px 10px;
						margin: 10px 0;
						line-height: 35px;
						
						.id-item
						{
							display: flex;
							justify-content: left;
						    line-height: 20px;
							margin: 5px 0;
							min-width: 220px;
							
							.iconTitle {
								padding-right: 26px;
								text-align: right;
								width: 50%;
								color: $color1;
								min-width: 105px;
								white-space: nowrap;
							}
							.iconDesc {
								padding-left: 3%;
								width: 50%;
								min-width: 105px;
								white-space: nowrap;
								
							}
						
						}
						
						#school .iconTitle {
							background: url([[pix:theme_cfai|home/icon_ecole]]) no-repeat right center;
							background-size: 20px 20px;
						}
						
						#effort .iconTitle {
							background: url([[pix:theme_cfai|home/icon_effort]]) no-repeat right center;
							background-size: 20px 20px;
						}
						
						#startdate .iconTitle {
							background: url([[pix:theme_cfai|home/icon_debut]]) no-repeat right center;
							background-size: 20px 20px;
						}
						
						#enddate .iconTitle {
							background: url([[pix:theme_cfai|home/icon_fin]]) no-repeat right center;
							background-size: 20px 20px;
						}
						
						#duration .iconTitle {
							background: url([[pix:theme_cfai|home/icon_duree]]) no-repeat right center;
							background-size: 20px 20px;
						}
						
						#courseformat .iconTitle {
							background: url([[pix:theme_cfai|home/icon_format]]) no-repeat right center;
							background-size: 20px 20px;
						}
						
						#price .iconTitle {
							background: url([[pix:theme_cfai|home/icon_price]]) no-repeat right center;
							background-size: 20px 20px;
						}
						
					}//moodecDescIcons
					
					#container_professor
					{
						width: 100%;
						padding: 6px 10px;
						margin: 10px 0;
						
						.teacher
						{
							margin: 10px 20px 25px;
						}
						
						    
						.t-name
						{
							.t-pic
							{
								width: 120px;
								height: 100px;
								overflow: hidden;
								margin: 0 auto;
								img
								{
									margin: 0;
								}
							}
							
							.role
							{
								color: #000;
							}
							
							.t-socialNetwork
							{
								display: flex;
								justify-content: center;
								
								.email
								{
									background: url([[pix:theme_cfai|home/icon_mail]]) no-repeat right center;
									background-size: 20px 20px;
									width: 20px;
									height: 20px;
									display: black;
									margin: 5px 10px;
								}
							}
						
						}
					}//container_professor
					
				}//inscription
				
			}
			
		}
	
}

#moodecDescContent
{
	.popup-content
	{
		border: none;
		
		.popup-body
		{
		
			#inscription
			{
				.moocimg
				{
					width: 100%;
				}
			}
		}
		
	}
}	
/*
#moodecDescContent
{

	

	.modal-body {
		background-color: #f5f5f5;
	}
	

		
		#mooc {
			padding-left: 2%;
			padding-right: 2%;
			//padding-right: 40px;
			padding-top: 20px;
			
			h2 {
				font-family: 'Oswald', 'Helvetica';
				color: $color1;
				font-size: 2em;
				line-height: 1.6em;
				font-weight: 400;
			}
		}
		
		#descriptionCours {
			width: 60%;
			float: left;
			padding: 2%;
			text-align: justify;
			
			#texteDescription {
				margin-bottom: 50px;
				
				#iframeYoutube, #iframevideo {
					width: 560px;
					height: 315px;
					max-width: 100%;
					display: inline;
					iframe {
						max-width: 100%;
						float: left;
						padding: 10px;
					}
				}
				
				#descriptionSummary
				{
					span {
						color: black;
						font-family: 'Helvetica', Arial, sans-serif;
						font-size: 1em;
						line-height: normal;
						
						.img-responsive {
							display: inline-block;
							width: 29%;
						}
						
					}
					
					h5
					{
						display: block;
						clear: both;
					}
				
				}
				
				
				
			}
		}
		
		#inscription , #moocInfo
		{
			width: 35%;
			float: right;
			min-height: 800px;
			padding: 0 0 2% 0;
			margin: 2%;
			text-align: center;
			background-color: #e3e3e3;
			
			#aInscription {
				display: block;
				width: 100%;
				min-height: 2.2em;
				background-color: $color1;
				font-family: 'Oswald', 'Helvetica';
				letter-spacing: 1.2px;
				font-size: 1.5em;
				line-height: 2.2em;
				color: #fff;
				text-transform: uppercase;
				margin-bottom: 20px;
				padding: 0 4px;
			}
			
			#container_professor .imgProf {
				overflow: hidden;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				border-radius: 50px;
				width: 100px;
				height: 100px;
				margin: 30px auto 20px;
			}
			
			#img {
				display: none;
			}
			
			.moocimg
			{
				margin: 0;
				max-width: unset;
				max-height: unset;
			}
			
		}
		
		#cfaiDescIcons {
			width: 96%;
			text-align: left;
			margin: 10px auto;
			line-height: 35px;
			
			.iconTitle {
				padding-right: 26px;
				text-align: right;
				display: inline-block;
				width: 45%;
				color: $color1;
				font-family: 'Oswald','Helvetica';
				text-transform: uppercase;
			}
			

			
			
			#school .iconTitle {
				background: url([[pix:theme_cfai|home/icon_ecole]]) no-repeat right center;
				background-size: 20px 20px;
			}
			
			#effort .iconTitle {
				background: url([[pix:theme_cfai|home/icon_effort]]) no-repeat right center;
				background-size: 20px 20px;
			}
			
			#startdate .iconTitle {
				background: url([[pix:theme_cfai|home/icon_debut]]) no-repeat right center;
				background-size: 20px 20px;
			}
			
			#enddate .iconTitle {
				background: url([[pix:theme_cfai|home/icon_fin]]) no-repeat right center;
				background-size: 20px 20px;
			}
			
			#duration .iconTitle {
				background: url([[pix:theme_cfai|home/icon_duree]]) no-repeat right center;
				background-size: 20px 20px;
			}
			
			.iconDesc {
				display: inline-block;
				padding-left: 3%;
				width: 55%;
			}
			
		}
		
		#infoCourse {
			float: left;
			padding: 2%;
			width: 60%;
			background-color: #e3e3e3;
			
			h4 {
				color: $color1;
			}
			
			.texteMoocBleu {
				color: #666;
				font-size: 1em;
				line-height: 2em;
				margin-top: 15px;
				font-family: 'Oswald', 'Helvetica';
				letter-spacing: 2px;
				text-transform: uppercase;
			}
			
			.InfoComm {
				color: #666;
				font-size: 1em;
				padding-left: 15px;
			}
		}
		
		
	

}



div[role="main"] #cfaiDescContent
{
	#mooc
	{
		padding-right: 2%;
		
		h2
		{
			border: 0;
		}
	}
	
	#descriptionCours #iframevideo
	{
		text-align: center;
	}
}

*/

@media (max-width: 1600px)
{
	body.site_frontpage #page #page-layer  #partenaires_logos img
	{
		width: 130px;
	}
}


@media (max-width: 1199px)
{
	#pgwModal, div[role="main"] #cfaiDescContent
	{
		.modal-body {
			//width: 84%;
		}
		
		#descriptionCours
		{
			width: 100%;
			#iframeYoutube
			{
				width: 100%;
				height: auto;
				max-width: 100%;
				display: inline-block;
				iframe {
					max-width: 100%;
					width: 100%;
					height: auto;
					min-height: 225px;
				}
			}
		}
		
		#inscription, #moocInfo, #infoCourse {
			width: 49%;
			margin: 0.5%;
			min-height: initial;
		}

	}
}


@media (max-width: 1024px)
{
    body.pagelayout-frontpage
	{
		&.site_frontpage  
		{		
			#page
			{
				#page-layer 
				{
					#partenaires_logos img
					{
						width: 120px;
					}
				}
			}
		}
		
		#home_popup
		{
			padding: 5% 6%;	
		}
	}
	
	

	
}

@media (max-width: 800px)
{
	body.pagelayout-frontpage
	{
		&.site_frontpage
		{

			#page
			{
				#page-layer 
				{
					#partenaires_logos img
					{
						width: 110px;
					}
				}
			}
		}
		
		#page
		{
			#page-layer 
			{

				#page-content 
				{
					#blocCatalogue
					{

						#blocCatalogueContent 
						{
							flex-direction: column;
							#filtreCatalogue 
							{
								width: 100%;
								border: 0;
								border-bottom-width: 1px;
								border-style: solid;
								-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
								-moz-border-image: -moz-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
								-o-border-image: -o-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
								border-image: linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
								border-image-slice: 1;
								
								flex-direction: row;
								flex-wrap: wrap;
								
								#keywordsFilter
								{
									order: 1;
									flex: 2 66%;
									h3
									{
										display: none;
									}
									.subTitleFilter
									{
										border: none;
										padding-left: 0;
									}
								}
								
								#langFilter
								{
									order: 2 ;
									flex: 1 33%;
									
									h3
									{
										display: none;
									}
									.subTitleFilter
									{
										border: none;
										flex-direction: row;
										justify-content: flex-end;
										
										.filtreline
										{
											margin-right: 10px;
										}
										
										input[type="checkbox"]
										{
											margin-right: 3px;
										}
											
										
										.longname
										{
											display: none;
										}
										.shortname
										{
											display: block;
										}
									}
								}
								
								#institutionFilter
								{
									order: 3;
									flex: 3 100%;
								}
								

							}
						}

						#catalogue 
						{
							width: 100%;
							margin-top: 0px;
							padding-top: 30px;
							
							
							
						}
					}
					
					#course_list, #coursFutureListe
					{
						flex-direction: column;
						
						.blocCours
						{
							width: 99%;
							max-width: 100%;
							height: 112px;
							margin: 10px auto;
							
							.imgCours
							{
								width: 170px;
								height: 109px;
								margin: 1px;
								border: none;
								
								.dateCoursHighLight
								{
									top: -38px;
									left: -70px;
									font-size: 15px;
									font-weight: 100;
								}
							}
							
							.bgHover
							{
								display: flex;
								flex-direction: column;
								height: 112px;
								justify-content: center;
								padding-right: calc(100% - 167px);
								width: 0;
								padding-right:  0;
								
								i.fa
								{
									//margin-top: 3px;
									margin: 0 auto 10px;
								}
								
								.infotxt
								{
									min-width: 150px;
								}
								
								.cadreW
								{
									left: 171px;
									top: 3px;
									bottom: 3px;
									height: unset;
								}
							}
							
							.textzone
							{
								left: 172px;
								top: 0px;
								height: 108px;
							}
							
							&:hover
							{
								.bgHover
								{
									width: 100%;
									padding-right: calc(100% - 167px);
									transition: opacity .5s, width .5s, padding-right .5s;
								}
								
								.textzone
								{
									
									.detailsMoocs
									{
										width: 100%;
										padding: 0;
										color: $secondWhite;
										background-color: transparent;
									}
								}
							
							}
						}
					}
					#coursFutureListe
					{
						.blocCours:hover
						{
							.textzone
							{
								padding: 8px 8px;
								
								.detailsMoocs
								{
									width: fit-content;
								}
							}
						}						
					}
				}

			}
		}
		
		
		
		
	}
	

	body.pagelayout-frontpage #home_popup
	{
		padding: 3% 4%;
	}
	#home_popup, #moodecDescContent
	{
		

		.popup-content
		{

			.popup-body
			{
				flex-direction: column;

				#descriptionCours 
				{
					order: 2;
				}
				
				#inscription
				{
					order: 1;
					max-width: 100%;
					min-height: auto;

					#moodecDescIcons
					{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;
						
						.id-item
						{
							width: 50%;
						}	
					}
					
					#container_professor
					{
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
					}
					
				}
				
			}
			
		}
		
	}

}

@media (max-width: 600px)
{
	body.pagelayout-frontpage 
	{
		#page #page-layer 
		{
			margin: 0;
			.card
			{
				border-left: none;
				border-right: none; 
			}
			#partenaires_logos img
			{
				width: 30%;
				margin: 25px 8%;
			}
			
			
			#page-content
			{
				#course_list, #coursFutureListe
				{

					.blocCours
					{
						width: 96%;
						.textzone
						{
							padding: 5px;
							display: flex;
							flex-wrap: wrap;
							
							.detailsMoocs
							{
								flex: 1 50%;
								margin: 0;
								padding-right: 1%;
								
								&.last
								{
									text-align: right;
								}
							}
							.titreMooc
							{
								margin-top: 5px;
								height: 68px;
							}
						}
						
					}

				}
				
				#coursFutureListe
				{
					.blocCours
					{
						
						.textzone
						{
							padding: 0px;
							
							.detailsMoocs
							{
								&.last
								{
									flex: 1 100%;
									text-align: left;
								}
							}
							.titreMooc
							{
								margin-top: 5px;
								height: 68px;
							}
						}
						
					}
				}
				/*
	
				#frmContact, #frmCertificate 
				{
					
					
					
					
					
					#frm
					{
						display: block;
						border-spacing: 0px;

						.formGroup {
							display: block;
							padding: 2px 10px;
							label {
								display: block;
								margin: 0;
							}
							input
							{
								display: block;

							}
						}
					}
				}
				*/
				#blocCatalogue
				{

					#blocCatalogueContent 
					{
						#filtreCatalogue 
						{

							#keywordsFilter
							{
								order: 2;
								flex: 3 100%;
								.subTitleFilter
								{
									padding-right: 0;
								}
							}
							
							#langFilter
							{
								order: 1 ;
								flex: 1 33%;
								.subTitleFilter
								{
									padding: 5px 0 0 0;
								}
							}
						}
					}

				}
			}
		}
	}
}

@media (max-width: 480px)
{
	#home_popup,  #moodecDescContent
	{
		padding: 0;
		.popup-content 
		{
			border: none;
			
			.popup-body #inscription
			{
				#moodecDescIcons .id-item
				{
					width: 100%;
				}	
						
				#container_professor
				{
					flex-direction: column;
				}
						
			}
		}
	}
	
	body.pagelayout-frontpage #home_popup
	{
		padding: 0;
	}
	
	
	body.pagelayout-frontpage #page #page-layer #page-content #frmContact
	{
		#titleContact, #titleCatalog
		{
			padding: 0 5px;
		}
		#frm
		{
			padding: 5px 10px;;
			
			input
			{
				height: 26px;
				margin: 4px 0;
				padding: 3px 6px;
			}
			textarea
			{
				height: 100px;
				min-height: 100px;
				max-height: 250px;
				margin: 8px 0;
				padding: 3px 6px;
			}
			
			.btnSubmit {
				width: 100%;
			}
			
			.note
			{
				padding: 4px;
			}
		}
	}
				

}

@media (max-width: 400px)
{
	body.pagelayout-frontpage 
	{
		#page #page-layer #page-content
		{
			#course_list, #coursFutureListe 
			{
				.blocCours
				{
					width: 90%;
					.imgCours
					{
						display: none;
					}
					
					.bgHover
					{
						display: block;
						padding-top: 8px;
						i
						{
							display: inline-block;
							margin: 4px;
							&:before
							{
								font-size: 14px;
							}
						}
						
						.cadreW
						{
							left: 3px;
							top: 26px;
						}
					}
					
					.textzone
					{
						left: 0px;
						right: 0px;
						top: 0px;
						height: 108px;
					}
					
					&:hover
					{
						.bgHover
						{
							padding: 0;
							
							.infotxt
							{
								display: inline-block;
								min-width: unset;
							}
						}
						
						.textzone
						{
							height: 86px;
							top: 23px;
							left: 3px;
							right: 3px;
							padding: 8px;
							
							.detailsMoocs
							{
								display: none;
								&.last
								{
									display: block;
									text-align: left;
									//width: fit-content;
									//margin: 0 auto;
									//background-color: $color1;
									//padding: 0 5px;
								}
							}
							
							..titreMooc
							{
								height: 60px;
							}
							
						}
					}
				}
			}
		}
	}
	
	
}