body
{
	&.pagelayout-login
	{
		
		header #loginbox
		{
			display: none;
		}
		
		
		#sectionlogin 
		{
			margin: 0px auto;
			padding: 10px 1% 1% 1%;
			width: 96%;
			background-color: $color3_l07;
			border: 1px solid $primaryWhite;
			
			>h1
			{
				color: $primaryWhite;
				border: none;
				margin-top: 5px;
				margin-bottom: 10px;
				line-height: 1.8rem;
			}
			
			.blocLogin
			{

				background-color: $colorLign1;
				padding: 15px;
				
				.loginerrors
				{
					margin-bottom: 10px;
					
					.alert
					{
						
						background-color: $primaryWhiteOpacity;
						padding: 8px;
						background-color: rgba(255, 0, 0, 0.7);
						color: #fff;
						text-align: center;
					}
				}
				.loginpanel
				{

					.rowbloc
					{
						display: flex;
						justify-content: space-between;


						.colbloc						
						{
							flex: 10;
						}
						.sep
						{
							flex: 1 1px;
							display: flex;
							justify-content: center;
							align-items: center;
							margin: 0 2%;
							background-image: linear-gradient(rgba(255,255,255,0),$color3_l07, rgba(255,255,255,0));
							background-size: 2px 90%;
							background-repeat: no-repeat;
							background-position: center;
							
							.septxt
							{
								font-size: 11px;
								color: #999;
								width: 30px;
								height: 30px;
								line-height: 30px;
								text-align: center;
								background-color: $colorLign1;
							}
							
						}
						
						.account_provider, .account_local, .account_regist
						{
							
							
							form
							{
								.btn
								{
									width: 100%;
									margin: 0;
								}
							}
							
							.bloc_titre
							{
								font-size: 16px;
								line-height: 20px;
							}
						} 
						
						.account_local
						{
							.input-group
							{
								
								.input-group-addon
								{
									width: 40px;
								}
								
								input
								{
									height: 44px;
								}
							}
							.rememberpass
							{
								margin-top: 8px;
							}
							
							.btn
							{
								margin: 0;
							}
						}
						
						.registration
						{
							.instructions, .registration_form
							{
								display: inline-block;
								width: 100%;
								padding: 5px;
								margin: 0;
								vertical-align: top;
								line-height: 15px;
								
								
							}
							
							
						}
					}

					
					.noteLogin
					{
						padding-left: 20px;
						padding-bottom: 10px;
						margin-bottom: 10px;
						text-align: center;
						border-bottom: 1px solid #ddd;
						
						i.firsticon
						{
							margin-left: -20px;
						}
						a.btn-link
						{
							vertical-align: top;
						}
					}
					
					.potentialidplist .potentialidp
					{
						margin: 10px 0;
						a.btn
						{
							width: 100%;
							margin: 0;

							
						}
					}
				}
			}
			
			
		}
		
		
		#page #page-content #region-main .card-block
		{
			background: $color1_l07;
			border: 1px solid #fff;
			padding: 10% 30px;
			
			div[role="main"]
			{
				#maincontent
				{
					height: 0;
				}
				
				h2, h3
				{
					color: $color1;
					font-size: 1.3rem;
					line-height: 2rem;
					border-bottom: 1px solid $color1;
				}
				
				.loginsub
				{
					width: 44%;
					margin: 0 3%;
					padding: 1%;
					float: left;
					background: rgba(245, 245, 245, 0.9);
					
					#wayf_div
					{
						background-color: rgba(0,62,92,1) !important;
						
						
						#wayf_intro_label, #wayf_remember_checkbox_label
						{
							font-size: 14px !important;
							color: #fff !important;
						}
						
						#user_idp
						{
							width: 100%;
							height: 30px;
							line-height: 30px;
						}
						
					}
					
					.loginsub
					{
						width: 100%;
						margin: 0;
						form{
							.loginform
							{
								label
								{
									margin-bottom: 5px;
								}
								
								.form-input
								{
									margin-bottom: 10px;
									input
									{
										width: 100%;
										border: 1px solid #ccc;
									}
								}
							}

							.desc
							{
								border-bottom: 1px solid $color1;
								padding-bottom: 10px;
								margin-bottom: 10px;
							}
						}
					
					}
					
					form{
						input[type="submit"]
						{
							width: 100%;
							margin: 6px 0;
							padding: 6px;
						}
					}
				}
				
				
				
			}	
		}
	}
}

@media (max-width: 1024px)
{
	body
	{
		&.pagelayout-login
		{
			#page #page-content #region-main .card-block div[role="main"]
			{
				.loginsub
				{
					width: 90%;
					margin: 15px 5%;
				}
			}
		}
	}
}


@media (max-width: 768px)
{
	body.pagelayout-login  #sectionlogin .blocLogin .loginpanel 
	{
		
		
		.rowbloc
		{
			flex-direction: column;

			.sep
			{
				margin: 30px 0;
				background-image: linear-gradient(left, rgba(255,255,255,0),$color3_l07, rgba(255,255,255,0));
				background-size: 90% 2px ;
				background-repeat: no-repeat;
				background-position: center;

			}
						
		}

		
	}
}