/* Un-comment the following, for initial RTL UI support.
.scroll-content {
   direction: rtl; 
   text-align: right;
}
*/
 
 .bar-side-menu {
   background-color: #007cb7;
 }
 
 .bar-content {
   background-color: #007cb7;
 }
 
 .button.button-positive {
   border-color: #007cb7;
   background-color: #007cb7;
    color: #fff;
 } 
 
 .item-divider {
   background-color: #fafafa;
 }
 
 .mm-tabs-color .tab-item.tab-item-active, .mm-tabs-color .tab-item.active, .mm-tabs-color .tab-item.activated {
	border : 0 solid #007cb7 ;
 }
 
 .progress-chart-container .progress-doughnut .progress-indicator svg .circle {
	stroke : #007cb7 ;
 }
 
 .bar-content .button {
    border-color: transparent;
    background-color: #007cb7;
    color: #ffffff;
}