/****************************************************** 
COLORS   
******************************************************/
$bleuCL : rgba(236,0,140,1);

/*
$color1 : rgba(236,0,140,1);
$color1_d1 : rgb(95, 48, 117);
$colorPrimL1 : rgba(236, 0, 140, 0.7);



$color2 : rgb(251, 176, 64);
$colorPrimL2 : rgba(251, 176, 64, 0.7);
$colorP2_L05 : rgba(251, 176, 64, 0.5);


$colorPrim3 : rgb(0, 182, 190);
$colorPrimL3 : rgba(0, 182, 190, 0.7);
$colorPrimL31 : rgba(0, 182, 190, 0.5);
$colorPrimF3 : rgb(237, 27, 52);

$bleuCLTransparent : rgba(0,124,183,0.8);
$primaryColorAlpha : rgba(38,67,119,0.7);
$secondColor : #15284a;
*/



$color1 : rgba(236,0,140,1);
$color1_dark : rgb(95, 48, 117);
$color1_l07 : rgba(236, 0, 140, 0.7);
$color1_l05 : rgba(236, 0, 140, 0.5);


$color2 : rgb(251, 176, 64);
$color2_dark : rgb(251, 176, 64);
$color2_l07 : rgba(251, 176, 64, 0.7);
$color2_l05 : rgba(251, 176, 64, 0.5);

$color3 : rgb(0, 182, 190);
$color3_dark : rgb(237, 27, 52);
$color3_l07 : rgba(0, 182, 190, 0.7);
$color3_l05 : rgba(0, 182, 190, 0.5);








$grisCL : #aca39b;




$primaryWhite : #ffffff;
$primaryWhiteOpacity : rgba(255,255,255,.95);
$secondWhite : #eaeaea;

$colorLign1: #fbfbfb;
$colorLign2: #f5f5f5;

$colorIconBtn: #999999;
$colorBgMenuList: #d5d5d5;

/******************************************************  
ICONS 
******************************************************/
$administration :"\f085";
$course : "\f19d";
$participants : "\f0c0";
$badges : "\f0a3";
$bag : "\f0b1";
$book : "\f02d";
$compentecies : "\f0eb";
$grades : "\f123";
$dashboard : "\f0e4";
$home : "\f015";
$calendar : "\f073";
$files :"\f15b";

$iconConfig :"\f013";
$iconConfigSlider :"\f1de";
$addblock :"\f067";
$arrowBlod : "\f054";
$arrow : "\f105";
$login : "\f090";
$logout : "\f08b";
$event : "\f274";
$tag : "\f292";
$rss : "\f09e";
$glossary : "\f02d";
$messages : "\f075";
$user : "\f007";
$usercircle : "\f2bd";
$plans : "\f279";
$announcements : "\f1ea";
$code : "\f121";
$search : "\f002";
$comments : "\f27a";
$bookmarks : "\f02e";
$reset : "\f01e";
$leave : "\f08b";
$mycourse : "\f0b1";
$iconClose : "\f00d";
$iconEdit : "\f040";
$goTop : "\f01b";
$square : "\f096";
$squareCheck : "\f046";
$ellipsis : "\f141";
$hideeye : "\f070";


$iconNav : "\f0c9 ";
$iconRSFacebook : "\f09a";
$iconRSInstagram : "\f16d";
$iconRSTwitter : "\f099";
$iconRSYoutube : "\f167";


$iconMenuCatalog : "\f03a";
$iconMenuContact : "\f0e0";

$iconProgressBar : "\f58d";
$iconProgressBar : "\f058";
$iconBadge : "\f5a2";
$iconBadge : "\f559";
$iconNote : "\f5c0";
$iconEditActivity : "\f044";
$iconNews : "\f1ea";
$iconForum : "\f086";
$iconCourseContent : "\f108";


$iconWrong : "\f057";
$iconAlert : "\f071";

