

.videodescription{

}
.videotitle {
    color: #007cb7;
    font-weight: 200;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.iframevideomoodec iframe{
    height: 500px;
    width: 100%;
		border: rgba(0, 124,183,0.7) 5px solid;
    margin: 20px 0 10px 0;
}