
/*********************************************** CYBERLEARN THEME CSS *****************************************************/
/******************************************************* NAVBAR ***********************************************************/




#banner-background 
{
    background-color:#007cb7;
    height: 200px;
    background-image: url([[pix:theme_moodec|headerTopBg]]);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	//position: relative;
    //margin-top:36px;
	padding: 0 5%;

    #login-banner 
    {
        margin-top:0;
    }

    #banner-content
    {
        padding: 55px 3% 0 3%;
		height: 56px;
        #banner-menu
        {
			//float: right;
			position: absolute;
			right: 3%;
			text-align: right;
			width: 49%;
			margin-top: -15px;
            #banner-menu-ul
            {
                margin: 0;
				li 
                {
                    display: inline-block;
					text-align: right;
					margin-left: 30px;
					
					&.menu_selected #banner-menu-item
					{
						color:#fff;
						font-family: "oswald","Helvetica Neue",Arial,sans-serif;
						letter-spacing: 1px;
						font-weight:100;
						font-size: 20px;
						text-transform: uppercase;
						margin: 0;
						text-decoration: none;
						position: relative;
						
						&::after{
							position: absolute;
							top: 100%;
							left: 0;
							width: 100%;
							height: 4px;
							background: #ffffff;
							content: '';
							opacity: 0.6;
							

						}
					}
                }
				
				a#banner-menu-item
				{
					color:#fff;
                    font-family: "oswald","Helvetica Neue",Arial,sans-serif;
					letter-spacing: 1px;
					font-weight:100;
                    font-size: 20px;
					line-height: 26px;
					text-transform: uppercase;
                    margin: 0;
                    text-decoration: none;
                    position: relative;
					opacity: 0.8;
					&::after{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background: #ffffff;
                        content: '';
                        opacity: 0;
                        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
                        transition: opacity 0.3s, transform 0.3s;
                        -webkit-transform: translateY(10px);
                        -moz-transform: translateY(10px);
                        transform: translateY(10px);
                    }
                    
					&:hover, &focus
                    {
                        opacity: 1;

                    }
                    &:hover::after, &focus::after
                    {
                        	opacity: 0.4;
                            -webkit-transform: translateY(0px);
                            -moz-transform: translateY(0px);
                            transform: translateY(0px);
                    }
				}

                #banner-menu-item 
                {

					span
					{
						display: inline-block;
						line-height: 26px;
						
						&.menuicon
						{
							font-size: 16px;
							line-height: 26px;
							display: none;
							
							&::before
							{
								content: '';
								font-family: FontAwesome;
								font-style: normal;
								font-weight: 100;
								color:#fff;
								vertical-align: top;
								padding-right: .4em;
							}

						}

					}
					#menuicon_home::before
					{
						content: $home;
					}
					#menuicon_catalog::before
					{
						content: $iconMenuCatalog;
					}
					#menuicon_contact::before
					{
						content: $iconMenuContact;
					}
                }
				
				

            }
        }
		
		#banner_logo
		{
			float: left;
			width: 49%;
			
			.banner_logo_home_link
			{
				text-decoration:  none;
			}
			
		}
        #banner-logo-home 
        {
            display: block;
			width: 50%;
			margin: 0 auto;
			max-width: 600px;
			img
			{
				width: 100%;
				height: auto;
			}
        }
    }
}
#logoHes
{
		margin: 10px auto;
		width: 100px;
		height: 50px;
		display: block;
}
#banner_logohome
{
	display: block;
	margin: 80px auto 0;
	text-align: center;
	
	#logoMooc {
		display: block;
		color: #fff;
		font-family: "oswald","Helvetica Neue",Arial,sans-serif;
		font-size: 160px;
		line-height: 160px;
		font-weight:900;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		margin-top: 15px;

	}
	span
	{
		display: inline-block;
		margin-left: -0.2em;
		opacity: 0.8;
	}
	#logoL1, #logoL3, #logoL3, #logoL7
	{
		color: #007cb7;
	}
	#logoL2, #logoL4, #logoL5, #logoL6
	{
		color: #aca39a;
	}
	#logoL3
	{
		margin-left: -0.42em;
	}
	#logoL5
	{
		opacity: 0.7;
	}
	#logoL6
	{
		opacity: 0.6;
	}
	#logoL7
	{
		position: relative;
		font-size: 0.5em;
		line-height: 0.5em;
		top: -1em;
		opacity: 1;
	}
}

#banner_logo
{

	.banner_logo_home_link
	{
		position: relative;
		color: #fff;
		font-family: "oswald","Helvetica Neue",Arial,sans-serif;
		font-size: 60px;
		line-height: 60px;
		font-weight:900;
		text-transform: uppercase;
		text-decoration:  none;
		
		span
		{
			display: inline-block;
			margin-left: -0.2em;
			opacity: 0.8;
		}
		#logoL1, #logoL3, #logoL3, #logoL7
		{
			color: #007cb7;
		}
		#logoL2, #logoL4, #logoL5, #logoL6
		{
			color: #aca39a;
		}
		#logoL3
		{
			margin-left: -0.42em;
		}
		#logoL5
		{
			opacity: 0.7;
		}
		#logoL6
		{
			opacity: 0.6;
		}
		#logoL7
		{
			position: relative;
			font-size: 0.5em;
			line-height: 0.5em;
			top: -1em;
			opacity: 1;
		}
	}
	
}


body
{
	&.pagelayout-frontpage
	{
		
		&.site_frontpage   
		{
			#banner-background 
			{
				height: 600px;
				background-image: url([[pix:theme_moodec|bgHome1]]);
	
			}
			
			#recherche {
				width: 50%;
				min-width: 280px;
				margin: 0 auto;
				margin-top: 50px;
				display:block;
			
			
				#searchFormHome {
					position: relative;
					height: 40px;
					padding: 0;
					
					#inputText {
						position: absolute;
						right: 0;
						top: 0;
						height: 40px;
						width: 100%;
						padding-left: 2%;
						padding-right: 55px;
						margin: 0;
						font-size: 1.2em;
						line-height: 1.3em;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
						-webkit-transition: none;
						-moz-transition: none;
						-o-transition: none;
						transition: none;
						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
						border: 1px solid #aaa;
					}

					input[type="submit"]#searchWhite {
						
						background: url([[pix:theme_moodec|searchWhite]]) no-repeat center center;

						height: 40px;
						width: 40px;
						background-size: 45px auto;
						margin: 0;
						padding: 0;
						background-color: #007cb7;
						opacity: 1;
						text-indent: -9999px;
						position: absolute;
						right: 0;
						top: 0;
						
					}
				}
			}

		}
		
		
		#region-main.has-blocks
		{
			width: 100%;
			
			.card-block
			{
				background-color: rgba(235, 235, 235, 0.8);
				//border: 1px solid #d5d5d5;
			}
		}
		
	}
}

@media screen and (max-width: 1200px) 
{

	body
	{
		&.pagelayout-frontpage.site_frontpage   
		{
			#banner-background 
			{
				height: 520px;
				#banner-content 
				{

					
					#recherche
					{
						margin-top: 35px;
					}
				
				}
			}
		}
	}
	

}



@media screen and (max-width: 1024px) 
{

	body
	{	
		#banner-background #banner-content 
		{
			#banner-menu #banner-menu-ul li {
				margin-left: 12px;
				
				#banner-menu-item span {font-size: 19px;}
			}
		}
		
		&.pagelayout-frontpage
		{
		
			&.site_frontpage  
			{
				#banner-background 
				{
					height: 450px;
					background-image: url([[pix:theme_moodec|bgHome1024]]);
					#banner-content 
					{
						
						
						#recherche
						{
							margin-top: 25px;
							
							#searchFormHome {
								//height: 55px;
							}
							#inputText
							{
								padding-right: 45px;
							}
							input[type="submit"]#searchWhite
							{
								height: 40px;
								width: 40px;
								background-size: 36px auto;
							}
						}
						
						//logo Moodecx
						#banner_logohome
						{

							margin: 60px auto 0;
							#logoMooc 
							{
								font-size: 120px;
								line-height: 130px;
							}
						}
						
						#logoHes {
							margin: 0px auto;
							height: 40px;
						}
					
					}
					
				}
			}
		}

	}	
}


@media screen and (max-width: 900px) 
{

	body
	{
		#banner-background #banner-content 
		{
			#banner-menu #banner-menu-ul li {
				
				&.menu_selected #banner-menu-item
				{
					&::after{
						height: 3px;
					}
				}
				
				a#banner-menu-item
				{
					&::after{
                        height: 3px;
                    }
				}
				
				#banner-menu-item span
				{
					font-size: 18px;
				}
			}
			
		
			#banner-logo-home 
			{
				width: 160px;
				height: 50px;
			}
			


		}
		
		&.pagelayout-frontpage
		{

			
			#banner-background #page-content 
			{

				#blocCatalogue
				{
					width: 98%;
					padding: 0 2%;
	
					.filtreBloc {
						float: left;
						width: 32%;
						margin: 0 0.66%;
					}
					
					#filtreCatalogue 
					{
						width: 100%;
						border: 0;
						border-bottom-width: 1px;
						border-style: solid;
						-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
						-moz-border-image: -moz-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
						-o-border-image: -o-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
						border-image: linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
						border-image-slice: 1;
					}
					
					#catalogue {
						width: 100%;
						margin-top: 0px;
						padding-top: 50px;
					}
				}
			}
		}
		
	}	
}

@media screen and (max-width: 800px) {


	
	body
	{
		background-position-y: 100px;
		
		&.drawer-open-left 
		{
			#banner-background #banner-content
			{
				//padding: 45px 1% 0 4%;
				#banner-menu #banner-menu-ul 
				{
					//padding: 0;
				}
				
			}
		}

		&.pagelayout-frontpage
		{
			#page-content 
			{
				#blocCatalogue
				{
					.filtreBloc {
						float: left;
						width: 49%;
						margin: 0 0.5%;
					}
				}
			}
		}
		
		&.pagelayout-frontpage.site_frontpage 
		{
			#banner-background 
			{
				height: 400px;	
				#banner-content 
				{
					#logoMooc
					{

						font-size: 16px;
						line-height: 20px;
						img
						{
							height: 19px;
						}
					}
					#recherche
					{
						margin-top: 15px;
						
						#searchFormHome {
							height: 30px;
						}

						#inputText
						{
							height: 30px;
							font-size: 1em;
							padding-right: 35px;
						}
						input[type="submit"]#searchWhite
						{
							height: 30px;
							width: 30px;
							background-size: 26px auto;
						}
					}
					
					//logo Moodecx
					#banner_logohome
					{

						margin: 70px auto 0;
						#logoMooc 
						{
							font-size: 80px;
							line-height: 90px;
						}
					}
				}

			}
		}
		
		#banner-background
		{
			//height: 100px;
			padding: 0 0%;
			
			#banner-content
			{
				padding: 45px 1% 0 4%;
				
				#banner_logo
				{
					img
					{
						width: 80%;
					}
				}

				#banner-menu 
				{
					margin-top: -3px;
					#banner-menu-ul li {

					
						#banner-menu-item span
						{
							font-size: 16px;
						}
					}
				}
			}		
		}
		
		
	}	
}


@media screen and (max-width: 600px) {
	body
	{
		&.pagelayout-frontpage.site_frontpage 
		{
			#banner-background
			{
				//height: 110px;
				#recherche 
				{
					width: 50%;
					min-width: 280px;
					margin: 0 auto;
					margin-top: 50px;
					display: block;
				}
			}
		}
		
		#banner-background
		{
			//height: 110px;
			//background-image: url([[pix:theme_moodec|headerTopBgSS]]);
			#banner-content
			{
				//padding: 45px 1% 0 1%;
				#banner_logo
				{
					width: 95px;
					a
					{
						display: block;
						overflow: hidden;
						img
						{
							width: 280px;
						}
					}
				}
				
				
				#banner_logo
				{
					width: 200px;
					.banner_logo_home_link
					{
						font-size: 40px;
						//line-height: 40px;
						padding-left: 14px;
					}
				}
				
				#banner-menu 
				{
					//right: 5px; 
					#banner-menu-ul 
					{
						padding: 0 14px 0 0;
						li 
						{
							display: block;
							line-height: 16px;
							
							#banner-menu-item 
							{
								line-height: 20px;
								display: block;
								height: 20px;
								
								span
								{
									font-size: 14px;
								}
								
							}
							
							#banner-menu-item span
							{
								display: none;
								&.menuicon
								{
									display: inline-block;
									width: 20px;
									height: 20px;
									//margin-left: calc(100% - 20px);
									
									&::before
									{
										padding-right: 0;
									}
								}
							}

							a#banner-menu-item::after
							{
								top: 5px;
								left: unset;
								right: -10px;
								width: 4px;
								height: 16px;

							}
							
							&.menu_selected #banner-menu-item::after
							{
								top: 5px;
								left: unset;
								right: -10px;
								width: 4px;
								height: 16px;
							}
							
							
							 a#banner-menu-item::after
							{
								-webkit-transition: opacity .3s,-webkit-transform .3s;
								-moz-transition: opacity .3s,-moz-transform .3s;
								-o-transition: opacity .3s,transform .3s;
								transition: opacity .3s,transform .3s;
								-webkit-transform: translateX(-10px);
								-moz-transform: translateX(-10px);
								-ms-transform: translateX(-10px);
								-o-transform: translateX(-10px);
								transform: translateX(-10px);
							}
						}
						
						
						
						
						
					}
				}
			}
			
		}
		
		&.pagelayout-frontpage
		{
			#page-content 
			{
				#blocCatalogue
				{
					.filtreBloc {
						float: left;
						width: 49%;
						margin: 0 0.5%;
					}
					
					#catalogue {
						width: 100%;
						margin-top: 0px;
						padding-top: 50px;
					}
				}
			}
		}
		
		&.pagelayout-frontpage.site_frontpage  
		{
			#banner-background 
			{
				//height: 300px;	
				
				#banner-content 
				{

					#banner_logohome
					{

						width: 100%;
						margin: 60px 0 0 0;
						#logoMooc 
						{
							font-size: 60px;
							line-height: 70px;
						}
					}
				
					
				}
				
				
				

			}
		}
		
		
	}
}	


@media screen and (max-width: 400px) 
{
	body 
	{
		min-width: 320px; 
		
		&.pagelayout-frontpage.site_frontpage  
		{
			//logo Moodecx
			#banner_logohome
			{
				margin: 50px 0 0 0;
				#logoMooc 
				{
					font-size: 40px;
					line-height: 50px;
				}
			}
		}
		#banner-background #banner-content #banner-menu {
			right: 0px;
		}
		
		
	}
}