#page-footer
{
    h3
	{
		color: #fff;
	}
	
	a
	{
		color: #c2e3ff;
	}
	
	.container-fluid
	{
		width: 90%;
	}
	
	&.bg-inverse
    {
        background-color:#2f78a2 !important;
    }

	#theme_switch_link
	{
		display: none;
	}

			
    .footer-left-col
    {
        display: block;
        float: left;
		width: 60%;
		
        .contact
        {
            color: #e9ebef;
			line-height: 1.6em;
            float: left;
			width: 50%;
			border-right: 1px solid rgba(255,255,255,.4);
			
			.footer_icon_txt
			{
				padding-left: 24px;
				display: block;
			}
			
			.footer_icon_txt i
			{
				margin-left: -24px;
				&:before
				{
					color: $primaryWhite;
				}
			}

            #footer-hours
            {
                color:#a6a6a6;
                font-style: italic;
				padding-left: 24px;
				font-size: 14px;
				display: block;
				line-height: 15px;
            }

            #footer-email
            {
                a
                {
                    text-decoration: none;
                    color: #e9ebef;
                }

            }

            #footer-map
            {
                text-decoration: none;
                //color: #e9ebef;
                position: relative;
                padding-left: 18px;

                &:before
                {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 12px;
                    height: 16px;
                    left: 0;
                    top: 50%;
                    margin-top: -8px;
                    background: url([[pix:theme_moodec|localisation]]) no-repeat center center;
                    opacity: .3;
                }
            }
        }
		.link
		{
			float:right;
			width: 45%;
		}
		
		a
		{
			text-decoration: none;
			color: #e9ebef;
		}
		
		&::after
		{
			clear: both;
		}
    }

    .footer-right-col
    {
        display: block;
        float: right;
        text-align: right;
		a
		{
			background-position: top right;
			background-size:  auto 100%;
			background-repeat: no-repeat;
			background-color: transparent;
		}

        .social
        {
            color: #e9ebef;
            margin-bottom: 20px;


            a
            {
                text-decoration: none;
				display: inline-block;
				width: 25px;
				height: 25px;
				margin-left: 8px;
				vertical-align: top;
				
				&:before
				{
					content: '';
					font-family: FontAwesome;
					color: #ffffff;
					font-size: 1.4rem;
					line-height: 25px;
				}
				
				&.facebook:before
				{
					content: $iconRSFacebook;
				}
				
				&.instagram:before
				{
					content: $iconRSInstagram;
				}
				
				&.twitter:before
				{
					content: $iconRSTwitter;
				}
				
				&.youtube:before
				{
					content: $iconRSYoutube;
				}
				
				&.switchtube:before
				{
					display: block;
					height: 25px;
					background: url('[[pix:theme_moodec|rs/iconsswitcha]]') no-repeat;
					background-size: 90% auto;
					background-position: center right;
				}
				
				
				
				
                
            }
        }

        .partner
        {
            a
            {
                text-decoration: none;
                display: block;
				margin-top: 20px;
				width: 100%;
				height: 90px;
				
				&#hes-logo
				{
					background-image: url('[[pix:theme_moodec|logoHesW]]');
				}
				
            }
        }
    }
}


/******************************************************* BACK TO TOP ******************************************************/

#back-to-top {
    position: fixed;
    bottom: 210px;
    right: 5px;
	height: 0px;
	width: 0px;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: opacity .2s ease-out, width .5s, height .5s;
    -o-transition: opacity .2s ease-out, width .5s, height .5s;
    transition: opacity .2s ease-out, width .5s, height .5s;
    opacity: 0;
	background-color: rgba(250,250,250,1);
	display: block;
    text-align: center;
    padding-top: 0px;
    border-radius: 50%;
	&.show
	{
		opacity: 0.7;
		height: 48px;
		width: 48px;
	}
	
	&:hover
	{
		opacity: 1;
		
	}
	
	i:before
	{
		content: $goTop;
		color: #2f78a2;
		font-size: 50px;
		line-height: 44px;
		padding: 0;
	}
}

@media (max-width: 1199px)
{
	#page-footer .container-fluid 
	{
		width: calc(100% - 6rem);
	}
}

@media (max-width: 1024px) and (min-width:800px)
{
	.drawer-open-left
	{
		#page-footer
		{
			.footer-left-col
			{
				width: 100%;
				
				#footer-hours
				{
					display: block;
					line-height: 16px;
					padding-bottom: 5px;
					
				}
			}
			
			.footer-right-col
			{

				width: 100%;
				margin-top: 25px;
				text-align: left;
				.social
				{
					float: left;
					width: 60%;
				}
				
				.partner
				{

					float: right;
					width: 40%;
					height: 100%;
					a#hes-logo
					{
						background-position: top right;
						background-size: auto 70%;
						
					}
				}
			}
		}
	}


}

@media (max-width: 800px)
{
	#page-footer .container-fluid 
	{
		//margin: 0;
		width: 98%;
		
		footer-left-col #footer-hours #footer_hours_l2
		{
			display: block;
		}
	}
	
}
@media (max-width: 600px)
{
	#page-footer
	{
		padding: 0 !important;
		
		.container-fluid
		{
			padding: 15px;
			width: 100%;
			
			.footer-left-col
			{
				width: 100%;
				
				#footer-hours
				{
					display: block;
					line-height: 16px;
					padding-bottom: 5px;
					
				}
			}
			
			.footer-right-col
			{

				width: 100%;
				margin-top: 25px;
				text-align: left;
				.social
				{
					float: left;
					width: 60%;
				}
				
				.partner
				{

					float: right;
					width: 40%;
					height: 100%;
					a#hes-logo
					{
						background-position: top right;
						background-size: auto 70%;
						
					}
				}
			}
		}
	}
}

@media (max-width: 400px)
{
	#back-to-top {
		bottom: 303px;
	}
	
	#page-footer
	{
		padding: 0 !important;
		
		.container-fluid
		{
			padding: 15px;
			width: 98%;
			
			.footer-left-col
			{
				float: none;
			}
			
			.footer-right-col
			{
				float: none;
				text-align: left;
				margin-top: 10px;
				
				.social 
				{
					float:left;
					width: 50%;
					margin-bottom: 0;
					a
					{
						width: 20px;
						height: 20px;
						margin-left: 5px;
						&.facebook
						{
							width: 15px;
						}
					}
				}
				
				.partner
				{
					
				}
			}
		}
	}
}