/******************************************************* NAVBAR ***********************************************************/

nav#navtop
{
    &.fixed-top
	{
		justify-content: unset;
		align-items: normal;
		flex: 1;
		
		&.navbar
		{
			border-bottom: 1px solid #2a4469;
			max-height: 37px;
			box-shadow: unset;
            padding: 0;
			
			.navbar-nav.usernavmenu
			{
				margin-right: 1%;
			}
			
			.navbar-nav.btn-drawer-toggle
			{
				flex: 1;
				max-width: 62px;
				width: 62px;
				height: 36px;
				margin: 0 !important;
				padding-right: 10px;
			}
			
			.navbar-nav.langmenu 
			{
				flex: 1 60px;
				height: 36px;
				max-width: 40px;
				margin: 0 10px 0 0 !important;
				
				.nav-item .nav-link
				{
					margin-right: 0px;
					padding-right: 0px;
				}
			}
			
			#headersearchbox
			{
				flex: 1 30%;
				height: 36px;
			}
			.navbar-nav.usernavmenu
			{
				flex: 1 50%;
				height: 36px;
				justify-content: flex-end;
			}
			
			.navbar-nav.usernavmenu
			{
				margin-right: 1%;
			}
			
			
			.btn-drawer-toggle .btn
			{
				background-color: $primaryWhite;
				border: 1px solid $bleuCL ;
				padding: 0px;
				height: 24px;
				width: 40px;
				margin: 7px 10px;
				line-height: 22px;
				opacity: 0.7;
				
				&:hover
				{
					background-color: $secondWhite;
					opacity: 1;
				}
				
				i.icon
					{
						width: 22px;
						height: 22px;
						padding: 0;
						line-height: 20px;
						
						&:before {
							font-size: 1rem;
							line-height: 22px;
							padding: 0;
						}
					}
			}
			
			.btn-drawer
			{
				border: 1px solid $bleuCL;
				padding: 2px 12px;
				margin-top: 3px;
				margin-left: 0;
				
			}
			
			.navbar-brand
            {
                display: none;
            }
			
            i
            {
                &.icon
                {
					&:before
					{
						color: $bleuCL;
					}
                }
            }
			
			.nav-item
			{
				&.admin, &.mycourse
				{
					.nav-link:before
					{
						
						content: '';
						font-family: FontAwesome;
						color: $bleuCL;
						font-size: 16px;
					}	
				}
				
				&.admin .nav-link:before
				{
					content: $administration;
				}
				
				&.mycourse .nav-link:before
				{
					content: $mycourse;
				}
				
				.nav-link
				{
					font-size:1rem;
					font-weight: 100;
					padding: 0 10px 0 0;
					height: 36px;
					line-height: 36px;
					margin-right: 10px;
					overflow: hidden;
					
					&.dropdown-toggle
					{
						&:after
						{
							margin-left: 0;
						}
					}
				}
				
				
			}
            
			
			
			#headersearchbox
            {
                width:30%;
				max-width: 300px;
				min-width: 200px;
                display: inline-block;
				font-size: 1rem;
				vertical-align: top;
				margin-top: 6px;
				
				form
				{
					padding: 0;
				}
				
				.searchInput
				{
					height: 25px;
					width: 100%;
					padding: 2px 30px 2px 5px;
					border-radius: 4px;
					border: 1px solid #bbb;
					display: inline-block;
				}
				.searchBtnSubmit
				{
					height: 25px;
					width: 25px;
					padding: 0px;
					margin: 0px;
					margin-left:-25px;
					border: none;
					background-color: transparent;
					display: inline-block;
					opacity: 0.5;
					i
					{
						line-height: 26px;
					}
					&:hover
					{
						opacity: 1;
					}
				}
            }
			
			.dropdown-menu
			{
				top: 110%;
				overflow: visible;
				
				&:before {
					content: "";
					display: inline-block;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-bottom: 6px solid #ddd;
					position: absolute;
					top: -5px;
					left: 24px;
				}
				
				&:after {
					content: "";
					display: inline-block;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-bottom: 6px solid #fff;
					position: absolute;
					top: -5px;
					left: 26px;
					z-index: 2;
				}
			}
			
			
			.langmenu  .dropdown-menu
			{
				&:before {
					left: 8px;
				}
				
				&:after {
					left: 10px;
				}
			}
			
			
			.dropdown-menu-arrow, .langmenu .dropdown-menu
			{
				
				margin-top: 1px;
				padding: 0.2rem 0; 
				background-color: rgba(255,255,255,.95);
				
				.dropdown-item
				{
					padding: 3px 10px;
					cursor: pointer;
					
					&:before
					{
						
						content: $arrowBlod;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						text-decoration: inherit;
						color: $bleuCL;
						font-size: 0.8rem;
						vertical-align: middle;
						padding-right: 0.3em;
					}
				}
			}
			
			.mycourse .dropdown-menu-arrow
			{
				right: 16px;
				left: unset;
				
				.dropdown-item
				{
				

					padding-left: 24px;
					&:before {
						margin-left: -15px;
						display: inline-block;
						width: 15px;
					}
				}
				
				&:before {
					right: 7px;
					left: unset;
				}
				
				&:after {
					right: 8px;
					left: unset;
				}

			}			
			
			
			
			
			.popover-region
			{
				margin-right: 0px;
				
				.nav-link
				{
					padding: 0 1rem 0 0;
					height: 100%;
					
					i
					{
						line-height: 28px;
						height: 36px;
					}
				}
				.popover-region-toggle
				{
					&:before
					{
						bottom: -4px;
						right: 22px;
						border-bottom: 10px solid $bleuCL;
					}
					&:after
					{
						bottom: -4px;
						right: 23px;
						border-bottom: 9px solid $colorLign2;
					}
				}
				.popover-region-container
				{
					top: 40px;
					border: 1px solid $bleuCL;
					width: 400px;
					
					.popover-region-header-container
					{
						background-color: $colorLign2;
						height: 34px;
						h3
						{
							font-size: initial;
							line-height: 34px;
							border: none;
						}
						.popover-region-header-actions
						{
							>* 
							{
								margin-left: 0px; 
							}
							
							.newmessage-link
							{
								margin-right: 0px; 
								padding-top: 8px;
								line-height: 24px;
							}
						}
					}
					
					.popover-region-content-container
					{
						height: calc(100% - 64px);
					}
					
					
					
					
					.popover-region-footer-container
					{
						background-color: $bleuCL;
						color: #fff;
						border: none;
					}
				}
			}
			
			
			.usermenu
            {
                height: 36px;
				margin-left: 10px;
				.userbutton
				{
					display: flex;
					justify-content: flex-end;
					
					.avatars
					{
						width: 40px;
						height: 35px;
						overflow: hidden;
						padding-top: 5px;
					}
				
				
				}
				.usertext
                {
                    color: $bleuCL;
                    font-size: 1rem;
					max-width: 120px;
					margin: auto;
					text-overflow: ellipsis;
					
					span.meta
					{
						line-height: 1em;
						margin-top: -4px;
						font-style: italic;
						&.role
						{
							font-weight: 900;
						}

					}
					
					
                }
				.dropdown
				{
					margin-top: 0px;
					
					.dropdown-toggle
					{
						display: flex;
						justify-content: flex-end;
						height: 36px;
						overflow: hidden;
						&:after
						{
							color: $bleuCL;
							margin-left: 0;
							margin-top: 18px;
						}
						
						.caret
						{
							margin: 0;
						}
					}
					
					.dropdown-menu 
					{
						margin-top: 1px;

						.dropdown-item
						{
							padding: 3px 10px;
						}
						
						&:before {
							right: 7px;
							left: unset;
						}
						
						&:after {
							right: 8px;
							left: unset;
						}
						
						
					}
				}
                
				
            }
			
			
			#loginbox
			{
				float: right;
				
				
				a
				{
					text-decoration: none;
					
					&.dropdown-toggle
					{
						
						&::after
						{
							margin-left: 8px;
							padding-bottom: 8px; 
						}
						
						
						
					}
				}
				
				#usertext
				{
					font-size: 16px;
					line-height: 35px;
					vertical-align: top;
					font-family: "oswald","Helvetica Neue", Arial,sans-serif;
					letter-spacing: 1px;
					font-weight: 100;
					text-transform: uppercase;
					margin-right: 5px;
				}
				
				.dropdown-toggle i.fa-user-circle
				{
					height: 30px;
					overflow: hidden;
					display: inline-block;
					margin-top: 4px;
					&::before
					{
						font-size: 33px;
						line-height: 35px;
						padding: 0;
						color: #007cb7;
					}
					
					
				}
				
				#loginpaneldropdown
				{
					margin: 8px 0 0;
					background-color: $primaryWhiteOpacity;
					left: unset;
					right: 16px;
					min-width: 260px;
					text-align: center;
					border: 1px solid rgba(5,5,5,.6);
					-webkit-border-radius: 0px;
					-moz-border-radius: 0px;
					border-radius: 0px;
					color: #fff;
					overflow-y: visible;
					
					form
					{
						padding: 0px 0 5px 0;
						
					}
					
					
					
					.loginform
					{
						width: 90%;
						margin: 0 auto; 
						form
						{
							padding-bottom: 3px; 
						}
						
						
						
						

					}
					.signup
					{
						.forgetpass 
						{
							font-size: 14px;
							line-height: 22px;
							text-align: center;
							
							a
							{
								display: block;
							}
							
							a.linkLostPass {
								color: #999;
								line-height: 14px;
							}
							
							a.linkInscription {
								font-size: 12px;
								font-family: "oswald","Helvetica Neue", Arial,sans-serif;
								letter-spacing: 1px;
								font-weight: 100;
								text-transform: uppercase;
							}
						}
					}
					
					&::before,  &::after
					{
						position: absolute;
						top: -6px;

						display: inline-block;
						border-right: 6px solid transparent;
						border-bottom: 6px solid #fff;
						border-left: 6px solid transparent;
						content: '';
						
						right: 10px;
						left: initial;
						border-bottom-color: rgba(255,255,255,.95);
					}
					
					&::before
					{
						top: -7px;

						display: inline-block;
						border-right: 7px solid transparent;
						border-bottom: 7px solid #ccc;
						border-left: 7px solid transparent;
						border-bottom-color: rgba(0,0,0,0.2);
						content: '';
					}

					
				}
			}
			
		}
	}
}

form#login
{

	.loginPanelSep
	{
		width: 80%;
		height: 14px;
		margin: 5px auto 25px;
		border: 0;
		border-bottom-width: 1px;
		border-style: solid;
		-webkit-border-image: -webkit-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 0 60%;
		-moz-border-image: -moz-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 1 60%;
		-o-border-image: -o-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 1 60%;
		border-image: linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 0 60%;
		border-image-slice: 1;
		.septxt
		{
			width: 40px;
			margin: 0 auto;
			background-color: rgba(245, 248, 249, 0.95);
			font-size: 11px;
			line-height: 28px;
			color: #999;
		}
	}
	
	.input-group
	{
		
		.input-group-addon
		{
			//width: 34px;
			//border-radius: 0;
			padding: .5rem .75rem;
			margin-bottom: 0;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.25;
			color: #55595c;
			text-align: center;
			background-color: #eceeef;
			border: 1px solid rgba(0,0,0,.15);
			border-right: none;
			i
			{
				width: 15px;
				
				&::before
				{
					padding: 0;
					color: #888;
				}
			}
		}
		
		input
		{
			border: 1px solid rgba(0,0,0,.15);
			height: 36px;
			border-radius: 0;
			
			&#password
			{
				//border-top: 0;
			}
		}
		
		
		&.input-group-password
		{
			.input-group-addon, input
			{
				border-top: 0;
			}
		}
		
	}
	
	#loginsubmitbtn 
	{
		background: #007cb7;
		padding: 3px;
		width: 100%;
		margin: 10px 0 0 0;
		border: 1px solid #b5b5b5;
		border-top: none;
		line-height: 28px;
		
		&::before
		{
			content: $arrow;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			color: $secondWhite;
			font-size: 24px;
			line-height: 28px;
			float: left;
		}
		
		&::after
		{
			clear: both;
		}
		
	}
}

.loginpanel .potentialidplist .potentialidp
{
	a
	{
		margin: 4px auto;
		width: 90%;
		padding: 4px 5px;
		position: relative;
		height: 34px;
		line-height: 26px;
		border: 1px solid #b5b5b5;
		
		img
		{
			display: block;
			position: absolute;
			width: 24px;
			height: 24px;
			background-color: #fff;
		}
		
		&.google img
		{
			background-color: #fff;
		}
		&.facebook img
		{
			background-color: #3b5897;
		}
		
	}
}


/************************************************* NAVBAR DRAWER ***********************************************************/
#nav-drawer
{
    background: -webkit-linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,0.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,0.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,0.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,1)); /* Standard syntax (must be last) */
	width: 284px;
    top: 36px;
	height: calc(100% - 36px);
	top: 0px;
    height: calc(100% - 0px);
	padding: 8px;
    padding-top: 45px;
	border-right: 1px solid #bfeaff;

	
    .list-group
    {

        .list-group-item
        {
            //border:none;
			padding: 15px;
			padding: .5rem .75rem;
			
			i:before
			{
				color: $bleuCL;
			}
			
			
            
			&.active
            {
                background-color: $bleuCL;
                color: $primaryWhite;


                .m-l-0
                {
                    .media-left :before, .media-closed :before
					{
						color: $primaryWhite;
                    }
                }
            }

            .m-l-0
            {

				.fa-wrench:before 
				{
					content: $administration;
				}
            }
			
			.media-closed
			{
				display: none;
				width: 100%;
			}

			
        }
    }
	
	[data-key="coursehome"]
    {
        .media-left, .media-closed
		{
			i.icon::before
			{
				font-size: 14px;
			}
		}
    }
	
    [data-key="mycourses"]
    {
        display: none !important;
    }

    [data-key="mycourses"] ~ a.list-group-item.list-group-item-action
    {
        display: none!important;
    }
	
	
	[data-key="participants"],  [data-key="2"]
	{
		display: none; 
	}
	
	[data-key="badgesview"] 
	{
		.media-left, .media-closed
		{
			i.icon
			{
				&:before
				{
					content: $badges;
				}
			}
		}
	}
	
	[data-key="grades"] 
	{
		.media-left, .media-closed
		{
			i.icon
			{
				&:before
				{
					content: $grades;
				}
			}
		}
	}
	
	
	&.closed
	{
		left: 0px;
		padding: 36px 0 0 0;
		width: 30px;
		background: #2f78a2;
		transition: width ease .5s, padding ease .5s, background ease .5s;
		overflow: hidden;
		
		.list-group-item{
		   padding: 5px 2px;
		   width: 24px;
		   height: 30px;
			border: none;
			border-bottom: 1px solid rgba(0, 64, 94, 0.4);
			background-color: transparent; 
		    display: block;
			margin: 0 auto;
		   
			&:first-of-type 
			{
				border-top: 1px solid rgba(0, 64, 94, 0.4);
			}
		   
		   
		   .media-body, .media-left
		   {
				display: none;
		   }
		   
		   .media-closed
			{
				display: block;
				flex: none;
			}
			
			&.active
			{
				background-color: #008dd0;
			}
			
			i:before {
				color: #fff;
			}
	   }
	}
}













@media (min-width: 800px)
{
	body
	{
		&.pagelayout-frontpage.notadminview
		{
				#page.container-fluid
				{
					margin: 0 5%;
				}
				
				#banner-background #banner-content, footer
				{
					margin-left: 0px;
				}
			
			
		}
		
		&.drawer-ease 
		{
			#page, #banner-content, footer
			{
				-webkit-transition: margin-left .5s ease,margin-right .5s ease;
				-moz-transition: margin-left .5s ease,margin-right .5s ease;
				-o-transition: margin-left .5s ease,margin-right .5s ease;
				transition: margin-left .5s ease,margin-right .5s ease;
			}
		}
	}
}




@media (max-width: 991px)
{
	.hidden-md-down {
		display: block !important;
	}

	nav#navtop.fixed-top.navbar
	{
		.btn-drawer-toggle .btn
		{
			margin: 7px 0px 7px 5px;
		}
		
		#headersearchbox
		{
			min-width: 100px;
		}
		
		.nav-item
		{
			&.admin
			{
				width: 30px;
			}
			
			&.mycourse
			{
				.dropdown-toggle
				{
					padding: 0;
				}
			}
			span.txt
			{
				display: none;
			}
			.popover-region
			{

				.popover-region-toggle
				{
					width: 20px;
				}

			}
		}
		
			
		.navbar-nav
        {	
			.usermenu
			{
				span.usertext
				{
					display: none;
				}
			}
		}
		
		.mycourse .dropdown-menu-arrow .dropdown-item 
		{
			white-space: normal;
			min-width: 50vw;
		}
		
	}

}


@media (max-width: 600px)
{
	nav#navtop.fixed-top.navbar
	{

		
		#headersearchbox
		{
			
		}
		
			
		.navbar-nav
        {
			.nav-item.nav-link
			{
				width: 20px;
				&:before
				{
					font-size: 1rem;
				}
			}
			
			.usermenu
			{
				.action-menu .avatar .userpicture
				{
					margin: 0 3px 0 5px;
				}
				
			}
		}
	}
}

@media (max-width: 480px)
{
	body #banner-background
	{
		margin-top: 30px;
		-webkit-transition: margin-top .5s;
		-o-transition: margin-top .5s;
		transition: margin-top .5s;
	}
	
	#nav-drawer, #nav-drawer.closed
	{
		padding-top: 74px;
	}
	
	nav#navtop.fixed-top.navbar
	{
		max-height: 66px;
		height: 66px;
		flex-flow: row wrap;
		-webkit-transition: height .5s;
		-o-transition: height .5s;
		transition: height .5s;
		
		
		.navbar-nav.btn-drawer-toggle
		{
			order: 1;
		}
		
		.navbar-nav.langmenu 
		{
			order: 2;
		}
		
		#headersearchbox
		{
			order: 4;
			height: 27px;
			flex: 1 100%;
		}
		.navbar-nav.usernavmenu
		{
			order: 3;
			flex: 1 60%;
		}
		
		
		#headersearchbox
		{
			max-width: 100%;
			margin-top: 0px;
			-webkit-transition: top .5s, width .5s, height .5s;
			-o-transition: top .5s, width .5s, height .5s;
			transition: top .5s, width .5s, height .5s;
			
			form
			{
				width: 98%;
				margin: 0 auto;
				-webkit-transition: width .5s;
				-o-transition: width .5s;
				transition: width .5s;
			}
		}
		
		.navbar-nav
        {		
			.popover-region .popover-region-container
			{
				top: 36px;
				width: auto;

			}
			
			.dropdown.show
			{
				position: unset;
				
				.dropdown-toggle:after
				{
					display: flex;
					margin-left: 3px;
					margin-top: -6px;
					border-bottom: 6px solid;
					border-right: 6px solid transparent;
					border-top: 0;
					border-left: 6px solid transparent;
				}
				.dropdown-menu
				{
					left: 30px;
					width: calc(100% - 30px);
					top: 36px;
					background-color: rgba(245, 245, 245, 0.98);
					border: 2px solid $bleuCL;
					margin: 0;
					&:before, &:after
					{
						display: none; 
					}
				
					.dropdown-item
					{
						display: block;
						overflow: hidden;
						padding: 3px 10px;
						width: calc(100% - 10px);
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
				
				&.mycourse .dropdown-menu-arrow .dropdown-item:before 
				{
					margin-left: 0;
				}
			}
			
			
			
			.usermenu .dropdown.show .dropdown-toggle:after
			{
				margin-left: -24px;
				margin-top: 30px;
				margin-right: 12px;
			}
		}
		
		 #loginbox #loginpaneldropdown
		 {
			margin: 0;
			left: 0;
			right: 0;
			top: 36px;
			width: 100%;
			border: 2px solid $bleuCL;
			background-color: rgba(245,245,245,.98);
			&:before, &:after
			{
				display: none; 
			}
		 }
	}
}

/*

@media (max-width: 1050px)
{
	nav#navtop.fixed-top.navbar
	{
		#headersearchbox
		{
			width: 20%;
		}
		
		.nav-item
		{
			margin: 0 5px;
			.nav-link
			{
				margin: 0 5px;
			}
		}
		
		.navbar-nav
        {
			.popover-region
			{
				margin-right: 5px;
				margin-left: 5px;
			}
		}
	}
	


}
@media (max-width: 991px)
{
	.hidden-md-down {
		display: block !important;
	}

	nav#navtop.fixed-top.navbar
	{
		#headersearchbox
		{
			//width: 20%;
		}
		
		.nav-item
		{
			margin: 0 5px;
			.nav-link
			{
				width: 20px;
			}
		}
		
			
		.navbar-nav
        {
			
			
			.usermenu
			{
				span.usertext
				{
					display: none;
				}
			}



				
				
			a.dropdown-toggle.nav-link
			{
				width: 24px;
				&:after
				{
					position: absolute;
					top: 16px;
					right: 0;
				}
				
			}

		
		}
		
	}

}




@media (max-width: 599px)
{
	nav#navtop.fixed-top.navbar
	{
		.btn-drawer-toggle .btn
		{
			margin: 7px 0px 7px 5px !important;
		}
		
		#headersearchbox
		{
			//width: calc(100% - 105px);
			min-width: 100px;
		}
		
		.nav-item
		{
			margin: 0 2px;
			.nav-link
			{
				margin: 0 2px;
			}
		}
			
		.navbar-nav
        {
			margin-right: 5px !important;
			
			.popover-region
			{

				margin-right: 0px;
				margin-left: 4px;

			}
			
			

			.dropdown.nav-item, .nav-item.nav-link
			{
				margin: 0 2px;
			}
			
			.nav-item.nav-link
			{
				width: 20px;
				&:before
				{
					font-size: 1rem;
				}
			}
			

				
				

			

			
			.usermenu
			{
				.action-menu .avatar .userpicture
				{
					margin: 0 3px 0 5px;
				}
				
			}
			
			
		
		}
		
	}

}

@media (max-width: 480px)
{
	body #banner-background
	{
		margin-top: 25px;
		-webkit-transition: margin-top .5s;
		-o-transition: margin-top .5s;
		transition: margin-top .5s;
	}
	
	#nav-drawer
	{
		padding-top: 74px;
	}
	
	nav#navtop.fixed-top.navbar
	{
		max-height: 66px;
		height: 66px;
		-webkit-transition: height .5s;
		-o-transition: height .5s;
		transition: height .5s;
		
		#headersearchbox
		{
			position: absolute;
			top: 36px;
			width: 100%;
			max-width: 100%;
			margin-top: 0px;
			-webkit-transition: top .5s, width .5s, height .5s;
			-o-transition: top .5s, width .5s, height .5s;
			transition: top .5s, width .5s, height .5s;
			
			form
			{
				width: 98%;
				margin: 0 auto;
				-webkit-transition: width .5s;
				-o-transition: width .5s;
				transition: width .5s;
			}
		}
		
		.navbar-nav
        {

			
			.popover-region .popover-region-container
			{

				top: 36px;
				width: auto;

			}
			

			.dropdown.nav-item.show
			{
				position: unset;
				
				.dropdown-menu
				{
					left: 2%;
					width: 96%;
					
					.dropdown-item
					{
						display: block;
						overflow: hidden;
						padding: 3px 10px;
						width: calc(100% - 10px);
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
			
			}

		}
	}
}
*/
