body.site_frontpage  #page #page-layer
{
	top: -100px;
}



body.pagelayout-frontpage  
{
	&.notadminview 
	{
		#page.container-fluid, #banner-content, footer {
			margin-left: 0px;
		}
	}
	
	.popupBloc {
		display: none;
	}
	

	
	#page
	{
		#page-layer
		{
			top: -75px;
			
			#topCours, #futurCours, #partenaires_logos
			{
				padding: 10px 0;
				
				h2
				{
					border: none;
					text-align: center;
				}
			}
			
			#coursListe 
			{
				margin: 10px auto;
				text-align: center;
				.blocCours {
					width: 220px;
					height: 250px;
					display: inline-block;
					margin: 20px 10px;
					padding: 0px;
					cursor: zoom-in;
					text-align: left;
					position: relative;
					background-color: #007cb7;
					vertical-align: top;
					
					.imgCours 
					{
						overflow: hidden;
						position: absolute;
						width: 100%;
						height: 130px;
						background-color: #f5f5f5;
						border: 1px solid #c5c5c5;
						border-bottom: none;
					}
					
					.dateCoursHighLight {
						-moz-transform: rotate(-40deg) skew(-0deg, 0);
						-ms-transform: rotate(-40deg) skew(-0deg, 0);
						-webkit-transform: rotate(-40deg) skew(-0deg, 0);
						transform: rotate(-40deg) skew(-0deg, 0);
						display: block;
						background-color: rgba(43,79,133,.85);
						position: absolute;
						left: -75px;
						top: -30px;
						width: 100%;
						color: #fff;
						font-size: 1.2em;
						font-weight: 600;
						font-family: 'Oswald', 'Helvetica';
						letter-spacing: 1px;
						text-transform: uppercase;
						line-height: 1.5em;
						text-align: center;
						padding-top: 50px;
						padding-bottom: 5px;
						box-shadow: 0px 11px 15px 0px rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
						
						div {
							display: block;
						}
					}
					
					.fdTop {
						width: 100%;
						height: 130px;
						padding: 20px;
						opacity: 0;
						background-color: #007cb7;
						transition: opacity 0.5s;
					}
					
					.borderWhite {
						-webkit-border-radius: 8px;
						-moz-border-radius: 8px;
						border-radius: 8px;
						border: 6px solid #fff;
						width: 100%;
						height: 100%;
						margin: 0;
						text-align: center;
						color: #fff;
						line-height: 5em;
						font-size: 1em;
						font-family: 'Oswald', 'Helvetica';
						letter-spacing: 1px;
						text-transform: uppercase;
						background-color: rgba(0, 124, 183, 0.7);
					}
					
					.fdBottom {
						width: 100%;
						height: 120px;
						padding-top: 8px;
						padding-bottom: 3px;
						background-color: rgba(43,79,133,1);
						border: 1px solid #c5c5c5;
						
						>div {
							width: 100%;
							height: 100%;
							padding: 6px;
							background-color: #fff;
						}
						
						.detailsMoocs {
							display: block;
							font-size: 1em;
							line-height: 1.1em;
							color: #9d9d9c;
						}
						
						.titreMooc {
							display: block;
							font-size: 1em;
							color: #007cb7;
							line-height: 1.2em;
							font-family: 'Oswald', 'Helvetica';
							letter-spacing: 1px;
							margin-top: 10px;
							height: 58px;
							overflow: hidden;
						}
					}
				}
			}
			
			
			#futurCours
			{
				
				#coursFutureListe
				{
					width: 90%;
					margin: 0 auto;
					text-align: center;
					
					.blocCours
					{	
						cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='20px' stroke='#000000'  viewBox='0 0 512 512' style='enable-background:new 0 0 512 512; fill:#ffffff;' xml:space='preserve'%3E %3Cpath stroke-width='1' d='M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z'/%3E %3C/svg%3E"), pointer;
						
						height: 170px;
						background-color: $primaryWhite;
						border: 1px solid #007cb7;
						
						width: 220px;
						display: inline-block;
						margin: 20px 10px;
						padding: 0;
						text-align: center;
						position: relative;
						vertical-align: top;
							
						.imgCours 
						{
							position: unset;
							height: 100px;
							border-bottom: 1px solid #007cb7;
						}
						
						
						.bgHover
						{
							position: absolute;
							top: 0;
							width: 100%;
							height: 100px;
							opacity: 0;
							background-color: $bleuCL;
							padding: 5px 5px 0;
							color: #fff;
							font-size: 16px;
							line-height: 20px;
							
							.cadreW
							{
								width: 96%;
								height: 76px;

								border: 2px solid #fff;
								position: absolute;
								bottom: 4px;
								left: 2%;
							}
							
							i:before
							{
								content: $iconMenuContact;
								color: #fff;
								display: block;
								margin: 0 auto;
								font-size: 20px;
								padding: 0;
								
								
							}
						}
						.institutionMoocs, .titreMooc
						{
							text-align: center;
							width: 100%;
							overflow: hidden;
							font-family: "oswald","Helvetica Neue",Arial,sans-serif;
							letter-spacing: 1px;
							font-weight: 100;
							
						}
						
						.institutionMoocs
						{
							top: 80px;
							height: 20px;
							font-size: 14px;
							line-height: 20px;
							color: #ffffff;
							text-transform: uppercase;
							position: absolute;
							padding: 0;
							
							div
							{
								width: 100%;
								margin: 0 auto;
								padding: 0 10px;
								background-color: rgba(0,124,183,.6);
							}
						}
						
						
						.titreMooc
						{
							bottom: 8px;
							height: 57px;
							font-size: 14px;
							line-height: 19px;
							color: #007cb7;
							position: absolute;
							padding: 0 3%;
						}

						
						&:hover
						{
							text-decoration: none; 
							border: 1px solid #007cb7;
							
							.institutionMoocs div
							{
								width: fit-content;
								background-color: rgba(0,124,183,.95);
							}
							
							.bgHover
							{
								height: 100%;
								opacity: 0.95;
								transition: opacity 0.5s, height 0.5s;
							}
														
							.titreMooc
							{
								color: $primaryWhite;
								transition: color 0.5s;
							}
						}
						
					}
					
					
				}
				
				
				
			}
			
			#topCours, #futurCours
			{
				background-color: $primaryWhite;
				width: 100%;
				#coursListe {
					width: 90%;
					margin: 0 auto;
				}
			}
			
			#futurCours
			{
				background-color: $colorLign2;
			}
			
			#partenaires_logos
			{
				background-color: $primaryWhite;
				width: 100%;
				padding-bottom: 20px;
				text-align: center;
				img {
					width: 150px;
					margin: 25px 4%;
				}
			}
			
			
			
			#blocCatalogue, #frmContact, #frmCertificate {
				//margin: 30px auto;
				//width: 90%;
				//background-color: rgba(235, 235, 235, 0.8);
				//border: 1px solid #d5d5d5;
				margin: 0px auto;
				padding: 10px 1% 1%;
				width: 98%;
				background-color: rgba(0,124,183,.8);
				border: 1px solid $primaryWhite;
				
				#blocCatalogueBg
				{
					width: 100%;
					background-color: $primaryWhiteOpacity;
					margin-bottom: 0px;
				}
				
				>h1
				{
					color: $primaryWhite;
					border: none;
					margin-top: 5px;
					margin-bottom: 10px;
					line-height: 1.8rem;
				}
				
				#frm
				{
					//padding: 1%;
					//background: rgba(245,245,245,.9);
					padding: 0;
					display: table;
					width: 100%;
					border-spacing: 15px;
					background-color: $primaryWhiteOpacity;
					margin-bottom: 15px;
					
					.formGroup {
						display: table-row;
						
						label {
							display: table-cell;
							vertical-align: top;
							line-height: 30px;
							min-width: 100px;
							font-weight: 600;
							cursor: auto;
						}
						
						input{
							display: table-cell;
							vertical-align: top;
							width: 100%;
							margin: 0;
							&#captcha
							{
								width: 120px;
							}
						}
						
						img{
							vertical-align: top;
						}
						
						textarea {
							width: 100%;
							min-height: 180px;
							resize: none;
						}

					}
				}
				
				.btnRefresh {
					background:transparent url([[pix:theme_moodec|icon_refresh]]) no-repeat center ;
					background-size: 24px auto;
					opacity: 0.7;
					width: 30px;
					height: 30px;
					border: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					margin: 0;
				}
				
				.btnAction{
					display: block;
					width: 150px;
					margin: 0 auto;
					border: 1px solid $primaryWhiteOpacity;
				}
			}
			
			#filtreCatalogue {
				width: 32%;
				float: left;
				padding: 1%;
				border: 0;
				border-right-width: 1px;
				border-style: solid;
				-webkit-border-image: -webkit-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
				-moz-border-image: -moz-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
				-o-border-image: -o-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
				border-image: linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
				border-image-slice: 1;
			}
			
			

			
			
			#page-content 
			{
				#blocCatalogue
				{
					h3
					{
						border: none;
						color: #000;
					}
					
					#catalogue {
						width: 68%;
						float: right;
						padding: 1%;
						
						#coursListe 
						{
							width: 96%;
							margin: 10px auto;
							text-align: left;
							.blocCours {
								//display: inline-block;
								//padding: 0;
								//cursor: pointer;
								//vertical-align: top;
							}
							.blocCoursEmpty {
								width: 80%;
								margin: 50px auto;
								text-align: center;
								font-family: 'Oswald', 'Helvetica';
								color: #b5b5b5;
								font-size: 2em;
								line-height: 3em;
							}
						}
					}
					
					.accordion
					{
						margin-bottom: 20px;
						
						.accordion-header {
							background: #007cb7;
							padding: 0 3%;
							cursor: pointer;
							height: 2em;
							transition: .25s;
							
							.accordion-header-icon {
								display: inline-block;
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 6px 5px 0 5px;
								border-color: $primaryWhite transparent transparent transparent;
								margin-bottom: 4px;
							}
							
							 h1 {
								font-size: 1em;
								font-family: 'Oswald', 'Helvetica';
								line-height: 2em;
								color: $primaryWhite;
								display: inline-block;
								padding-left: 5px;
								border: none;
								margin: 0;
							}
						}
						
						ul.subTitleFilter {
							margin: 0;
							#inputTextSearchAdv {
								height: 30px;
								line-height: 26px;
								padding: 2px 3px;
								width: 100%;
							}
						}
						
						.accordion-content {
							border: 1px solid #ccc;
							display: none;
							padding: 6px;
							color: #212121;
							background: rgba(250,250,250,0.5);
							font-size: 15px;
							line-height: 1.45em;
							list-style: none;
							
							.filtreline {
								margin: 5px 0;
								
								input[type="checkbox"] {
									width: 20px;
									height: 20px;
								}
								input {
									float: left;
									display: block;
									margin: 4px;
								}
								
								.textFilter {
									float: left;
									max-width: 80%;
								}
							}
						}

					}
					
					
				}
			}
			
			
		}
	}
	
	
	.modal
	{
		.modal-dialog
		{
			flex: 0 0 75%;
			max-width: 75%;
			
			.modal-header
			{
				color: $primaryWhite;
				background-color: $bleuCL;
				h2
				{
					margin: 0 auto 0 0;
					color: $primaryWhite;
					line-height: 40px;
					font-size: 1.5rem;
				}
				.close
				{
					color: $bleuCL;
					background-color: $secondWhite;
					opacity: .8;
					font-size: 32px;
					line-height: 32px;
					padding: 0;
					margin: 0 -1rem 0 0;
					width: 40px;
					min-width: 40px;
					height: 40px;
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;
					
					&:before
					{
						content: $iconClose;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: 100;
						color:$bleuCL;
						//font-size: 1em;
						vertical-align: top;
						
					}
					
					&:hover
					{
						opacity: 1;
					}
				}
			}
		}
	}
}

#pgwModal, div[role="main"] #moodecDescContent
{

	

	.modal-body {
		background-color: #f5f5f5;
		//border-radius: 0px;
		//-webkit-box-shadow: none;
		//box-shadow: none;
		//width: 76%;

	}
	

		
		#mooc {
			padding-left: 2%;
			padding-right: 2%;
			//padding-right: 40px;
			padding-top: 20px;
			
			h2 {
				font-family: 'Oswald', 'Helvetica';
				color: #007cb7;
				font-size: 2em;
				line-height: 1.6em;
				font-weight: 400;
			}
		}
		
		#descriptionCours {
			width: 60%;
			float: left;
			padding: 2%;
			text-align: justify;
			
			#texteDescription {
				margin-bottom: 50px;
				
				#iframeYoutube, #iframevideo {
					width: 560px;
					height: 315px;
					max-width: 100%;
					display: inline;
					iframe {
						max-width: 100%;
						float: left;
						padding: 10px;
					}
				}
				
				#descriptionSummary
				{
					span {
						color: black;
						font-family: 'Helvetica', Arial, sans-serif;
						font-size: 1em;
						line-height: normal;
						
						.img-responsive {
							display: inline-block;
							width: 29%;
						}
						
					}
					
					h5
					{
						display: block;
						clear: both;
					}
				
				}
				
				
				
			}
		}
		
		#inscription , #moocInfo
		{
			width: 35%;
			float: right;
			min-height: 800px;
			padding: 0 0 2% 0;
			margin: 2%;
			text-align: center;
			background-color: #e3e3e3;
			
			#aInscription {
				display: block;
				width: 100%;
				min-height: 2.2em;
				background-color: #007cb7;
				font-family: 'Oswald', 'Helvetica';
				letter-spacing: 1.2px;
				font-size: 1.5em;
				line-height: 2.2em;
				color: #fff;
				text-transform: uppercase;
				margin-bottom: 20px;
				padding: 0 4px;
			}
			
			#container_professor .imgProf {
				overflow: hidden;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				border-radius: 50px;
				width: 100px;
				height: 100px;
				margin: 30px auto 20px;
			}
			
			#img {
				display: none;
			}
			
			.moocimg
			{
				margin: 0;
				max-width: unset;
				max-height: unset;
			}
			
		}
		
		#moodecDescIcons {
			width: 96%;
			text-align: left;
			margin: 10px auto;
			line-height: 35px;
			
			.iconTitle {
				padding-right: 26px;
				text-align: right;
				display: inline-block;
				width: 45%;
				color: #007cb7;
				font-family: 'Oswald','Helvetica';
				text-transform: uppercase;
			}
			

			
			
			#school .iconTitle {
				background: url([[pix:theme_moodec|home/icon_ecole]]) no-repeat right center;
				background-size: 20px 20px;
			}
			
			#effort .iconTitle {
				background: url([[pix:theme_moodec|home/icon_effort]]) no-repeat right center;
				background-size: 20px 20px;
			}
			
			#startdate .iconTitle {
				background: url([[pix:theme_moodec|home/icon_debut]]) no-repeat right center;
				background-size: 20px 20px;
			}
			
			#enddate .iconTitle {
				background: url([[pix:theme_moodec|home/icon_fin]]) no-repeat right center;
				background-size: 20px 20px;
			}
			
			#duration .iconTitle {
				background: url([[pix:theme_moodec|home/icon_duree]]) no-repeat right center;
				background-size: 20px 20px;
			}

			#courseformat .iconTitle {
				background: url([[pix:theme_moodec|home/icon_format]]) no-repeat right center;
				background-size: 20px 20px;
			}

			#price .iconTitle {
				background: url([[pix:theme_moodec|home/icon_price]]) no-repeat right center;
				background-size: 20px 20px;
			}
			
			.iconDesc {
				display: inline-block;
				padding-left: 3%;
				width: 55%;
			}
			
		}
		
		#infoCourse {
			float: left;
			padding: 2%;
			width: 60%;
			background-color: #e3e3e3;
			
			h4 {
				color: #007cb7;
			}
			
			.texteMoocBleu {
				color: #666;
				font-size: 1em;
				line-height: 2em;
				margin-top: 15px;
				font-family: 'Oswald', 'Helvetica';
				letter-spacing: 2px;
				text-transform: uppercase;
			}
			
			.InfoComm {
				color: #666;
				font-size: 1em;
				padding-left: 15px;
			}
		}
		
		
	

}

div[role="main"] #moodecDescContent
{
	#mooc
	{
		padding-right: 2%;
		
		h2
		{
			border: 0;
		}
	}
	
	#descriptionCours #iframevideo
	{
		text-align: center;
	}
}


@media (max-width: 1199px)
{
	#pgwModal, div[role="main"] #moodecDescContent
	{
		.modal-body {
			//width: 84%;
		}
		
		#descriptionCours
		{
			width: 100%;
			#iframeYoutube
			{
				width: 100%;
				height: auto;
				max-width: 100%;
				display: inline-block;
				iframe {
					max-width: 100%;
					width: 100%;
					height: auto;
					min-height: 225px;
				}
			}
		}
		
		#inscription, #moocInfo, #infoCourse {
			width: 49%;
			margin: 0.5%;
			min-height: initial;
		}

	}
}


@media (max-width: 800px)
{
	body.pagelayout-frontpage
	{
		&.site_frontpage
		{
			#page-wrapper 
			{
				margin-bottom: -236px;
			}
			#page
			{
				#page-layer 
				{
					top: -90px;
					#partenaires_logos img
					{
						width: 110px;
					}
				}
			}
		}
		
		#page
		{
			#page-layer 
			{
				top: -88px;
				
				#page-content 
				{
					#blocCatalogue
					{
						h3
						{
							border: none;
							color: #000;
						}
						
						.accordion
						{
							margin-bottom: 5px
						}
						
						#filtreCatalogue 
						{
							width: 100%;
							border: 0;
							border-bottom-width: 1px;
							border-style: solid;
							-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
							-moz-border-image: -moz-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
							-o-border-image: -o-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
							border-image: linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
							border-image-slice: 1;
							
							.filtreBloc 
							{
								float: left;
								width: 32%;
								margin: 0 0.66%;
							}
						}
						
						#catalogue 
						{
							width: 100%;
							
							
						}
					}
				}

			}
		}
		
		.modal
		{
			.modal-dialog
			{
				flex: 0 0 90%;
				max-width: 90%;
			}
		}
		
		
	}
	
	#pgwModal, div[role="main"] #moodecDescContent
	{
		.modal-body 
		{
			//width: 90%;
		}
		
		#descriptionCours
		{
			display: block;
			
			#texteDescription {
				margin-bottom: 5px;
				
			}
		
		}
		
		#inscription, #moocInfo
		{
			width: 100%;

		}
		#infoCourse 
		{
			width: 100%;
			margin-top: 20px;
		}

		#descriptionCours, #inscription, #moocInfo, #infoCourse 
		{
			float: none;
			width: 100%;
			margin-top: 20px; 
		}
	}
}

@media (max-width: 600px)
{
	body.pagelayout-frontpage
	{
		.modal
		{
			.modal-dialog
			{
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		
		
	}
}