body
{
	&.pagelayout-login
	{
		
		header #loginbox
		{
			display: none;
		}
		
		
		#sectionlogin 
		{
			margin: 0px auto;
			padding: 0px 1% 1% 1%;
			width: 98%;
			background-color: rgba(0,124,183,.8);
			border: 1px solid $primaryWhite;
			
			>h1
			{
				color: $primaryWhite;
				border: none;
				margin-top: 5px;
				margin-bottom: 10px;
				line-height: 1.8rem;
			}
			
			.blocLogin
			{

				background-color: $primaryWhiteOpacity;
				padding: 15px;
				
				.loginerrors
				{
					margin-bottom: 10px;
					
					.alert
					{
						
						background-color: $primaryWhiteOpacity;
						padding: 8px;
						background-color: rgba(255, 0, 0, 0.7);
						color: #fff;
						text-align: center;
					}
				}
				.loginpanel
				{

					.row
					{
						position: relative;
						
						.account_provider, .account_local, .account_regist
						{
							padding: 5px 25px;
							
							form
							{
								.btn
								{
									width: 100%;
									margin: 0;
								}
							}
							
							.bloc_titre
							{
								font-size: 16px;
								line-height: 20px;
							}
						} 
						
						.account_local
						{
							.input-group
							{
								
								.input-group-addon
								{
									width: 40px;
								}
								
								input
								{
									height: 44px;
								}
							}
							.rememberpass
							{
								margin-top: 8px;
							}
							
							.btn
							{
								margin: 0;
							}
						}
						
						.registration
						{
							.instructions, .registration_form
							{
								display: inline-block;
								width: 100%;
								padding: 5px;
								margin: 0;
								vertical-align: top;
								line-height: 15px;
								
								
							}
							
							
						}
						
						.sep, .sep1
						{
							position: absolute;
							left: calc(33.3% - 40px);
							top: 0;
							bottom: 0;
							width: 40px;
							border: 0;
							border-right-width: 1px;
							border-style: solid;
							-webkit-border-image: -webkit-linear-gradient(rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 0 60%;
							-moz-border-image: -moz-linear-gradient(rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 1 60%;
							-o-border-image: -o-linear-gradient(rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 1 60%;
							border-image: linear-gradient(rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 0 60%;
							border-image-slice: 1;
							.septxt
							{
								font-size: 11px;
								color: #999;
								width: 40px;
								height: 30px;
								line-height: 30px;
								position: relative;
								top: 50%;
								left: 50%;
								text-align: center;
								background-color: rgba(246, 250, 252, .8);
							}
						}
						.sep1
						{
							left: calc(66.6% - 40px);
						}
					}
					
						
					
					
					.noteLogin
					{
						padding-left: 20px;
						padding-bottom: 10px;
						margin-bottom: 10px;
						text-align: center;
						border-bottom: 1px solid #ddd;
						
						i.firsticon
						{
							margin-left: -20px;
						}
						a.btn-link
						{
							vertical-align: top;
						}
					}
					
					.potentialidplist .potentialidp
					{
						margin: 10px 0;
						a.btn
						{
							width: 100%;
							margin: 0;

							
						}
					}
				}
			}
			
			
		}
		
		
		#page #page-content #region-main .card-block
		{
			background: rgba(0, 124, 183, 0.8);
			border: 1px solid #fff;
			padding: 10% 30px;
			
			div[role="main"]
			{
				#maincontent
				{
					height: 0;
				}
				
				h2, h3
				{
					color: $bleuCL;
					font-size: 1.3rem;
					line-height: 2rem;
					border-bottom: 1px solid $bleuCL;
				}
				
				.loginsub
				{
					width: 44%;
					margin: 0 3%;
					padding: 1%;
					float: left;
					background: rgba(245, 245, 245, 0.9);
					
					#wayf_div
					{
						background-color: rgba(0,62,92,1) !important;
						
						
						#wayf_intro_label, #wayf_remember_checkbox_label
						{
							font-size: 14px !important;
							color: #fff !important;
						}
						
						#user_idp
						{
							width: 100%;
							height: 30px;
							line-height: 30px;
						}
						
					}
					
					.loginsub
					{
						width: 100%;
						margin: 0;
						form{
							.loginform
							{
								label
								{
									margin-bottom: 5px;
								}
								
								.form-input
								{
									margin-bottom: 10px;
									input
									{
										width: 100%;
										border: 1px solid #ccc;
									}
								}
							}

							.desc
							{
								border-bottom: 1px solid $bleuCL;
								padding-bottom: 10px;
								margin-bottom: 10px;
							}
						}
					
					}
					
					form{
						input[type="submit"]
						{
							width: 100%;
							margin: 6px 0;
							padding: 6px;
						}
					}
				}
				
				
				
			}	
		}
	}
}

@media (max-width: 1024px)
{
	body
	{
		&.pagelayout-login
		{
			#page #page-content #region-main .card-block div[role="main"]
			{
				.loginsub
				{
					width: 90%;
					margin: 15px 5%;
				}
			}
		}
	}
}


@media (max-width: 768px)
{
	body.pagelayout-login  #sectionlogin .blocLogin .loginpanel .row
	{
		.sep, .sep1
		{
			position: unset;
			width: 80%;
			height: 14px;
			margin: 5px auto 25px;
			border: 0;
			border-bottom-width: 1px;
			border-style: solid;
			-webkit-border-image: -webkit-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 0 60%;
			-moz-border-image: -moz-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 1 60%;
			-o-border-image: -o-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 1 60%;
			border-image: linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 0 60%;
			border-image-slice: 1;
			.septxt
			{
				position: unset;
				margin: 0 auto;
				background-color: rgba(246, 250, 252, .95);
			}
		}
		
	}
}