
/*********************************************** CYBERLEARN THEME CSS *****************************************************/
/******************************************************* NAVBAR ***********************************************************/

header
{
    &.navbar
    {
        border-bottom: 1px solid #2a4469;
		max-height: 36px;
		padding: 3px 14px;
		background-color: #fff;
		.navbar-nav
        {
            padding: 0;
		   .btn-drawer-toggle
		   {
			   .btn
			   {
					background-color: $primaryWhite;
					border: 1px solid $bleuCL ;
					&:hover
					{
						background-color: $secondWhite;
						border: 1px solid $bleuCL ;
					}
					
			   }
			   
			   img{
				   &.icon
				   {
					   
				   }
			   }
		   }
		   
		   .btn-drawer
			{
				border: 1px solid #007cb7;
				padding: 2px 12px;
				margin-top: 3px;
				margin-left: 0;
				&:active
				{
					background-color: #f5f5f5;
				}
			}
			.navbar-brand
            {
                display: none;
            }
            i
            {
                &.icon
                {
                    font-size:1.25rem;
                    vertical-align: middle;
                    color:#007cb7;
					//line-height: 26px;
					&:before
					{
						font-size:1.25rem;
						vertical-align: middle;
						color:#007cb7;
					}
                }
            }
            .nav-link
            {
                font-size:1rem;
                font-weight: 100;
				padding: 0;
            }

            #headersearchbox
            {
                width:30%;
				max-width: 300px;
				min-width: 200px;
                display: inline-block;
				font-size: 1rem;
				vertical-align: top;
				margin-top: 3px;
				
				form
				{
					padding: 0;
				}
				
				.searchInput
				{
					height: 25px;
					width: 100%;
					padding: 2px 30px 2px 5px;
					border-radius: 4px;
					border: 1px solid #bbb;
					display: inline-block;
				}
				.searchBtnSubmit
				{
					height: 25px;
					width: 25px;
					padding: 0px;
					margin: 0px;
					margin-left:-25px;
					border: none;
					background-color: transparent;
					display: inline-block;
					opacity: 0.5;
					i
					{
						line-height: 26px;
					}
					&:hover
					{
						opacity: 1;
					}
				}
            }

            .dropdown 
            {
               
				
				&.nav-item
                {
                    margin-left: 10px;
                    margin-right: 10px;
					float : right;
					
					
					
					.nav-link
					{
						color:#007cb7;
						height: 27px;
						overflow:hidden;
					}

                    a
                    {
                        &.dropdown-toggle, &.nav-link
                        {
                                
                                position:relative;
                        }
                    }

                    .dropdown-menu
                    {
                        left:0;
						margin-top: 1px;
						min-width: 270px;
						
						
                        .dropdown-item
                        {
                            padding: 3px 10px 3px 24px;
							cursor: pointer;
							position: relative;
							white-space: normal;
							
							&:before
                            {
                                
                                content: $arrowBlod;
                                font-family: FontAwesome;
                                font-style: normal;
                                font-weight: normal;
                                text-decoration: inherit;
                                color: #007cb7;
                                font-size: 0.8rem;
                                vertical-align: middle;
                                padding-right: 0.3em;
								position: absolute;
								top: 5px;
								left: 10px;
                            }
                        }
                    }


                    &:last-of-type
                    {
                        float : right;
                        a
                        {
                            &.dropdown-toggle, &.nav-link
                            {
                                &:before
                                {
                                    content: $mycourse;
                                    font-family: FontAwesome;
                                    font-style: normal;
                                    font-weight: normal;
                                    text-decoration: inherit;
                                    color: #007cb7;
                                    font-size: 1.3rem;
                                    vertical-align: middle;
                                    padding-right: 0.2em;
                                }
                            }
                        }
                    }
                }
				 &.langmenu
				{
					float :none;
					display: inline-block;
					margin-left: 0.2rem;
					margin-right: 0.5rem;
					line-height: 30px;
					a
                    {
                        &.dropdown-toggle
                        {
                            &:before
							{
								content: "";
								vertical-align: initial;
								padding: 0;
							}
							&:after
							{
								margin-left: 0;
							}
                        }
                    }
					.dropdown-menu
                    {
                        left:0%;
					}
				}
				
				
            }

            .nav-item
            {
                &.nav-link
                {
                    float : right;
                    color:#007cb7;
                    position:relative;
					margin-left: 10px;
					margin-right: 10px;
					height: 27px;
					overflow:hidden;

                    &:before
                    {
                        //content: "\f013";
                        content: $administration;
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: inherit;
                        color: #007cb7;
                        font-size: 1.3rem;
                        vertical-align: middle;
                        padding-right: 0.2em;
                    }
                }
            }
			
			.popover-region
			{
				margin-top: 3px;
				margin-right: 10px;
				margin-left: 10px;
				
				&.popover-region-notifications
				{
					margin-right: 0px;
				}
				
				.popover-region-toggle
				{
					&:before
					{
						border-bottom: 12px solid $bleuCL;
						bottom: -11px;
						right: 5px;
					}
					&:after
					{
						border-bottom: 11px solid #f5f5f5;
						bottom: -12px;
						right: 6px;
					}
				}
				
				.popover-region-container
				{
					top: 2rem;
					border: 1px solid #007cb7;
					width: 400px;
					
					.popover-region-header-container
					{
						background-color: #f5f5f5;
						height: 34px;
						h3
						{
							font-size: initial;
							line-height: 34px;
							border: none;
						}
						.popover-region-header-actions
						{
							>* 
							{
								margin-left: 0px; 
							}
							
							.newmessage-link
							{
								margin-right: 0px; 
								padding-top: 8px;
								line-height: 24px;
							}
						}
					}
					
					.popover-region-content-container
					{
						height: calc(100% - 64px);
					}
					
					
					
					
					.popover-region-footer-container
					{
						background-color: #007cb7;
						color: #fff;
						border: none;
					}
				}
			}

            .usermenu
            {
                height: 30px;

				
				.usertext
                {
                    color: #007cb7;
                    font-size: 1rem;
					max-width: 120px;
					span.meta
					{
						line-height: 1em;
						margin-top: -4px;
						font-style: italic;
						&.role
						{
							font-weight: 900;
						}

					}
					
					
                }

                .dropdown-toggle
                {
                    display: inline-block;
					height: 30px;
					overflow: hidden;
					&:after
                    {
                        color: #007cb7;
                    }
                }
				
				.dropdown-menu 
				{
					margin-top: 1px;
				}
            }
			
			nav
			{
				display: inline-block;
				float: right;
				margin-top: 4px;
			}
			
			#loginbox
			{
				float: right;
				
				
				a
				{
					text-decoration: none;
					
					&.dropdown-toggle
					{
						
						&::after
						{
							margin-left: 8px;
							padding-bottom: 16px; 
						}
						
						
						
					}
				}
				
				#usertext
				{
					font-size: 16px;
					line-height: 33px;
					vertical-align: top;
					font-family: "oswald","Helvetica Neue", Arial,sans-serif;
					letter-spacing: 1px;
					font-weight: 100;
					text-transform: uppercase;
					margin-right: 5px;
				}
				
				.dropdown-toggle i.fa-user-circle
				{
					height: 30px;
					overflow: hidden;
					display: inline-block;
					
					&::before
					{
						font-size: 33px;
						line-height: 35px;
						padding: 0;
						color: #007cb7;
					}
				}
				
				#loginpaneldropdown
				{
					margin: 4px 0 0;
					background-color: $primaryWhiteOpacity;
					left: unset;
					right: 16px;
					min-width: 260px;
					text-align: center;
					border: 1px solid rgba(5,5,5,.6);
					-webkit-border-radius: 0px;
					-moz-border-radius: 0px;
					border-radius: 0px;
					color: #fff;
					overflow-y: visible;
					
					form
					{
						padding: 0px 0 5px 0;
						
					}
					
					
					
					.loginform
					{
						width: 90%;
						margin: 0 auto; 
						form
						{
							padding-bottom: 3px; 
						}
						
						
						
						

					}
					.signup
					{
						.forgetpass 
						{
							font-size: 14px;
							line-height: 22px;
							text-align: center;
							
							a
							{
								display: block;
							}
							
							a.linkLostPass {
								color: #999;
								line-height: 14px;
							}
							
							a.linkInscription {
								font-size: 12px;
								font-family: "oswald","Helvetica Neue", Arial,sans-serif;
								letter-spacing: 1px;
								font-weight: 100;
								text-transform: uppercase;
							}
						}
					}
					
					&::before,  &::after
					{
						position: absolute;
						top: -6px;

						display: inline-block;
						border-right: 6px solid transparent;
						border-bottom: 6px solid #fff;
						border-left: 6px solid transparent;
						content: '';
						
						right: 10px;
						left: initial;
						border-bottom-color: rgba(209,239,253,1);
					}
					
					&::before
					{
						top: -7px;

						display: inline-block;
						border-right: 7px solid transparent;
						border-bottom: 7px solid #ccc;
						border-left: 7px solid transparent;
						border-bottom-color: rgba(0,0,0,0.2);
						content: '';
					}

					
				}
			}
			
        }
    }
}

form#login
{

	.loginPanelSep
	{
		//color: #999;
		//font-size: 10px;
		//line-height: 24px;
		width: 80%;
		height: 14px;
		margin: 5px auto 25px;
		border: 0;
		border-bottom-width: 1px;
		border-style: solid;
		-webkit-border-image: -webkit-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 0 60%;
		-moz-border-image: -moz-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 1 60%;
		-o-border-image: -o-linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 1 60%;
		border-image: linear-gradient(90deg,rgba(130,130,130,0),rgba(130,130,130,.6),rgba(130,130,130,0)) 0 60%;
		border-image-slice: 1;
		.septxt
		{
			width: 40px;
			margin: 0 auto;
			background-color: rgba(245, 248, 249, 0.95);
			font-size: 11px;
			line-height: 28px;
			color: #999;
		}
	}
	
	.input-group
	{
		
		.input-group-addon
		{
			width: 34px;
			border-radius: 0;
			
			i
			{
				width: 15px;
				
				&::before
				{
					padding: 0;
					color: #888;
				}
			}
		}
		
		input
		{
			border: 1px solid rgba(0,0,0,.15);
			height: 36px;
			border-radius: 0;
			
			&#password
			{
				//border-top: 0;
			}
		}
		
		
		&.input-group-password
		{
			.input-group-addon, input
			{
				border-top: 0;
			}
		}
		
	}
	
	#loginsubmitbtn 
	{
		background: #007cb7;
		padding: 3px;
		width: 100%;
		margin: 10px 0 0 0;
		border: 1px solid #b5b5b5;
		border-top: none;
		line-height: 28px;
		
		&::before
		{
			content: $arrow;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			color: $secondWhite;
			font-size: 24px;
			line-height: 28px;
			float: left;
		}
		
		&::after
		{
			clear: both;
		}
		
	}
}

.loginpanel .potentialidplist .potentialidp
{
	a
	{
		margin: 4px auto;
		width: 90%;
		padding: 4px 5px;
		position: relative;
		height: 34px;
		line-height: 26px;
		border: 1px solid #b5b5b5;
		
		img
		{
			display: block;
			position: absolute;
			width: 24px;
			height: 24px;
			background-color: #fff;
		}
		
		&.google img
		{
			background-color: #fff;
		}
		&.facebook img
		{
			background-color: #3b5897;
		}
		
	}
}
	
/************************************************* NAVBAR DRAWER ***********************************************************/
#nav-drawer
{
    background: -webkit-linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,0.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,0.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,0.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(240,240,240,0.9),rgba(255,255,255,0.9), rgba(255,255,255,1)); /* Standard syntax (must be last) */
	width: 284px;
    top: 36px;
	height: calc(100% - 36px);
	
    .list-group
    {

        .list-group-item
        {
            //border:none;
			padding: 15px;
			padding: .5rem .75rem;

            &.-nav-active
            {
                background-color: #007cb7;
                color: #FFFFFF;

                .m-l-0
                {
                    &:not(.nav-)
                    {
                        &:before
                        {
                            color: #FFFFFF;
                        }
                    }
                }
            }

            .m-l-0
            {
                position: relative;
            }

            &[data-key="coursehome"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $course;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }

            &[data-key="participants"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $participants;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }

            &[data-key="badgesview"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $badges;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }

            &[data-key="2"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $compentecies;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }

            &[data-key="grades"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $grades;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }

            &[data-key="myhome"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $dashboard;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }

            &[data-key="home"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $home;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }

            &[data-key="calendar"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $calendar;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }

            &[data-key="privatefiles"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $files;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }

            &[data-key="sitesettings"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $administration;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }

            &[data-key="addblock"]
            {
                .m-l-0
                {
                    &:not(.nav-section)
                    {

                            &:before
                            {
                                content: $addblock;
                                @extend .fav-icon-style;
                            }
                    }
                }
            }
        }
    }

    [data-key="mycourses"]
    {
        display: none;
    }

    [data-key="mycourses"] ~ a.list-group-item.list-group-item-action
    {
        display: none;
    }
}


@media (max-width: 1050px)
{
	header.navbar
	{
		.navbar-nav
        {
			#headersearchbox
			{
				width: 20%;
			}

			.popover-region
			{
				margin-right: 5px;
				margin-left: 5px;
			}
			
			nav.navbar-nav
			{
				.dropdown.nav-item, .nav-item.nav-link
				{
					margin: 0 5px;
				}
				
			}
			
		
		}
		
	}

}
@media (max-width: 991px)
{
	.hidden-md-down {
		display: block !important;
	}

	header.navbar
	{
		.navbar-nav
        {
			#headersearchbox
			{
				width: 20%;
			}
			
			.usermenu
			{
				span.usertext
				{
					display: none;
				}
			}
			
			.popover-region
			{

				margin-right: 7px;
				margin-left: 7px;

			}
			
			nav.navbar-nav
			{
				.dropdown.nav-item, .nav-item.nav-link
				{
					margin: 0 7px;
				}
				
				.nav-item.nav-link
				{
					width: 25px;
				}
				
				a.dropdown-toggle.nav-link
				{
					width: 32px;
					&:after
					{
						position: absolute;
						top: 11px;
						right: 0;
					}
					
				}
				

				.dropdown.nav-item.open
				{
					.dropdown-menu
					{
						left: unset;
						right: 0;
					}
				}
				
				
			}
		
		}
		
	}

}


@media (max-width: 599px)
{
	header.navbar
	{
		//max-height: 72px;
		padding: 3px 10px;
		.navbar-nav
        {
			.btn-drawer.m-r-1 {
				padding: 2px 9px;
				margin-right:6px !important
			}
			
			#headersearchbox
			{
				width: calc(100% - 105px);
				max-width: 100%;
				min-width: 100px;
				display: none;
			}
			
			.popover-region
			{

				margin-right: 0px;
				margin-left: 4px;

			}
			
			nav.navbar-nav
			{
				.dropdown.nav-item, .nav-item.nav-link
				{
					margin: 0 4px;
				}
				
				.nav-item.nav-link
				{
					width: 20px;
					&:before
					{
						font-size: 1rem;
					}
				}
				
				a.dropdown-toggle.nav-link
				{
					width: 27px;
					
					&:before
					{
						font-size: 1rem !important;
						line-height: 1.8rem;
					}
					
					&:after
					{
						top: 10px;
					}
					
				}
				
				
			}
			
			.nav-link
			{
				width: 20px;
				i.icon {
					//font-size: 1rem;
					margin: 0;
					&:before
					{
						font-size: 1.1rem;
						padding-right: 5px;
					}
				}
			}
			
			.usermenu
			{
				.action-menu .avatar .userpicture
				{
					margin: 0 3px 0 5px;
				}
				
			}
			
			
		
		}
		
	}

}

@media (max-width: 480px)
{
	
	header.navbar
	{

		.navbar-nav
        {

			
			.popover-region .popover-region-container
			{

				top: 36px;
				width: auto;

			}
			
			nav.navbar-nav
			{
				.dropdown.nav-item.open
				{
					position: unset;
					
					.dropdown-menu
					{
						left: 2%;
						right: 2%;
						width: 96%;
						
						.dropdown-item
						{
							display: block;
							overflow: hidden;
							//padding: 3px 10px;
							width: calc(100% - 10px);
							white-space: nowrap;
							text-overflow: ellipsis;
						}
					}
				
				}
			}
		}
	}
}
