header#page-header
{
    
	
	.card
    {
		
		background-color: rgba(0,124,183,0.8);
        margin: 0px;
		margin-bottom: 0;
		border: 1px solid #fff;
		border-bottom-width: 0;
		
		.card-block
		{
			padding: 5px 10px;
			
			.page-navbar
			{
				
				.breadcrumb-nav
				{
					
				}
				.breadcrumb-button.pull-xs-right
				{
					//padding-left: 1%;
				}
			}
			
		}
		
		.page-context-header
        {
            .page-header-headings
            {
                h1
                {
                    color:#FFFFFF;
                }
            }
        }
		
		.breadcrumb-button
        {
            .singlebutton
            {
                .btn
                {
                    &.btn-secondary
                    {
                        background-color: transparent;
                        border:none;
                        border-radius: 0px;
						font-family: "oswald","Helvetica Neue",Arial,sans-serif;
						letter-spacing: 1px;
						font-weight: 100;
						text-transform: uppercase;
						line-height: 1em;
                        color:#FFFFFF;
                        padding: 0;
						
						&:before
						{
							//content: $reset ;
							content: $iconConfig;
							font-family: FontAwesome;
							font-style: normal;
							font-weight: 400;
							text-decoration: inherit;
							color: #ffffff;
							font-size: 1rem;
							vertical-align: top;
							padding-right: .2em;
						}

                        &:hover
                        {
                            
                            color:#f5f5f5;
							
                        }
                    }
					
                }
            }
			a
			{
				color:$secondWhite;
				&:hover
				{
					
					color:#f5f5f5;
					
				}
			}
        }

        // PAGE'S PATH
        #page-navbar
        {
            
			font-size: 1em;
			line-height: 2em;
			display: flex;
			justify-content: center;
				
			.breadcrumb-nav
            {
                margin-right: auto;
				nav
                {
                    ol
                    {
                        margin: 0;
						padding: 0;
						background: transparent;
						
						li
                        {
                            font-weight: 100;
                            color:$secondWhite;
							
							&:before
							{
								content: $arrow;
								font-family: FontAwesome;
								font-style: normal;
								font-weight: 100;
								color:#bbb;
								font-size: 1.5em;
								vertical-align: top;
								padding-right: .4em;
							}

                            &:first-of-type
                            {
                                a
                                {
                                    position: relative;
                                    text-decoration: none; 
                                }
								&:before
								{
									content: $dashboard;
									font-size: 1rem;
									color:#fff;
								}
                            }

                            a 
                            {
                                color:$secondWhite;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
			
			
			.breadcrumb-button
			{
				margin: 0;
				//padding-left: 1%;
				
				
				.btn-edit-on, .btn-edit-off
				{
					color: $secondWhite;
					padding: 0 0 0 10px;
					//padding-left: 10px;
					border: none;
					i
					{
						&:before
						{
							color:$secondWhite;
						}
						&.fa-edit-on
						{
							
							&:before
							{
								content: $iconEdit ;
							}
						}
						&.fa-edit-off
						{
							
							&:before
							{
								content: $iconClose ;
							}
						}
					}
				}
			}
        }
		
		

        .menubar
        {
            .dropdown-toggle
            {
                .icon
                {
                    color: #FFFFFF;
                }

                &:after
                {
                    color: #FFFFFF;
                }
            }
        }
    }

    .p-a-1
    {
        padding: 0 15px!important;
    }
	
	&.mymoodle
	{
		.card-block
		{

		}
		.titleDashboard
		{
			font-size: 1.2em;
			line-height: 2em;
			color: #fff;
			//font-family: "oswald","Helvetica Neue",Arial,sans-serif;
			//letter-spacing: 1px;
			font-weight:100;
			//float:left;
			//display:inline-block;
			margin-right: auto;
			&:before
			{
				content: $dashboard;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: 400;
				text-decoration: inherit;
				color: #ffffff;
				font-size: 1.2rem;
				vertical-align: top;
				padding-right: .4em;
			}
		}
		.btn-mode-edition
		{
			.singlebutton
			{
				padding-left: 20px;
				
				
				&.editBtn button[type=submit]:before
				{
					content: $iconEdit;
				}
				
				&.resetBtn button[type=submit]:before
				{
					content: $reset ;
				}
				&.cancelBtn button[type=submit]:before
				{
					content: $iconClose ;
				}
				
	
			}
			
		}
	
	}
	
}
body.pagelayout-frontpage header#page-header
{
    position: absolute;
    top: 0;
    right: 10px;
	
	.card
    {
		
		background: none;
		border: none;
		
		.menubar .dropdown-toggle i.icon
		{
			margin-right: 0;
			width: 20px;
		}
    
	}
}

#page-tagInscris
{
	width: 100%;
	#page-tagInscris-box
	{
		.card
		{
			
			background-color: rgba(0,62,92,.5);
			margin: 0px;
			margin-bottom: 0;
			border: 1px solid #fff;
			border-bottom-width: 0;
			
			.card-block
			{
				padding: 10px 10px 6px 10px;
				color: rgb(255, 255, 255, 0.8);
				
				margin: 0 auto;
				text-align: center;
				font-family: 'Oswald', 'Helvetica';
				font-weight: 600;
				font-size: 22px;
				text-transform: uppercase;
				line-height: 26px;
				letter-spacing: 1px;
				position: relative;
				text-shadow: 0 2px 8px rgba(0,0,0,0.5);
				border-radius: 2px 2px 0 0;
				span
				{
					display:block;
					font-size: 16px;
					line-height: 20px;
					font-weight: 100;
					text-transform: lowercase;
					letter-spacing: 1px;
				}
				
			}
		}
	}
}



#tagInscrisTriangle 
{
	height: 40px;
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff; 
	position: relative;
	width: 100%;
	#tagInscrisCarre
	{
		
		width: 80px;
		height: 80px;
		position: absolute;
		top: -56px;
		left: calc(50% - 40px);
		clip: rect(auto, 120px, auto, 56px);
		transform: rotate(90deg);
		&:after
		{
			content: "";
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background: transparent linear-gradient(135deg,rgba(0,62,92,.75),rgba(0,62,92,1) 56px,rgba(0,62,92,.3));
			transform: rotate(-45deg);
		}
	}
}




@media (max-width: 800px)
{
    header#page-header
	{

		
		.card #page-navbar 
		{
			
			.breadcrumb-nav nav ol li
			{
				font-size: 16px;
				//line-height: 20px;
				
				&:before
				{
					font-size: 16px;
					//line-height: 20px;
					padding: 0 4px;
				}
				a
				{
					font-size: 16px;
					//line-height: 20px;
				}
			}
			
			.breadcrumb-button
			{
				&.btn-mode-edition .singlebutton
				{
					padding: 0;
					margin: 0;
				}
				.singlebutton .btn
				{
					width: 16px;
					overflow: hidden; 
				}
				
			}
		}
		
	}
	
}

@media (max-width: 600px)
{
    header#page-header
	{
		.p-a-1
		{
			padding: 0!important;
		}
		
		.card 
		{
			border-left: unset;
			border-right: unset;
			#page-navbar 
			{
				.breadcrumb-button.pull-xs-right
				{
					width: 30px;
					overflow: hidden;
					i
					{
						font-size: 20px;
						line-height: 28px;
						margin-right: 10px;
					}
					.singlebutton 
					{
						margin-left: 0px;
						button
						{
							margin-left: 0;
							margin-right: 3px;
						}
					}
				}
			}
		}
		
		
		
	}
	
	#page-tagInscris
	{
		
		#page-tagInscris-box
		{
			padding: 0;
		}
	}
	
}

@media (max-width: 400px)
{
	header#page-header .card-block 
	{
		padding: 5px 5px;
		#page-navbar
		{
			.breadcrumb-nav
			{
				width: calc(100% - 24px);
				
				nav ol li
				{
					font-size: 14px;
					line-height: 16px;
					&:before
					{
						font-size: 14px;
						line-height: 16px;
					}
					
					a{
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
			

		}
	}
}