.fav-icon-style
{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #007cb7;
    font-size: 1.3rem;
    vertical-align: middle;
    padding-right: 0.5em;
}

/*********************************************** custom font *************************************************/


@font-face{
	font-family: 'oswald';
	src: local('oswald'), local('oswald');
	src:url('[[font:theme|oswald.eot]]');
	src:url('[[font:theme|oswald.eot]]') format('embedded-opentype'),
			url('[[font:theme|oswald.woff2]]') format('woff2'),
			url('[[font:theme|oswald.woff]]') format('woff'),
			url('[[font:theme|oswald.ttf]]') format('truetype'),
			url('[[font:theme|oswald.svg#oswald]]') format('svg');
	font-weight:400;
	font-style:normal
}

/*********************************************** OVERRIDE BOOST THEME CSS *************************************************/
html{
	background-color: $primaryWhite;
	font-size: 15px;
	//min-width: 400px;
}

body
{
	font-family: "Helvetica Neue",Arial,sans-serif;
	background:$primaryWhite url([[pix:theme_moodec|texture]]) repeat-x ;
	background-position-y: 150px;
	color: #000;
	min-width: 320px;
	margin-left: 30px;
	
	&.pagelayout-frontpage.notadminview
	{
		margin-left: 0px;	
	}
}

h1, h2, h3, h4, h5, .fontOswald, .btn, [type="button"], [type="reset"], [type="submit"], 
nav#navtop .nav-link, .moodle-dialogue-hd, .card-title, .catCustom, .nav-tabs>.nav-item, .nav>.nav-item, button, .bloc_titre, .btn, .septxt, span.onglet, .fheader, .path-calendar .maincalendar .calendar-controls .current, thead th, .availability-connector .label, 
.block_completion_progress .nowDiv, 
.block_completion_progress .progressPercentage
{
	font-family: "oswald","Helvetica Neue",Arial,sans-serif;
	letter-spacing: 1px;
	font-weight: 100;
	text-transform: uppercase;
	color: $bleuCL;
}




h1, .h1 {
	font-size: 1.6rem;
	line-height: 2rem;
	border-bottom: 2px solid $bleuCL;
	margin: 1rem 0;
}

h2, .h2, .path-calendar .maincalendar .calendar-controls .current {
	font-size: 1.4rem;
	line-height: 1.8rem;
	border-bottom: 1px solid $bleuCL;
	margin: .8rem 0;
}

h3, .h3 {
	font-size: 1.3rem;
	line-height: 1.7rem;
	border-bottom: 1px solid $bleuCLTransparent;
	margin: .6rem 0;
}

h4, .h4 {
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin: .4rem 0;
}
h5, .h5 {
	font-size: 1.1rem;
	line-height: 1.5rem;
	margin: .3rem 0;
}


h3.sectionname {
	color: $grisCL;
	border-bottom: 1px solid #d5d5d5;
    line-height: 2rem;
	a
	{
		color: $grisCL;
	}
	
	span.inplaceeditable.inplaceeditingon
	{
		
		*
		{
			font-family: "Helvetica Neue",Arial,sans-serif;
			text-transform: none;
			font-size: 1rem;
			line-height: 1.1rem;
		}
		
		span.editinstructions
		{
			font-size: 0.8rem;
			line-height: 1rem;
			
		}
		input
		{
			height: 2rem;
		}
	}
	
}






img.activityicon {
    height: 18px;
    width: 18px;
}
i.icon
{
	margin: 0 3px;
}
i:before
{
	content: '';
	font-family: FontAwesome;
	font-style: normal;
	font-weight: 100;
	font-size: 1em;
	vertical-align: top;
	padding-right: .4em;
	color:$colorIconBtn;
}



i.text-danger:before
{
	color: #d9534f!important;
}


div.editor_atto_toolbar button i:before
{
	color: #999;
}


a
{
	color: $bleuCL;
}


.moodle-dialogue-hd button.closebutton
{
	background: transparent;
}


form
{
	padding: 0.5em 0 0.8em;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .form-control, .custom-select {
    border: 1px solid rgba(181, 181, 181, 0.5);
    line-height: 30px;
    color: #333;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	background-color: #fff;
	padding: 2px 3px;
}

input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, input.form-control  
{
	height: 30px;
}
.custom-select
{
	padding: 2px 26px 2px 10px;
}

select.form-control:not([size]):not([multiple]) {
    height: 30px;
}


select option:hover {
    
    background: $bleuCLTransparent !important;
    color: $primaryWhite;;
}


#page-navbar .breadcrumb-button form
{
	padding: 0;
}

input, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-primary, .btn-secondary, .btn-default, button, [type="button"], [type="reset"], [type="submit"]  {
    color: $secondWhite;
    background-color: #007cb7;
    border: 1px solid #0079b3;
	border-radius: 0;
	margin: 5px;
	
	&:hover, &:active, &:focus, &:visited
	{
		color: $primaryWhite;
		background-color: #007cb7;
		border-color: #0079b3;
	}
	
	&.text-primary
	{
		 color: $secondWhite !important;
		 &:hover, &:focus
		 {
			color: $primaryWhite !important;
		 }
	}
}

.btn:disabled{
    color: $secondWhite;
    background-color: #aca39b;
    border-color: #898989;
	border-radius: 0;
	
	&:hover, &:active, &:focus, &:visited
	{
		background-color: #aca39b;
		border-color: #898989;
	}
}

.alert-info, #page-admin-index .releasenoteslink, #adminsettings .form-overridden, .que .formulation {
    background-color: rgba(217, 237, 247, 0.5);
}

.userpicture {
    border-radius: 50%;
}


.region_main_settings_menu_proxy 
{
	background-color: transparent;
}

#page-wrapper {
    margin-bottom: -231px;
}
body.site_frontpage  {
	#page-wrapper {
		margin-bottom: -208px;
	}
}


.preferences-container .preference-table .preference-row .preference-state .preference-state-status-container
{
	background-color: transparent;
	color: #000;
	:before
	{
		content: '';
		font-family: FontAwesome;
		font-style: normal;
		font-weight: 100;
		color:$bleuCL;
		font-size: 1.6em;
		vertical-align: top;
		padding-left: 0.2em;
		padding-right: 0.5em;
	}
	
	
	.on-text
	{
		width: 30px;
		overflow: hidden;
		&:before
		{
			content: $square;
		}
	}
	.off-text
	{
		width: 30px;
		overflow: hidden;
		&:before
		{
			content: $squareCheck;
		}
	}
}

.preferences-container .preference-table .preference-row .preference-state input[type="checkbox"]:checked+.preference-state-status-container
{
	background-color: transparent;
	:before
	{
		color:#666;
	}
}

.preferences-container .preference-table td.align-bottom
{
	padding: .75em 0.2em;
	.row-fluid div.span6.col-xs-6
	{
		padding: 0 3px;
	}
}




/******************************************************* PAGE  ************************************************************/
#page {
    //margin-top: -100px;
	
   
    &.container-fluid
    {
        margin: 0;
		padding: 0 5% 35px;
		width: unset;
    }
	
	#page-wrap
	{
		background: -webkit-linear-gradient(rgba(255,255,255,1) 10%, rgba(240,240,240,1) 20%,rgba(255,255,255,1) 60%);
		background: -o-linear-gradient(rgba(240,240,240,1) 10%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 60%); 
		background: -moz-linear-gradient(rgba(240,240,240,1) 10%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 60%); 
		background: linear-gradient(rgba(240,240,240,1) 10%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 60%); 
	}
	
	#page-layer
	{

		position: relative;
		margin : 0 2%;
		top: -70px;
		
		
		
		#coursecontrols
		{
			position: absolute;
			right: 0px;
			top: -26px;
			height: 26px;
			margin-right: 10px;
			padding: 0px 5px;
			border: 1px solid $primaryWhite;
			border-bottom: none;
			background-color: $bleuCLTransparent;
			//border-radius: 10px 10px 0 0;
			padding: 0;
			
			.editcogbutton 
			{
				float: right;
				
				padding: 2px 0 0 5px;
				height: 26px;
				border-left: 1px solid $secondWhite;
				padding: 2px 10px;
				border-bottom: 1px solid $primaryWhite;
				
				.context-header-settings-menu
				{
					margin: 0;
					height: 20px;
					.dropdown-toggle
					{
						color: $secondWhite;
						.icon
						{
							font-size: 18px;
							line-height: 18px;
							height: 18px;
							&:before
							{
								padding: 0;
								font-size: 18px;
								line-height: 18px;
							}
						}
						
						&:after
						{
							margin: 0;
						}
					}
					
				}

			}
			
			.thiscoursebutton, .teacherdashbutton, enrollcodebutton 
			{
				font-size: 16px;
				line-height: 22px;
				float: right;
				height: 26px;
				padding: 2px 10px ;
				border-bottom: 1px solid #1176ad;
				
				a
				{
					color: $secondWhite;
					text-decoration: none;
					
					&:after
					{
						display: inline-block;
						width: 0;
						height: 0;
						margin-left: .255em;
						vertical-align: .255em;
						content: "";
						border-top: .3em solid;
						border-right: .3em solid transparent;
						border-bottom: 0;
						border-left: .3em solid transparent;
					}
				}
				
				i
				{
					&:before
					{
						content: $administration;
						color: $primaryWhite;
					}
		
				}

			}
			
		}
		
		#teacherdashslider, #studentdashslider
		{
			background-color: $bleuCLTransparent;
			border: 1px solid $primaryWhite;
			border-bottom: none;
			padding: 10px;
			color: $primaryWhite;
			
			
			
			.dashtitle
			{
				h3
				{
					color: $bleuCL;
					position: relative;
					font-size: 18px;
					line-height: 20px;
					margin: 5px 2px;
					padding: 0 0 5px 30px;
					i
					{
						position: absolute;
						left: 2px;
						top: 1px;
						width: 22px;
						height: 22px;
										
						&:before
						{
							color: $bleuCL;
							font-size: 18px;
							padding: 0px;
						}
					
					}
					
				}
				
				p
				{
					padding-left: 30px;
				}
			
			}
			
			.list-group
			{
				margin-bottom: 10px;
				.list-group-item
				{
					padding: 6px 8px;
					background-color: $bleuCLTransparent;
					border: 1px solid #b5b5b5;
					color: $secondWhite;
					
					a
					{
						color: $primaryWhite;
					}
					
				}
			}
			
			.coursestafflisting img.userpicture {
				margin-right: 0;
				float: right;
			}
			
			.studentdashboard
			{
				.row
				{
					padding: 10px;
					
					.txtcenter
					{
						text-align: center;
						position: relative;
						padding: 40px 5px 5px 5px;
						
						p
						{
							position: absolute;
							top: 0;
							width: calc(100% - 10px);
						}
						.progress-chart-container
						{
							margin: 0 auto;
						}
						
						i:before
						{
							color: $secondWhite;
							padding-right: 0;
						}
						
					}
				}
			}
			
			.teacherdashboard, .studentdashboard 
			{
				.dashtitle
				{
					padding: 5px;
					background-color: $secondWhite;
					color: #666;
					
					h3, h4, h5
					{
						color: $bleuCL;
					}
					p
					{
						margin-bottom: 0px;
						line-height: 15px;
					}
				}
				

				
				h3, h4, h5, .fontOswald
				{
					color: $secondWhite;
				}
				
				a.more-item
				{
				        background: unset;
						border: unset;
						color: #fff;
						font-size: 18px;
						padding: 7px 10px;
						margin-top: 40px;
						text-align: right;
						
					
					i:before
					{
						content: $iconConfigSlider;
						color: $primaryWhite;
					}
				}
				
				
			}
			
			.progress-chart-container .progress-doughnut .progress-text.has-percent 
			{
				color: $primaryWhite !important
			}
			
			.progress-chart-container .progress-doughnut .progress-indicator svg .circle
			{
				stroke: $primaryWhite !important;
			}
		}
		
		
		
	
	
	}
}

#page.container-fluid, #banner-content, footer
{
	//margin-left: 30px;
}


.card
{
    border:none;
	border-radius: 0;
}


.pagelayout-course, .pagelayout-incourse
{
	#page-content
	{
		#region-main-settings-menu.has-blocks, #region-main.has-blocks
		{
			width: 100%;
		}
	}
	
	[data-region="blocks-column"] 
    {
        width: 100%;
		
		#block-region-side-pre
		{
			.block 
			{
				min-height: 20px;
				padding: 0;
				margin: 0 auto;
				background-color: #f5f5f5;

				
				width: 49%;
				display: none;
				border: none;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				
				vertical-align: top;
				
				form .btn
				{
					white-space: normal;
				}
					
				&.block_settings, &.block_admin_bookmarks, &.block_completion_progress, &.block_quickmail    
				{
					display: inline-block;
				}
				
				&.block_completion_progress
				{
					float: left;
				}
				&.block_quickmail
				{
					float: right;
					.unlist
					{
						li
						{
							.column
							{
								display: inline-block; 
								
								&.icon.c0
								{
									width: 16px;
									vertical-align: top;
									i
									{
										line-height: 16px;
										vertical-align: unset;
									}
								}
								
								&.c1
								{
									width: calc(100% - 26px);
								}

							}
							
							
						}
					}
					
				}

				.overviewButton
				{
					form
					{
						padding-bottom: 3px;
					}
				}
				
				&.block_completion_progress 
				{
				
					
					.nowDiv 
					{
						font-size: 12px;
						line-height: 22px;
						img.nowicon
						{
							margin-right: 5px;
							width: 18px;
							height: 18px;
							max-height: 18px;
						}
					}
					
					.card-text
					{
						flex-direction: column;
						display: flex;
						
						&>div
						{
							width: 98%;
							margin: 5px auto;
						}
						.progressPercentage
						{
							order: 1;
							font-size: 18px;
							line-height: 30px;
							text-align: center;
							margin-bottom: 0px;
						}
						.barContainer
						{
							order: 2;
							padding: 1%;
							margin: 0px auto;
							border: 1px solid $bleuCLTransparent;
							margin-top: 10px;
							.barRow
							{
								padding: 0;
								display: flex;
								flex-wrap: wrap;
								justify-content: flex-start;
								height: auto;
								.progressBarCell 
								{
									display: block !important;
									width: 20px !important;
									&.firstProgressBarCell {
										border-radius: 0px;
										border-left: solid 1px #e3e3e3;

									}
									
									&.lastProgressBarCell
									{
										border-radius: 0px;
										border-right: solid 1px #e3e3e3;
									}
								}
							}
						}
						.progressEventInfo
						{
							order: 3;
							color: $grisCL;
							font-size: 16px;
							white-space: normal;
							&>a
							{
								line-height: 20px;
								margin-left: 30px;
								display: block;
								position: relative;
								.moduleIcon
								{
									position: absolute;
									left: -30px;
									top: 2px;
									width: 16px;
									height: 16px;
								}
							}
							
							img.iconInInfo
							{
								width: 16px;
								height: 16px;
								background-color: $bleuCL;
								border-radius: 50%;
							}
						}
						.overviewButton
						{
							order: 4;
						}
						.footer
						{
							order: 5;
						}	
					}
				}
			}
			&::after
			{
				clear: both;
			}
		}	
    }
}



#page-content
{
    #region-main-settings-menu.has-blocks, #region-main.has-blocks
    {
        width: 100%;
		
		.menubar .dropdown-toggle>.icon
		{
			max-width: 20px;
			margin: 0;
		}
    }
	
	[data-region="blocks-column"] 
    {
        width: 100%;
		
    }
	



	
	

    #region-main
    {
        >.card
		{
			min-height: 20rem;
		}
		
		
		.card-title
        {
            //color:#00acdf;
            
            //margin-bottom: 5%;
        }
		
		.initialbar
		{
			border: 1px solid $secondWhite;
			position: relative;
			padding-top: 0px;
			margin-top: 30px;

			.initialbarlabel
			{
				height: 18px;
				line-height: 18px;
				float: unset;
				position: absolute;
				top: -22px;
				left: 5px;
				width: auto;
				max-width: 90%;
			}
			
			.pagination .initialbarall.page-item 
			{
				
				display: flex;
				background: $secondWhite;
				width: 100%;
				.page-link 
				{
					align-self: center;
				}
				
			}
			.initialbargroups 
			{
				flex-wrap: wrap;
				flex: 12;	
				margin: 0 15px;				
			}
			
			.pagination
			{
				flex: 1;
				justify-content: space-around;
				margin-bottom: 0px;
				
				.page-item
				{
					.page-link 
					{
						padding: 0 5px;
						line-height: 32px;
					}
					&.active
					{
						.page-link
						{
							padding: 0 5px;
							font-size: 1.2em;
						}
					}
				}
			}
		
		}

        .pagination
        {
            .page-item
            {
                &.disabled 
				{
					.page-link 
					{
						color: #999;
					}
				}
				
				.page-link 
                {
                    color:#007cb7;
                    font-weight: bold;
                    text-decoration: none;
                }

                &.active
                {
                    .page-link
                    {
                        background-color:#007cb7;
                        color:$primaryWhite;
                        border-color:#007cb7;
                        font-weight: bold;
                    }

                }

            }
			
			li.page-item
			{
				.page-link
				{
					background: none;
					border: none;
					color: #999;
					font-family: "oswald","Helvetica Neue",Arial,sans-serif;
					letter-spacing: 1px;
					font-weight: 100;
					text-transform: uppercase;
					font-size: 1.2em;
					line-height: 26px;
				}
				
				&.active
				{
					a.page-link
					{
						background: none;
						border: none;
						color: #007cb7;
						font-size: 1.4em;
						//line-height: 26px;
					}
				}
			}

        }

        //PAGE CONTENT - TAB LIST CSS
        .nav
        {
            &.nav-tabs
            {
                a
                {
                    &.nav-link
                    {
                        font-weight: 100;
						font-size: 1.2em;
						padding: .5em 0.6em;
                    }
                }
            }
        }
		
		
		.region-main-header
		{
			padding: 1%;
			background-color: $colorLign2;
			border: 1px solid $primaryWhite;
			border-bottom: none;
			
			.page-header-headings
			{
				width: 100%;
				
				
				h1
				{
					font-size: 2em;
					line-height: 2em;
					color: $bleuCL;
				}
			}
		}
		
		
		
		
		
		
		
		//secteur ou block
		.card-block
		{
			padding: 0;
			#block-region-content
			{
				.block
				{
					background-color: $colorLign1;
					padding: 1%;
					padding-bottom: 2%;
					margin: 0 !important;
					border: 1px solid $primaryWhite;
					&:nth-child(odd)
					{
						background-color: $colorLign2;
					}
					
					h3
					{
						&.card-title
						{
							//font-family: "oswald","Helvetica Neue",Arial,sans-serif;
							//letter-spacing: 1px;
							font-weight: 100 !important;
							//text-transform: uppercase;

						}
					}
				}
			}
			
			#maincontent
			{
				background-color: $bleuCLTransparent;
				border-left: 1px solid $primaryWhite;
				border-right: 1px solid $primaryWhite;
			}
			div.que
			{
				div.ablock 
				{
					div.answer
					{
						
						div.r0, div.r1
						{
							i.icon.text-danger, i.icon.text-success 
							{
								text-indent: 0;
							}
						}
						
					}
					
				}
			}
			form.questionflagsaveform
			{
				div.deferredfeedback 
				{
					div.answer
					{
						
						div.r0, div.r1
						{
							i.icon
							{
								text-indent: 0;
							}
						}
						
					}
					
				}
			}
			
			i.text-success, i.text-danger
			{
				
				&:before
				{
					 color: inherit;
				}
			}
							
			form.mform
			{
				div.editor_atto_content
				{
					p
					{
						margin-bottom: 5px;
					}
				}
			}
			
			.card-block
			{
				padding-top: 10px;
			}
			
			.gradeimport_data_area {
				margin: unset;
				width: unset;
				height: unset;
			}
			
		}
		
		.course-content
		{
			.section.main
			{
				.side
				{
					&.left, &.right
					{
						background: transparent;
					}
				}
			}
			
			.topics
			{
				//padding: 1%;
				//padding-bottom: 2%;
				
				.section
				{
					&.main
					{
						padding: 1%;
						padding-bottom: 2%;
						border: 1px solid $primaryWhite;
						border-top: none;
						background-color: $colorLign1;
						&:nth-child(odd)
						{
							background-color: $colorLign2;
						}
					}
				}
			}
		}
		
		//dashboard course list
		.block_myoverview
		{
			.btn-group
			{
				.btn
				{
					&.btn-default
					{
						background-color: #f5f5f5;
						border: 1px solid #ddd;
						color: #555555;
						
						&.active
						{
							
							background-color: #e5e5e5;
							color: #333333;
						}
					}
				}
			}
			
			.card
			{
				&.courses-view-course-item
				{
					background: none;
					border: 1px solid #eee;
					padding: 5px 10px;
					
					.media
					{
						.media-left
						{
							display: block;
							margin: 0;
							padding: 0;
							width: 100%;
							.progress-chart-container
							{
								margin: 0 auto;
							}
						}
						
						.media-body
						{
							font-family: "oswald","Helvetica Neue",Arial,sans-serif;
							letter-spacing: 1px;
							font-weight: 100 !important;
							text-transform: uppercase;
							text-align: center;
							font-size: 1.3em;
						}
						
						.text-muted
						{
							display: none;
						}
					}
				}
			}			
		}

      
    }

   #block-region-side-pre
    {
        
		
		.block
        {
            
			background-color: #cbc7c3;
			border: 1px solid $primaryWhite;
			border-bottom: 0px;
			
            .card-block, .card-body
            {
				//min-height: 156px;
			    padding: 0px;
				display: flex;
				flex-flow: row wrap;
				
				.card-title
                {
					flex: 8 0px;
					font-size: 20px;
					line-height: 30px;
					color: #007cb7;
					padding: 0 8px 0 8px;
					margin: 8px 0 0 8px;
					padding-left: 27px;
					
					&:before
					{
						margin-left: -27px;
						font-size: 20px !important;
						line-height: 30px !important;
						padding-right: 5px !important;
						vertical-align: top !important;
					}
                }
				
				
				.card-text 
				{
					flex: 1 100%;
					font-size: 1em;
					color: #1b2032;
					padding: 3px 10px;
					background-color: #ebeaea;
					margin-top: 8px !important;
					min-height: 80px;
					a
					{
						color: $bleuCL;
					}
				}
				
				.block-controls
				{
					flex: 1 auto;
					max-width: 55px;
					margin: 8px 8px 0 0;
					i
					{
						&:before
						{
							color: $grisCL;
						}
					}
					
					.dropdown
					{
						a.dropdown-toggle 
						{
						
						
							i.icon
							{
								margin-right: 0;
								&:before
								{
									padding-right: 3px;
								}
							}
							&:after
							{
								margin-left: 0;
							}
						}
					}
				}
				
            }
			
			&[data-block="completion_progress"] .card-body .card-title:before
            {
                content: $iconProgressBar;
                @extend .fav-icon-style;
            }
			
			&[data-block="quickmail"] .card-body .card-title:before
            {
                            content: $iconMenuContact;
                            @extend .fav-icon-style;
            }

            &[data-block="private_files"] .card-body .card-title:before
            {
                            content: $files;
                            @extend .fav-icon-style;
            }

            &[data-block="online_users"] .card-body .card-title:before, &[data-block="participants"] .card-body .card-title:before
            {
                            content: $participants;
                            @extend .fav-icon-style;
            }

            &[data-block="badges"] .card-body .card-title:before
            {
                            content: $badges;
                            @extend .fav-icon-style;
            }

            &[data-block="calendar_month"]
			{
				.card-body 
				{
					.card-title:before
					{
                            content: $calendar;
                            @extend .fav-icon-style;
                    }

                    table
                    {
                        &.minicalendar
                        {
                            a
                            {
                                color : #007cb7 !important;
                                font-weight: bold;
                            }

                            th, td
                            {
                                border: none;
                            }

                            abbr
                            {
                                border:none;
                            }
                        }
                    }
                }
            }

            &[data-block="calendar_upcoming"] .card-body .card-title:before
            {
                            content: $event;
                            @extend .fav-icon-style;
            }

            &[data-block="tags"] .card-body .card-title:before
            {
                            content: $tag;
                            @extend .fav-icon-style;
            }
            
            &[data-block="rss_client"] .card-body .card-title:before
            {
                            content: $rss;
                            @extend .fav-icon-style;
            }
            &[data-block="glossary_random"] .card-body .card-title:before
            {
                            content: $glossary;
                            @extend .fav-icon-style;

            }
            &[data-block="navigation"] .card-body .card-title:before
            {
                            content: $arrow;
                            @extend .fav-icon-style;
            }
            &[data-block="messages"] .card-body .card-title:before
            {
                            content: $messages;
                            @extend .fav-icon-style;
            }
            &[data-block="myprofile"] .card-body .card-title:before
            {
                            content: $user;
                            @extend .fav-icon-style;
            }
            &[data-block="lp"] .card-body .card-title:before
            {
                            content: $plans;
                            @extend .fav-icon-style;
            }
            &[data-block="news_items"] .card-body .card-title:before
            {
                            content: $announcements;
                            @extend .fav-icon-style;
            }
            &[data-block="html"] .card-body .card-title:before
            {
                            content: $code;
                            @extend .fav-icon-style;
            }

            &[data-block="globalsearch"] .card-body .card-title:before
            {
                            content: $search;
                            @extend .fav-icon-style;
            }
            &[data-block="course_list"] .card-body .card-title:before
            {
                            content: $course;
                            @extend .fav-icon-style;
            }
            &[data-block="community"] .card-body .card-title:before
            {
                            content: $participants;
                            @extend .fav-icon-style;
            }
            &[data-block="comments"] .card-body .card-title:before
            {
                            content: $comments;
                            @extend .fav-icon-style;
            }
            &[data-block="settings"] .card-body .card-title:before
            {
                            content: $administration;
                            @extend .fav-icon-style;
            }
            &[data-block="admin_bookmarks"] .card-body .card-title:before
            {
                            content: $bookmarks;
                            @extend .fav-icon-style;
            }


        }
        .m-b-1 
        {
            margin-bottom: 0 !important;
        }
		
		.block_navigation, .block_settings
		{
			.block_tree .depth_1  
			{
				p
				{
					padding: 0;
				}
				
				ul
				{
					padding-left: 20px;
				}
			}
			
			
			.block_tree .tree_item 
			{
				margin: .5rem 0;
				
				&:before
				{
					color: $bleuCL;
				}
				
				i.icon:before
				{
					color: $bleuCL;
				}
			}
			
			
		}
    }

    
}

#page #page-content .card-block div[role="main"]
{
	
		
	ul.nav-tabs
	{
		background-color: #c5c5c5;
		border: none;
		padding: 10px 10px 0px;
		margin: 0 !important;
		
		.nav-item
		{
			position: relative;
			margin-bottom: 0;
			
			a.nav-link
			{
				border: none;
				color: $primaryWhite;
				padding: 0.3em .6em;
				font-size: 18px;
				&.active
				{
					color: $bleuCL;
					background-color: $primaryWhite;
					&:after
					{
						display: inline-block;
						width: 0;
						height: 0;
						content: "";
						color: #d5d5d5;
						border-bottom: 8px solid;
						border-right: 8px solid transparent;
						border-left: 8px solid transparent;
						position: absolute;
						bottom: -1px;
						left: calc(50% - 8px);
					}
					&:hover
					{
						background-color: $primaryWhite;
					}
					
				}
				
				&:hover
				{
					background-color: rgba(255,255,255,.2);
				}
			}
			
		}
		
		&:last-of-type
		{
			background-color: #d5d5d5;
			color: $primaryWhite;
			padding-bottom: 0;
			
			.nav-item a.nav-link
			{
				
				font-size: 16px;
				&.active
				{
					color: $primaryWhite;
					background-color: $bleuCL;
					&:after
					{
						color: #f5f5f5;
					}
					&:hover
					{
						background-color: $bleuCL;
					}
				}
				
				&:hover
				{
					background-color: $bleuCLTransparent;
				}
			}
		}
			
		

		
		
	}
	
	>h2
	{
		margin: 1rem 0;
	}
	
	>form
	{
		padding: 1em 10px 10px;
		background-color: #f5f5f5;
	}
	
	.gradereport-grader-table
	{
	
		max-width: 100%; 
		width: 100%; 
		overflow-x: scroll;
	}
	
	.userlist #participants 
	{
		margin-top: 20px;
		thead th.header
		{
			border: none;
			//border-right: 1px solid $bleuCL;
			//border-left: 1px solid $bleuCL;
			
			&.c0
			{
				width: 26px;
				overflow: hidden;
				text-indent: 30px;
				max-width: 26px;
				white-space: nowrap;
				
				.commands
				{
					display: none;
				}
			}

			
			i.icon
			{
				width: 10px;
				margin: 0; 
				&:before
				{
					color: #ccc;
				}
			}

			
			a
			{
				color: $primaryWhite;
			}
			
			.commands i.fa-minus:before
			{
				content: $hideeye;
			}
		}
		
		tbody td.cell.c0 input.usercheckbox
		{
			width: 16px;
			height: 16px;
			margin: 2px 5px;
		}
	}

}


body
{
	
	
	&.pagelayout-admin, &.pagelayout-standard, &.pagelayout-incourse, &.pagelayout-mypublic , &.pagelayout-report 
	{
		#page #page-content .card-block div[role="main"]
		{
			padding: 10px;
			background-color: $colorLign1;
			
			>form
			{
				width: 100%;
			}
			
		}
		#page-content #region-main .card-block #maincontent
		{
			background-color: transparent;
		}
	} 
	
	&.pagelayout-frontpage  
	{

		#page
		{
			
			#page-content .card-block .sitetopic
			{
				padding: 0!important;
				margin: 0;
				
				ul.section
				{
					margin: 0;
					padding: 0;
					
					li
					{
						background-color: $colorLign1;
						padding: 1%;
						padding-bottom: 2%;
						margin: 0;
						border: 1px solid $primaryWhite;
						&:nth-child(odd)
						{
							background-color: $colorLign2;
						}
					}
					
				}
				
			}
		}
	}
	
	&.columns1
	{
		#page-content 
		{
			float: none;
			#region-main .card.card-block 
			{
				background: rgba(245, 245, 245, 0.8);
				padding: 10px;
				#maincontent
				{
					height: 0;
				}
			}
		}
				
		
	}
	
	&.pagelayout-maintenance 
	{
		#page #page-content .card-block 
		{
			div[role="main"]
			{
				text-align: center;
				padding: 20px;
			}
		}
		
	}
		
		
	

}


.editing #region-main .course-content li ul.section 
{
	margin: 15px 0px 15px 5px;
	.activity
	{
		>div
		{
			padding: 0;
		}		
			
		.mod-indent-outer
		{
			width: 100%;
			padding-left: 24px;
			>div
			{
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				
				&.mod-indent {
					display: table-cell;
				}
				
				.availabilityinfo, .contentafterlink
				{
					flex: 1 100%;
					margin: 0;
				}
			}
			
			
			
			
		
		
			.contentwithoutlink, .activityinstance 
			{
				padding: 0 10px 0 0;
				min-width: unset;
				
				span.inplaceeditable 
				{
					display: flex;
					justify-content: space-between;
					a
					{
						display: flex;
						justify-content: space-between;
						&.quickeditlink .icon
						{
							margin: 0 5px;
						}
					}
				}
			}
			
			.actions 
			{
				position: unset;
				right: unset;
				top: unset;
				flex-direction: row;
				
				.menubar
				{
					flex-direction: row;
				}
				.dropdown
				{
					/*
					.dropdown-toggle
					{
						display: block;
						width: 24px;
						overflow: hidden;
						text-indent: -500px;
						position: relative;
						margin-left: 7px;
						
						&:after
						{
							position: absolute;
							right: 0;
							top: 8px;
						}
						
						&:before
						{
							content: $iconEdit;
							@extend .fav-icon-style;
							position: absolute;
							left: 0;
							width: 16px;
							text-indent: 0;
							font-size: 16px;
							line-height: 16px;
						}
					}
					
					
					.action-menu-item .icon
					{
						margin-right: 0 ;
					}
					*/
				}
				
				.filler
				{
					margin-left: 5px ;
					margin-right: 1px ;
				}
			}
		}
	}
}




/************************************************ affichage table grade   ********************************************************/
body.path-grade-report-grader #region-main
{
	width: 100%;
	
	.gradeparent
	{
		width: 100%;
		.gradereport-grader-table
		{
			overflow-x: scroll;
			display: block;
		}
		
		div.floater.sideonly 
		{
			display: block;
			
			&.lastrow
			{
				bottom: 17px !important;
				.cell.c0
				{
					text-align: left!important;
				}
				
			}
		}
	
	}
	
}




/************************************************ format-topcoll   ********************************************************/

body.format-topcoll
{
	#page #page-content
	{

			div[role="main"]
			{
				>form
				{
					background-color: $primaryWhite;
					border-left: 1px solid $primaryWhite;
					border-right: 1px solid $primaryWhite;
					margin: 0 auto;
				}
					
				.course-content
				{
					
					
					>div.tabs
					{
						background: $primaryWhite;
						border-left: 1px solid $primaryWhite;
						border-right: 1px solid $primaryWhite;
						ul.tab-links
						{
							margin: 5px 0 0 0;
							li
							{
								&#menutab1 a i:before
								{
									content: $iconNews;
									@extend .fav-icon-style;
								}
								&#menutab2 a i:before
								{
									content: $iconForum;
									@extend .fav-icon-style;
								}
								&#menutab3 a i:before
								{
									content: $iconCourseContent;
									@extend .fav-icon-style;
								}
								&#menutab4 a i:before
								{
									content: $badges;
									@extend .fav-icon-style;
								}
								
								a
								{
									background-color: rgba(245,245,245,1);
									background: -webkit-linear-gradient(rgba(235,235,235,1), rgba(245,245,245,1));
									background: -o-linear-gradient(rgba(235,235,235,1), rgba(245,245,245,1));
									background: -moz-linear-gradient(rgba(235,235,235,1), rgba(245,245,245,1)); 
									background: linear-gradient(rgba(235,235,235,1), rgba(245,245,245,1)); 
									
									opacity: 0.5;
									line-height: 30px;
									padding: 10px 15px 5px;
									
									i
									{
										display: none;
									}
									
									&:hover
									{
										opacity: 0.7;
									}
								}
								
								&.active a
								{
									font-size: 20px;
									padding-bottom: 4px;
									padding-top: 11px;
									opacity: 1;
								}

							}
						}
						
						.tab-content 
						{
							padding: 5px 0px 15px 0px;
							
							#tab1 ul.ctopics li.section.main
							{
								border: none;
								.content
								{
									margin: 0px;
								}
							}
							
							#tab4 ul.ctopics li.section.main .content
							{
								margin: 5px 15px;
							}
							
							#changenumsections
							{
								margin-top: 15px;
							}
							
							
							#toggle-all 
							{
								padding: 0 15px;
								.content .sectionbody
								{
									&.toggle-point h4 a
									{
										&.on:hover {
											background-image: url([[pix:theme_moodec|format_topcoll/point_right_glow]]) ;
										}
										&.off:hover {
											background-image: url([[pix:theme_moodec|format_topcoll/point_down_glow]]) ;
										}
									}
								}
							}
							
							.topics .section.main {
								padding: 0;
								margin: 0;
								border: none;
								border-bottom: 1px solid $primaryWhite;
								width: 100%;
								
								&.orphaned 
								{
									background-color: rgba(172,163,154,.3);
									border: 1px solid $colorIconBtn;
								}
								.left, .right
								{
									background: transparent;
									width: 30px;
									height: 45px;
									margin: 0;
									padding: 0;
									
									i
									{
										padding: 14px 0;
										&::before
										{
											color: #aaa;
										}
									}
									
									.dropdown-menu
									{
										i
										{
											padding: 0;
										}
									}
									
								}
								.right
								{
									width: 90px;	
									a.dropdown-toggle
									{
										position: relative;
										display: block;
										width: 45px;
										height: 45px;
										text-align: right;
										
										&::before
										{
											content: $iconConfig;
											display: inline-block;
											width: 40px;
											height: 45px;
											line-height: 45px;
											font-family: FontAwesome;
											font-style: normal;
											font-weight: 100;
											color: #aaa;
											font-size: 21px;
											vertical-align: top;
											padding-right: 0px;
											margin-right: 30px;
										}
										
										&::after
										{
											display: block;
											position: absolute;
											top: 21px;
											right: -8px;
											color: #aaa;
										}
									}
								}
								.content 
								{
									margin: 0;
									.sectionhead
									{
										
										a.the_toggle 
										{
											
											//background-size: 16px auto;
											background: none;
											padding-left: 0px;
											
											h3
											{
												border: none;
												&::before
												{
													//display: inline-block;
													width: 0;
													height: 0;
													margin-top: 10px;
													float: left;
													//margin-left: .3em;
													//vertical-align: middle;
													content: "";
													border-top: .3em solid;
													border-right: .3em solid transparent;
													border-left: .3em solid transparent;
													color: #aaa;
												}
												
												&::after
												{
													clear: both;
												}
											}
											
											&.toggle_closed h3::before
											{
												border-top: .3em solid transparent;
												border-bottom: .3em solid transparent;
												border-left: .3em solid;
												border-right: none;
												margin-top: 6px;
												margin-left: 3px;
											}
										}
										
									}
									
									.sectionbody 
									{
										margin: 15px 10px;

									}
								}
								
							}
							
						}

					}
				}

				iframe#forumqta{
					width: 100%!important;
					overflow-x: hidden;
					
					.qa-footer-bottom-group {
						border: none; 
					}
				}

				.badgeimage 
				{
					display: inline-block;
					margin: 25px 15px;
					width: 120px;
					max-width: 120px;
					height: 120px;
					text-align: center;
					vertical-align: top; 
					
					a.activatedbadge, a.deactivatedbadge
					{
						border-radius: 50%;
						width: 120px;
						height: 120px;
						display: block;
						overflow: hidden;
						background-color: #fff;
						margin: 10px auto;
						background-color: #ddd;
						width: 80px;
						height: 80px;
					}
					a img.activatebadge
					{
						border-radius: 0;
						border: none;
						width: 100px;
						height: 100px;
						margin-top: -10px;
						margin-left: -10px;
					}
					
					.badgename
					{
						color: #007cb7;
						font-size: 0.9em;
					}
					.deactivatedbadge .badgename
					{
						color: #aca39a;
					}

				}
				img.activatebadge
				{
					border-radius: 50%;
					border: #007cb7 solid 20px;
					border:none;
					background-color: #ddd;
				}
				
				td img.activatebadge
				{
					border: #007cb7 solid 5px;
					border:none;
				}
				h2 img.activatebadge
				{
					display: none;
				}
				
				a.activatedbadge
				{
					border: #007cb7 solid 20px;
					border:none;
				}
				a.deactivatedbadge
				{
					border: #aca39a solid 20px;
					border:none;
					opacity: 0.3;
					
					img.activatebadge
					{
						background: #ddd url([[pix:theme|desactive]]) no-repeat center;
					  background-size: 100% auto;
					}
				}
				.path-badges  #badge-image>img,
				img.badge-image
				{
					border-radius: 50%;
					border: #007cb7 solid 20px;
					border:none;
					display: block;
					margin: 10px auto 0;
					background-color: #ddd;
				}
				
				.path-badges  
				{
					ul.badges
					{
						margin-top: 20px;
					}
					.badge-actions
					{
						margin-top: 5px;
					}
				}
				
				#page-badges-badge  #badge-image .singlebutton
				{
					display: none;
				}
				#badge-overview,
				#badge-details
				{
					padding-left: 20px;
					>h3
					{
						margin-left: -20px;
						margin-top: 20px;
					}
				}
				
			}
	
	}
}



body.format-topcoll.editing 
{
	.mform fieldset.collapsible legend a.fheader
	{
		text-decoration: none;
	}
	
	#page #page-content
	{
		div[role="main"] .course-content
		{
			.topics .section.main 
			{
				
				
				.right
				{
					
					.section_action_menu 
					{
						.action-menu
						{
							white-space: unset;
						}
							
						.dropdown
						{
							.dropdown-toggle
							{
								display: none;
							}

							.dropdown-menu-right
							{
								display: flex;
								justify-content: space-around;
								flex-wrap: wrap;
								min-width: unset;
								width: 85px;
								height: 42px;
								padding: 0;
								margin: 0;
								border: none;
								position: unset;
								background: none;
								
								
								a.dropdown-item
								{
									background: none;
									border: 0;
									width: 20px;
									height: 20px;
									padding: 0;

									i.icon
									{
										margin: 0;
										width: 18px;
										height: 18px;
										
										&::before
										{
											color: #aaa;
											padding: 0;
											font-size: 16px;
											line-height:20px;
										}
									}
									.menu-action-text
									{
										display: none;
									}
								}
							}
						}
					}
					
					
					
				}
				
				
				
				.sectionhead 
				{
					padding-left: 30px;
				}
				
				
			}
			.add-sections
			{
				margin-right: 2%;
			}
			.addresourcemodchooser .section-modchooser-link i.icon::before,
			.add-sections  i.icon::before
			{
				color: $bleuCL;
			}
						
		}
	}
}

body.format-topcoll
{
	#page #page-content
	{
		.card-block
		{
			div[role="main"]
			{
				.course-content
				{
					margin-bottom: 20px;
					>div.tabs
					{
						.tab-content 
						{
							.topics .section.main.current  
							{
								.left
								{
									
									i.icon
									{
										&::before
										{
											color: #ddd;
										}
									}
								}
								
								.right
								{
									
									.section_action_menu 
									{
											
										.dropdown
										{

											.dropdown-menu-right
											{

												a.dropdown-item
												{

													i.icon
													{

														&::before
														{
															color: #ddd;

														}
													}

												}
											}
										}
									}
									
									
									
								}
								
								.content 
								{
									.sectionhead 
									{
										a.the_toggle
										{
											h3
											{
												
												color: #ddd;
												&::before
												{
													color: #ddd;
												}
											}
										}
										
									}
								}
								
								
								
								
							}
						}
					}
				}

			}
		}	
	}
}



/************************************************ PROGRESS COURSE  ********************************************************/
.progress-chart-container
{
	.progress-doughnut
	{
		border: 15px solid $grisCL;
		.progress-text.has-percent
		{
			color : #007cb7 !important;
			font-weight: bolder;
			font-size: 1rem;
		}

		.progress-indicator
		{
			svg
			{
				.circle
				{
					stroke : $bleuCL !important;
				}
			}
		}
	}
}

/****************************************************** LOGIN AAI  ********************************************************/
#page-content #block-region-side-pre .block.block_auth_aai
{
    background-color: rgba(0,62,92,.75);

	position: relative;
	
    .card-block, .card-body
    {
        color: $primaryWhite;

        h3
        {
            color: $primaryWhite !important;
			background: transparent !important;
			font-size: 1.6em !important;
			padding-bottom: .7em;
			padding-top: .7em;
			&.card-title
			{
				&:before
                {
                    content: $login;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: 100;
					color:$primaryWhite;
					font-size: 1em;
					vertical-align: top;
					padding-right: .4em;
                }
			}
			
            &.login-aai
            {
                &:before
                {
                    content: $login;
                    @extend .fav-icon-style;
                    color:$primaryWhite;
                    font-size: 1.75rem;
                }
            }

            &.logout-aai
            {
                &:before
                {
                    content: $logout;
                    @extend .fav-icon-style;
                    color:$primaryWhite;
                    font-size: 1.75rem;
                }
            }

        }
		
		.card-text
		{
			padding: 0;
			
			.footer
			{
				padding: 0 5%;
				font-size: 12px;
				color: $primaryWhite;
				text-align: center;
				margin-top: -20px;
				p
				{
					margin: 0;
					a
					{
						color: $secondWhite;
					}
				}
			}
			
		}
		

        #wayf_div
        {
            background: transparent !important;
            border:none !important;
			padding: 0 !important;
			
			#wayf_logo_div
			{
				margin-right: 5%;
			}
			
            #wayf_intro_label
            {
                color:$primaryWhite !important;
                padding-left: 5%;
				margin: 0;
				font-size: 1.1em !important;
            }
			
			
			
			#wayf_remember_checkbox_label
			{
				//font-size: 1em !important;
				margin: 0;
			}
			
			#wayf_remember_checkbox
			{
				margin: 2px 6px 0 0!important;
				width: 16px;
				height: 16px;
			}

            select
            {
                &#user_idp
                {
                    height: 34px;
                    padding: 6px 12px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #555;
                    background-color: $primaryWhite;
                    background-image: none;
                    border: none;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
					width: 90% !important;
					margin: 4px 5% !important;
                }
            }

            #wayf_remember_checkbox_div
            {
                float: none !important;
				width: 90% !important;
				margin: 0px 5% !important;
                td
                {
                    //border:none;
                    padding: 0;

                    input
                    {
                        border-radius: 0px !important;
                        border:none !important;
                        background-color : $primaryWhite !important;
                        background: $primaryWhite !important;
                    }
                    label
                    {
                        color:$primaryWhite !important;
                    }
                }
            }

            #wayf_submit_button
            {
				
                height: 3rem;
				width: 100%;
                float:none !important;
                background-color: #007cb7;
                border:none;
                color:$primaryWhite;
                font-weight: 100;
                text-transform: uppercase;
                margin:0 !important;
				font-size: 1.4em;
				
            }

           
        }
		
		
    }

}
/****************************************************** CATEGORIES ********************************************************/
.block_cat
{
    .card-block, .card-body
    {
        padding: 0;
        background-color: $primaryWhite !important;
        #cat
        {
            a
            {
                &.catCustom
                {
                    display: inline-block;
                    width: 100%;

                    height: 4.6rem;
                    line-height: 4.6rem;
                    font-size: 1em;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: $bleuCL;
                    padding-left: 1.25rem;
                    margin: 0;
					border: 1px solid $primaryWhite;

                    @for $i from 1 through 6
                    {
                        &#cat#{$i}
                        {
                            background-color: #f6f6f6;
                            background-image: url([[pix:theme_moodec|fbCat/bgCat#{$i}]]);
                            background-repeat: no-repeat;
                            background-position: top right;

                            &:hover
                            {
                                color: $grisCL;
                            }
                        }
                    }

                    &:before
                    {
                        content: $arrow;
                        @extend .fav-icon-style;
                        color:#9d9d9c;
                    }

                }

            }
        }
    }
}







/******************************************************* composant ******************************************************/

body.drawer-open-left 
{
	#nav-drawer .list-group
	{
		a
		{
			&[data-key="participants"],  &[data-key="2"]
			{
				display: none; 
			}
		}
	}
	
}



.form-control
{
	padding: 2px 5px;
}





.moodle-dialogue-base 
{
	.moodle-dialogue-wrap 
	{
		&.moodle-dialogue-content
		{
			.moodle-dialogue-hd
			{
				color: $primaryWhite;
				background-color: #007cb7;

				.closebutton
				{
					color: $primaryWhite;
					opacity: .8;
					font-size: 2rem;
				}
			}
			
			.moodle-dialogue-bd
			{
				.row
				{
					border-bottom: 1px solid #eee;
					margin-bottom: 10px;
					
					button
					{
						margin: 0;
					}
				}
			}
			
		}
	}

}

.form-group.row .form-inline
{
	button, .btn
	{
		padding: 2px 3px;
		line-height: 24px;
		font-size: 14px;
	}
}
.path-calendar 

{
		
	#page-content 
	{
		#region-main
		{
			width: calc(100% - 240px);
		}
		
		[data-region="blocks-column"]
		{
			width: 240px;
			
			#block-region-side-pre .block
			{
				//background: $primaryWhite;
				//border-left: 1px solid $secondWhite;
				
				.card-body 
				{
				
					h5.card-title
					{
						//background-color: $secondWhite;
						//padding: 10px;
					}
					.content
					{
						//padding-top: 1px;
						//margin-top: 3px;
						
						.calendar_filters i:before
						{
							//color: $bleuCL;
						}
						
						.minicalendar
						{
							h3
							{
								//background: transparent;
								//padding: 0;
								//border-bottom: 1px solid #007cb7;
							}
						}
					}
					
				}
				
			}
		}
	}
	
	.maincalendar .calendarmonth
	{
		.day.weekend
		{
			background-color: $colorLign2;
			color: #666;
		}
		
		ul li.calendar_event_course
		{
			background-color: $bleuCL;
			border-color: $bleuCL;
			a
			{
				color: $primaryWhite
			}
		}
	}
}

aside .minicalendarblock
{
	float: left;
	width: 30%;
	margin: 0 1.5%;
	
	&:first-of-type
	{
		margin-left: 2%;
	}
}



body.format-topcoll #page #page-content .card-block  div[role="main"] table 
{
	thead th.header 
	{
		position: relative;
		padding-right: 20px;
		vertical-align: bottom;
		color: $primaryWhite;
		background-color: $bleuCL;
		
		&.badgeimage
		{
			display: table-cell;
			margin: 0;
			width: auto;
			height: auto;
			text-align: left;
			vertical-align: bottom;

		}
		
		a
		{
			color: $primaryWhite;
			&.action-icon
			{
				position: absolute;
				top: 48%;
				right: 2px;
				
				&:first-of-type
				{
					bottom: 48%;
				}
				
				i.icon
				{
					margin: 0;
					
					&::before
					{
						padding: 0; 
					}
				}
			}
		}

	}

	tr td
	{
		&.badgeimage
		{
			display: table-cell;
		}
	}

}








/******************************************************* home  ******************************************************/






body#page-mod-certificate-verify_certificate
{
	#page-header
	{
		display: none;
	}
	#page-content #region-main .card.card-block
	{
		margin: 0 auto;
		padding: 10px 1%;
		width: 98%;
		background-color: rgba(0,124,183,.8);
		border: 1px solid #fff;
		
		#frmCertificate
		{
			border: 0;
			margin: 0;
			padding: 0;
			background-color: transparent;
			
			h1
			{
				color: #fff;
				border: 0;
				padding: 0;
				margin: 0;
				font-size: 1.6em;
				line-height: 1.8em;
			}
			
			#info, #infoCertificate
			{
				background-color: rgba(255,255,255,.95);
			}
			
			
			
			#frm 
			{
				padding: 0;
				padding-top: 20px;
				display: table;
				width: 100%;
				border-spacing: 15px;
				background-color: rgba(255,255,255,.95);
				margin-bottom: 15px;
				
			}
			
			label
			{
				width: 40%;
			}
			
			input
			{
				width: 60%;
			}
			
			.btnAction {
				border: 1px solid rgba(255,255,255,.95);
			}
		}
	}
}


/******************************************************* dashboard ******************************************************/

body.pagelayout-mydashboard
{
	#region-main .block_myoverview
	{
		.card-body
		{
			padding: 0;
			
			ul[role="tablist"].nav-tabs
			{
				display: none; 
			}
			
			.tab-content.content-centred 
			{
				max-width: unset;
				margin: 0;
				padding: 0;
				
				#myoverview_courses_view
				{
					.nav-pills
					{
						margin: 0 !important;
						width: 100%;
						background-color: $colorBgMenuList;
						padding: 10px 10px 0;
						
						.nav-link
						{
							font-size: 16px;
							color: $primaryWhite;
							cursor: pointer;
							
							&.active
							{
								background-color: $bleuCL;
								position: relative;
								cursor: default;
								&:after
								{
								    display: inline-block;
									width: 0;
									height: 0;
									content: "";
									color: $colorLign2;
									border-bottom: 8px solid;
									border-right: 8px solid transparent;
									border-left: 8px solid transparent;
									position: absolute;
									bottom: -1px;
									left: calc(50% - 8px);
								}
							}
						}
					}
					
					.tab-content
					{

						.card-deck
						{
							justify-content: flex-start;
							.card
							{
								flex-basis: calc(16.66666% - 20px);
								border: 2px solid $bleuCL;
								padding: 0px;
								background-color: $secondWhite;
								margin: 20px 10px;
								.myoverviewimg
								{
									//height: 100px;
								}
									
								.card-body
								{
									padding: 0px;
									margin-top: -100px;
									//border-top: 10px solid $bleuCL;
									border-bottom: 5px solid $bleuCL;
									
									.media
									{
										flex-direction: column;
										.mr-2, .mx-2 
										{
											order: 1;
											width: 100%;
											margin: 0!important;
											
											.progress-chart-container
											{
												margin: 15px auto 10px;
											}
										}
										
										.media-body
										{
											width: 100%;
											height: 100px;
											padding: 5px 8px;
											overflow: hidden;
											background-color: $bleuCLTransparent;
											a
											{
												color: $primaryWhite;
											}
										}
										
										
										.progress-text 
										{
											color: $grisCL;
										}
									}
									
									.text-muted
									{
										text-align: justify;
										height: 42px;
										overflow: hidden;
										margin: 8px;
									}
									
								}
							}
						}
						
						
						
						.pagination
						{
							justify-content: center;
						}
						
						
					}
				}
			}
			
		}
		
	}
}
@media (max-width: 1680px)
{
	body.pagelayout-mydashboard
	{
		#region-main .block_myoverview
		{
			.card-body
			{
				.tab-content.content-centred 
				{
					#myoverview_courses_view
					{
						.tab-content
						{
							
							.card-deck
							{
								.card
								{
									flex-basis: calc(33.333333% - 40px);
									margin: 20px;
									
									.myoverviewimg {
										height: 120px;
									}

									.card-body
									{
										margin-top: -80px;
										.media
										{
											.mr-2, .mx-2 
											{
												.progress-chart-container
												{
													margin: 10px auto 5px;
												}
											}
											
											.media-body
											{
												height: 80px;
												
												h4
												{
													margin: 0;
												}
												a
												{
													line-height: 25.5px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1280px)
{
	
	body.pagelayout-mydashboard
	{
		&.drawer-open-left
		{
			#region-main .block_myoverview
			{
				.card-body
				{
					.tab-content.content-centred 
					{
						#myoverview_courses_view
						{
							.tab-content
							{
								
								.card-deck
								{
									.card
									{
										flex-basis: calc(50% - 20px);
										margin: 20px 10px;
										
										.myoverviewimg {
											height: 100px;
										}
										
										.card-body
										{
											
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
}

@media (max-width: 1024px)
{
	body.pagelayout-mydashboard
	{
		#region-main .block_myoverview
		{
			.card-body
			{
				.tab-content.content-centred 
				{
					#myoverview_courses_view
					{
						.tab-content
						{
							
							.card-deck
							{
								.card
								{
									flex-basis: calc(50% - 20px);
									margin: 20px 10px;
									
									.myoverviewimg {
										height: 100px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


/*



body.pagelayout-mydashboard
{
	#region-main
	{
		
		.block_moodecdashboard  
		{
			padding: 1% 0 !important;
			
			h3.card-title
			{
				display:  none; 
			}	
			#dashboardTableCours
			{
				.onglets
				{
					.onglet_1 {
						background-color: $secondWhite;
						color: $bleuCL;
					}
					.onglet_0 {
						background-color: rgba(240, 240, 240, 0.7);
						color: #b5b5b5;
					}
				}
				
				.contenu_onglet {
					background-color: $secondWhite;
					
					.coursRow
					{
						height: 150px;
						margin: 0; 
						
						.coursTxt {
							padding: 0px 10px 3px 200px;
							height: 120px;
							border: 1px solid $primaryColorAlpha ;
							
							.titlecourse
							{
								font-size: 1.2em;
								line-height: 1.5em;
							}
							.summary
							{
								height: 65px;
								overflow: hidden;
								line-height: 16px;
								margin-top: 3px;
							}
						}
						
						.coltumbnail
						{
							width: 190px;
							height: 120px;
							background-color: $primaryColorAlpha ;
							padding: 1px;
							
							.thumbnailimage
							{
								width: 100%;
								height: 100%;
								text-decoration: none;
								
								.fdhumbnail
								{
									background-color: $primaryColorAlpha ;
									
									.borderWhite
									{
										    background-color: rgba(38,67,119,0.7);
											border-radius: 0;
											border: 6px solid rgba(255,255,255,0.7);
											font-size: 14px;
									}
								}
							}
						}
						
						.coursProgressBar 
						{
							width: calc(100% - 1px);
							top: 1px;
							padding-left: 190px;
							
							.progressvaluebloc .arrow3
							{
								line-height: 10px;
							}
						}
					
					}
				}
			}
			
		}
	
	}

}
*/


/******************************************************* cour content ******************************************************/

div[role="main"]  
{
	>h1, >h2, >h3 
	{
		border: 0;
	}
	
	.mform 
	{
		
		.form-group.row
		{
			margin: 0 0 15px 0; 
			.form-inline
			{
		
		
		
				.form-control-static
				{
					display: block;
					width: 100%;
					
					.selectorsLeft, .selectorsCenter, .selectorsRight
					{
						width: 38%;
						vertical-align: top;
					}
					.selectorsCenter
					{
						margin-top: 150px;
						width: 24%;
						
					}
				}
				
				.bg-faded {
					background-color: #f3f3f3;
				}
					
			}
		}

		
		
		
		
		
		
		
		
		fieldset
		{
			margin-bottom: 30px;
			
			&#id_general
			{
				>.fcontainer 
				{
					background-color: transparent;
				}
			}
			
			>.fcontainer 
			{
				background-color: rgba(0, 124, 183, 0.05);
				padding: 8px;
				
				.form-group.row
				{
					

					.col-md-3
					{
						//font-weight: bold;
						
						abbr[title]
						{
							border: 0;
						}
					}

					
					.form-inline
					{
						.custom-select
						{
							//width: 100%;
							&#id_visible, &#id_display, &#id_completion, &#id_competency_rule
							{
								width: 100%;
							}
						}
						
						
						
						&[data-fieldtype="url"]
						{
							
							button
							{
								width: 30px;
								height: 30px;
								margin: 0;
								position: absolute;
								right: 15px;
								overflow: hidden;
								//text-indent: -9999px;
								&::before
								{
									content: $ellipsis;
									font-family: FontAwesome;
									font-style: normal;
									font-weight: 100;
									color: $primaryWhite;
									font-size: 16px;
									display: block;
									line-height: 27px;
								}
							}
							
							.form-control 
							{
								width: calc(98% - 30px);
								display: inline-block;
							}
						}
						
						.availability-inner, .availability-plugincontrols
						{
							border: 0;
							width: 100%;
							margin: 0;
							padding: 10px 0;
							
							.availability-children
							{
								background-color: #f9f9f9;
								padding: 10px;
								border: 1px solid #eceeef;
								
								.availability-connector
								{
									margin: 10px 0 30px;
									width: 100%;
									text-align: center;
									border-bottom: 1px solid #bbb;
									position: relative;
									
									.label
									{
										position: relative;
										bottom: -12px;
										color: #999;
										width: 22px;
										height: 22px;
										font-size: 12px;
										line-height: 22px;
										vertical-align: top;
										letter-spacing: 2px;
										padding: 0 0 0 2px;
										background-color: #eee;
										border-radius: 50%;
										border: 1px solid #bbb;
									}
									
								}
								
								
								.availability-item
								{
									width: 100%;
									.availability-eye
									{
										//padding-left: 20px;
										padding-right: 3px;
									}
									
									.availability-plugincontrols
									{
										width: calc(100% - 40px);
										background-color: #fcfcfc;
										border: 1px solid rgba(0,0,0,.08);
										padding: 8px;
										
										
										&.availability_grade 
										{
											
											>.form-group
											{
												width: 100%;
												display: block;
												select
												{
													max-width: 100%;
												}
											}
										
											>.availability-group
											{
												width: 100%;
												display: inline-block;
												
												input.form-control
												{
													width: 35px;
													margin: 0 5px !important;
												}
												
												input[type="text"]:disabled {
													background-color: #fcfcfc;
													border-color: #eaeaea;
												}
												
											}
										}
										
										.form-check-input
										{
											margin: 0 5px 0 10px !important;
										}
									}
									
									.availability-delete
									{
										padding: 0 0 0 8px !important;
									}
									
									>.label-warning
									{
										margin-left: 20px;
										margin-top: 0 !important;
									}
									
								}
							}
						}
					}
				}
			}
		}
	}
	
	
}


iframe.iframevideomoodec
{
	max-width: 800px;
	height: 500px;
    width: 100%;
    border: $bleuCLTransparent 5px solid;
	margin: 20px auto 10px;
    display: block;
}







/******************************************************* MEDIA QUERY ******************************************************/
@media (min-width: 544px)
{
	.form-inline .form-group, .form-inline .form-buttons, .form-inline .path-admin .buttons, .path-admin .form-inline .buttons, .form-inline #fitem_id_submitbutton, .form-inline .fp-content-center form+div, .fp-content-center .form-inline form+div, .form-inline div.backup-section+form, .form-inline #fgroup_id_buttonar 
	{
		vertical-align: top;
	}
	
	.form-inline .form-control {
		width: 100%;
	}
	

	
	
	div[role="main"]  
	{
		.mform fieldset .fcontainer .form-group.row
		{
			.form-inline
			{
				&[data-fieldtype="url"]
				{
					button
					{
						width: 26%;
						overflow: unset;
						&::before
						{
							display: none;
						}

					}
					.form-control 
					{
						width: 70%;
					}
				}
			}
		}
	}
}

@media (min-width: 768px)
{
	div[role="main"]  
	{
		.mform .form-group.row
		{
			.col-md-3
			{
				text-align: right;
			}
		}
	}
	
}





@media (max-width: 1600px)
{
	body.site_frontpage #page #page-layer  #partenaires_logos img
	{
		width: 130px;
	}
	
	body.drawer-open-left
	{
		#page #page-content .card-block  div[role="main"]  
		{
			ul.nav-tabs.nav 
			{
				.nav-item 
				{
					a.nav-link
					{
						//font-size: 15px !important;
						padding: 6px;
					}
				}
			}
		}
	}
}


@media (max-width: 1400px)
{
	body.drawer-open-left
	{
		#page #page-content .card-block  div[role="main"]  
		{
			ul.nav-tabs.nav 
			{
				.nav-item 
				{
					max-width: 120px;
					a.nav-link
					{
						font-size: 15px !important;
						padding: 4px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1280px)
{
	.onglet {
		padding: 8px 2%;
	}
	
	
	body.drawer-open-left
	{
		#page #page-content .card-block  div[role="main"]  
		{
			ul.nav-tabs.nav 
			{
				.nav-item 
				{
					max-width: 100px;
					text-align: center;
					vertical-align: bottom;
					margin-right: 3px;
					display: inline-block;
					
					a.nav-link
					{
						font-size: 14px !important;
						
					}
				}
			}
		}
	}
}


@media (max-width: 1199px)
{
    body
	{
		&.site_frontpage   
		{
			#page
			{
				#page-layer 
				{
					top: -90px;
				}
			}
		}
		&.drawer-open-left
		{
			#page #page-content .card-block  div[role="main"]  
			{
				ul.nav-tabs.nav 
				{
					padding: 1px ;				
					.nav-item 
					{
						max-width: unset;
						width: 100%;
						display: block;
						text-align: left;
						margin: 0;
						float: unset;
						
						a.nav-link
						{
							font-size: 15px !important;
							padding: 5px 15px;
							
							&.active
							{
								border-radius: 0;
								
								&:after
								{
									border-left: 8px solid;
									border-top: 8px solid transparent;
									border-bottom: 8px solid transparent;
									bottom: calc(50% - 8px);
									left: -1px;
								}
							}
						}
					}
				}
			}
		}
	}
	
	#page 
	{
		&.container-fluid
        {
            padding: 0 2rem 35px;
        }
	
		#page-content .card-block 
		{
			#region-main-settings-menu.has-blocks, #region-main.has-blocks
			{
				width: 100%;
			}

			[data-region="blocks-column"] 
			{
				width: 100%;
			}
			
			div[role="main"]  
			{
				.mform .form-group.row
				{
					.form-inline
					{
						.form-control-static
						{
							.selectorsCenter
							{
								
								width: 20%;
								#add_button,  #add_all, #remove_button,  #remove_all
								{
									background-position: center 5px;
									padding-top: 30px;
								}
							}
							
							.selectorsLeft, .selectorsRight
							{
								width: 40%;
							}

						}
					}
				}
				
				ul.nav-tabs.nav 
				{
					
					.nav-item 
					{
						margin: 0;
						
						a.nav-link
						{
							font-size: 15px !important;
							padding: 4px;
						}
					}
				}
				
				
			}
		}	
    }
	
	
	
}



@media (max-width: 1024px)
{
    body
	{
		&.site_frontpage  
		{		
			#page
			{
				#page-layer 
				{
					top: -80px;
					#partenaires_logos img
					{
						width: 120px;
					}
				}
			}
		}
		
		&.drawer-open-left
		{
			&.pagelayout-mydashboard
			{
				#region-main
				{
					.block_moodecdashboard  
					{
				
						#dashboardTableCours
						{
							.onglets .onglet
							{
								max-width: 110px;
							}
						}
					}
				}
			}
			
		}
	}

	
	#page #page-content .card-block 
    {
        #region-main-settings-menu.has-blocks, #region-main.has-blocks
        {
            width: 100%;
        }

        [data-region="blocks-column"] 
        {
            width: 100%;
        }
		
		div[role="main"]  
		{
			.mform .form-group.row
			{
				.form-inline
				{
					.form-control-static
					{
						.selectorsCenter
						{
							
							width: 18%;
							#add_button,  #add_all, #remove_button,  #remove_all
							{
								padding: 30px 0 4px;
							}
						}
						
						.selectorsLeft, .selectorsRight
						{
							width: 41%;
						}

					}
				}
			}
			
			ul.nav-tabs.nav 
			{
				
				.nav-item 
				{
					max-width: 100px;
					text-align: center;
					vertical-align: bottom;
					margin-right: 3px;
					display: inline-block;
					
					a.nav-link
					{
						font-size: 14px !important;
						padding: 4px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
			
		}

    }
	
	.path-calendar 
	{
			
		#page-content 
		{
			#region-main .maincalendar .calendarwrapper .header 
			{
				
				select#menucourse
				{
					width: 100%;
				}
				
				[data-action="new-event-button"]
				{
					display: block;
					margin: 30px 5px 5px 5px;
				}
			}
		}
	}
}


@media (max-width: 900px)
{
	#page #page-content .card-block 
    {
		div[role="main"]  
		{
			ul.nav-tabs.nav 
			{
				
				.nav-item 
				{
					max-width: 90px;
					
					a.nav-link
					{
						padding: 2px;
					}
				}
			}

			ul.nav-tabs.nav 
			{
				padding: 1px ;				
				.nav-item 
				{
					max-width: unset;
					width: 100%;
					display: block;
					text-align: left;
					margin: 0;
					float: unset;
					
					a.nav-link
					{
						font-size: 15px !important;
						padding: 5px 15px;
						
						&.active
						{
							border-radius: 0;
							
							&:after
							{
								border-left: 8px solid;
								border-top: 8px solid transparent;
								border-bottom: 8px solid transparent;
								bottom: calc(50% - 8px);
								left: -1px;
							}
						}
					}
				}
			}	
		}
    }
}


@media (max-width: 800px)
{
	
	
	
	
	
	body
	{
		&.pagelayout-course
		{
			[data-region="blocks-column"] #block-region-side-pre
			{
				.block 
				{
					width: 100%;
				}
			}

		}
		
		&.pagelayout-mydashboard
		{
			#region-main
			{
				.block_moodecdashboard  
				{
			
					#dashboardTableCours
					{
						.onglets .onglet
						{
							max-width: 110px;
						}
					}
				}
			}
		}
		
		&.format-topcoll
		{
			#page #page-content .card-block div[role="main"]
			{
				.course-content
				{
					>div.tabs
					{
						ul.tab-links li
						{
							margin-right: 6px;

							a
							{
								font-size: 15px;
								line-height: 26px;
								padding: 4px 8px 8px;
								i
								{
									display: block;
								}
								.txt
								{
									display: none;
								}
								
							}
							
							&.active a
							{
								font-size: 19px;
								padding-bottom: 3px;
								padding-top: 9px;
								
								i
								{
									display: none;
								}
								.txt
								{
									display: block;
								}
								
							}
						}
					}
				}	
			}
			
			&.editing 
			{
				#page #page-content
				{
					div[role="main"] .course-content>div.tabs .tab-content
					{
						.topics .section.main  .right
						{
							width: 45px;
							.section_action_menu 
							{	
								.dropdown
								{
									.dropdown-menu-right
									{
										width: 45px;
									}
								}
							}	
						}			
					}
				}
			}
		}
	}
	

	#page 
	{
		&.container-fluid
        {
            padding: 0;
        }
		
		#page-content .card-block 
		{
			div[role="main"]  
			{
				
				
				
				.mform .form-group.row
				{
					.form-inline
					{
						.form-control-static
						{
							.selectorsCenter
							{
								
								width: 40px;
								#add_button,  #add_all, #remove_button,  #remove_all
								{
									padding: 4px 12px;
									background-position: center center;
								}
							}
							.selectorsLeft, .selectorsRight
							{
								width: calc(50% - 20px);
							}

						}
					}
				}
				
				table 
				{
					thead th.header 
					{
						padding: 3px;
						padding-bottom: 20px;
						a.action-icon
						{
							bottom: 2px;
							right: 30%;
							top: unset;
							
							&:first-of-type 
							{
								right: 70%;
							}
							i.icon
							{
								margin: 0;
								height: 8px;
								width: 10px;
								
								&::before
								{
									padding: 0;
									height: 8px;
									font-size: 16px;
									/* line-height: 16px; */
									display: block;
								}
								
								&.fa-sort-down:before, &.fa-sort-desc:before {
									line-height: 3px;
								}
							}
						}

					}

					tr td
					{
						padding: 3px;
					}

				}

			}
		}
	}
	
	
	
	
	
	h2, .h2, .path-calendar .maincalendar .calendar-controls .current {
		font-size: 1.4rem;
	}
	
	h3, .h3 {
		font-size: 1.2rem;
	}
	
}

@media (max-width: 767px)
{
	#page #page-content .card-block div[role="main"] ul.nav-tabs.nav 
	{
		
		
	}
	
	div[role="main"] >.tab-content >.tab-pane .card-block .row 
	{
		.col-sm-3 {
			h4 a
			{
				display: block;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				
			}
		}


	}
	.path-calendar 
	{
			
		#page-content 
		{
			#region-main .maincalendar .calendarwrapper .header 
			{
				
				
				[data-action="new-event-button"]
				{
					/*
					height: 35px;
					width: 35px;
					overflow: hidden;
					padding: 0;
					margin: 0 5px;
					
					&:before
					{
						content: $addblock;
						display: inline-block;
						width: 35px;
						height: 35px;
						line-height: 35px;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: 100;
						color: $primaryWhite;
						font-size: 21px;
						vertical-align: top;
						padding-right: 0px;
						//margin-right: 30px;
					}
					*/
				}
			}
		}
	}
	
}


@media (max-width: 620px)
{
	body.pagelayout-mydashboard
	{
		#region-main
		{
			.block_moodecdashboard  
			{
				#dashboardTableCours
				{
					.contenu_onglet 
					{
						.coursRow
						{
							//height: 150px;
							border: none;
							background-color: transparent;
							
							.coursTxt {
								top: 25px;
							}
							
							.coltumbnail
							{
								top: 25px;
								
								
							}
							
							.coursProgressBar 
							{
								height: 25px;
								bottom: unset;
								
								.arrow3:before {
									//bottom: 1px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 600px)
{
    body.pagelayout-frontpage 
	{
		#page #page-layer 
		{
			.card
			{
				border-left: none;
				border-right: none; 
			}
			#partenaires_logos img
			{
				width: 30%;
				margin: 25px 8%;
			}

			#page-content 
			{
				#blocCatalogue, #frmContact, #frmCertificate 
				{
					#frm
					{
						display: block;
						border-spacing: 0px;

						.formGroup {
							display: block;
							padding: 2px 10px;
							label {
								display: block;
								margin: 0;
							}
							input
							{
								display: block;

							}
						}
					}
					
					#filtreCatalogue 
					{
						.filtreBloc {
							width: 49%;
							margin: 0 0.5%;
						}
					}
					
					#catalogue 
					{
						width: 100%;
						margin-top: 0px;
						padding-top: 30px;
					}
				}
				
				#coursListe, #catalogue #coursListe 
				{
					
					max-width: 480px;
				}
			}	

		}

	}
	
	body#page-mod-certificate-verify_certificate
	{
		#page-content #region-main .card.card-block
		{
			#frmCertificate
			{
				label, input
				{
					width: 100%;
				}
			}
		}
	}
	
	body #page #page-layer
	{
		 top: -60px;
		 margin: 0;
		>.row
		{
			margin: 0;
			
			#region-main-box
			{
				padding: 0;
				#region-main .card-block #block-region-content .block
				{
					border: unset;
				}
			}
		}
	}
	
	body.format-topcoll
	{
		#page #page-content
		{
			.card-block
			{
				div[role="main"]
				{
					.course-content
					{
						>div.tabs
						{
							ul.tab-links
							{
								margin-top: 10px;
								padding-left: 5px;
								
								li
								{
									margin-right: 5px;
									a
									{
										font-size: 14px;
										line-height: 22px;
										padding: 5px 3px 4px;
										
									}
									
									&.active a
									{
										font-size: 18px;
										padding-bottom: 3px;
										padding-top: 6px;
									}

								}
							}
							
							#toggle-all .content .sectionbody
							{

								
								
								h4 
								{
									text-align: center;
									a.tc-medium 
									{
										padding: 4px 1% 4px 22px;
										background-position: 0px center;
										margin: 0 4px 2px 4px;
									}
								}
							}
							
							
						}
						
						
					}	
				}
			}	
		}
	}
	
	
	.editing #region-main .course-content li ul.section 
	{
		.activity
		{
			padding: 10px 0;
			.mod-indent-outer
			{
				.actions 
				{
					flex-direction: column;
					border-left: 1px dashed #ccc;
					min-width: unset;
					.menubar
					{
						flex-direction: column;
					}
					.dropdown
					{
						margin-left: 6px;
						.dropdown-toggle
						{
							display: block;
							width: 24px;
							height: 24px;
							color: #999;
							overflow: hidden;
							text-indent: -500px;
							position: relative;
							
							&:after
							{
								position: absolute;
								left: 0px;
								top: 17px;
							}
							
							&:before
							{
								content: $iconEditActivity;
								@extend .fav-icon-style;
								position: absolute;
								left: 0;
								width: 16px;
								text-indent: 0;
								font-size: 16px;
								line-height: 16px;
								color: #999;
							}
						}
						
						
						.action-menu-item .icon
						{
							margin-right: 0 ;
							i:before
							{
								color: #999;
							}
						}
					}
					
					.filler
					{
						display: none;
					}
					
					.iconsmall
					{
						margin: 0 5px;
					}
				}
			}
		}
	}
	
	#pgwModal, div[role="main"] #moodecDescContent
	{
		.pm-body
		{
			max-width: 96% !important;
			width: 96%;
		}
		
		#descriptionCours
		{
			#texteDescription {
				#descriptionSummary
				{
					span {
						.img-responsive {
							width: 45%;
						}
					}
				}
			}
		
		}
	}
	
	.path-calendar 
	{
			
		#page-content 
		{
			#region-main
			{
				width: 100%;
			}
			
			[data-region="blocks-column"]
			{
				width: 100%;
			
			}
		
		}
	}
}

@media (max-width: 560px)
{
	body.pagelayout-frontpage 
	{
		#page #page-layer #page-content
		{
			#topCours #coursListe, #catalogue #coursListe 
			{
				width: 100%;
				max-width: 400px;
				
				.blocCours {
					width: 90%;
					display: block;
					margin: 0 auto;
					margin-bottom: 50px;
					height: 330px;
					
					.imgCours {
						height: 210px;
						border: 1px solid #aaa;
						border-bottom: none;
						.dateCoursHighLight {
							left: -127px;
							top: -30px;
						}
					}
					
					.fdTop {
						height: 210px;
					}
				}
			}
			
			#blocCatalogue
			{
				#filtreCatalogue 
				{
					.filtreBloc {
						width: 99%;
						margin: 0 0.5%;
					}
				}
			}
		}
	}
}

@media (max-width: 480px)
{
	&.pagelayout-mydashboard
		{
			#region-main
			{
				.block_moodecdashboard  
				{
			
					#dashboardTableCours
					{
						.onglets .onglet
						{
							max-width: 110px;
						}
					}
				}
			}
		}
	
	body.pagelayout-mydashboard
	{
		#region-main
		{
			.block_moodecdashboard  
			{
				#dashboardTableCours
				{
					.onglets
					{
						display: flex;
						flex-direction: column;
						
						.onglet
						{
							//line-height: 20px;
							//padding: 5px 3px;
							max-width: unset;
							margin: 0;
							//font-size: 13px;
							//margin-right: 5px;
							//color: #000;
							&.onglet_1
							{
								order: 1;
								border-bottom: 1px dotted $bleuCL;
							}
						}
					}
					
					.contenu_onglet 
					{

						.coursRow
						{
							height: 356px;
							border: 1px solid #b5b5b5;
							margin: 10px 0;
							
							.coursTxt {
								padding: 5px 20px;
								top: 200px;
								height: 155px;
							}
							
							.coltumbnail
							{
								width: 100%;
								height: 200px;
								top: 0;
								
								.thumbnailimage 
								{
									height: 194px;
								}
							}
							
							.coursProgressBar 
							{
								bottom: 0px;
								left: 1px;
								top: unset;
								padding: 0px;
								height: 30px;
								width: calc(100% - 2px);
								
								.arrow3:before {
									//bottom: 5px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {

	body.pagelayout-frontpage 
	{
		#page #page-layer #page-content
		{
			#topCours #coursListe, #catalogue #coursListe 
			{
				.blocCours {
					width: 280px;
					margin-bottom: 20px;
					height: 295px;
					.imgCours {
						height: 178px;
						.dateCoursHighLight {
							left: -110px;
							top: -30px;
						}
					}
					.fdTop {
						height: 177px;
					}
				}
			}
		}
	}
	
	body
	{

		#page #page-layer {

			#coursecontrols
			{
				width: calc(100% - 10px);
				margin: 0;
				right: 5px;
				
				.editcogbutton 
				{
					 width: 33px;
					 border-left: none;
					.context-header-settings-menu .dropdown-toggle .icon 
					{
						font-size: 18px;
						line-height: 18px;
						height: 18px;
						margin-right: 3px;
					}

				
				}
				
				.teacherdashbutton, .thiscoursebutton
				{
					width: calc(100% - 33px);
					text-align: center;
				}
				

			}
			
			#teacherdashslider, #studentdashslider 
			{
				margin: 0 5px;
				padding: 10px 0;
			}
			


		}

	}

}






#clear
{
	clear: both;
}