/****************************************************** 
COLORS   
******************************************************/
$bleuCL : #007cb7;
$bleuCLTransparent : rgba(0,124,183,0.8);
$grisCL : #aca39b;

$primaryColorAlpha : rgba(38,67,119,0.7);
$secondColor : #15284a;

$primaryWhite : #ffffff;
$primaryWhiteOpacity : rgba(255,255,255,.95);
$secondWhite : #eaeaea;

$colorLign1: #fbfbfb;
$colorLign2: #f5f5f5;

$colorIconBtn: #999999;
$colorBgMenuList: #d5d5d5;

/******************************************************  
ICONS 
******************************************************/
$administration :"\f085";
$course : "\f19d";
$participants : "\f0c0";
$badges : "\f0a3";
$bag : "\f0b1";
$book : "\f02d";
$compentecies : "\f0eb";
$grades : "\f123";
$dashboard : "\f0e4";
$home : "\f015";
$calendar : "\f073";
$files :"\f15b";

$iconConfig :"\f013";
$iconConfigSlider :"\f1de";
$addblock :"\f067";
$arrowBlod : "\f054";
$arrow : "\f105";
$login : "\f090";
$logout : "\f08b";
$event : "\f274";
$tag : "\f292";
$rss : "\f09e";
$glossary : "\f02d";
$messages : "\f075";
$user : "\f007";
$usercircle : "\f2bd";
$plans : "\f279";
$announcements : "\f1ea";
$code : "\f121";
$search : "\f002";
$comments : "\f27a";
$bookmarks : "\f02e";
$reset : "\f01e";
$leave : "\f08b";
$mycourse : "\f0b1";
$iconClose : "\f00d";
$iconEdit : "\f040";
$goTop : "\f01b";
$square : "\f096";
$squareCheck : "\f046";
$ellipsis : "\f141";
$hideeye : "\f070";


$iconNav : "\f0c9 ";
$iconRSFacebook : "\f09a";
$iconRSInstagram : "\f16d";
$iconRSTwitter : "\f099";
$iconRSYoutube : "\f167";


$iconMenuCatalog : "\f03a";
$iconMenuContact : "\f0e0";

$iconProgressBar : "\f58d";
$iconProgressBar : "\f058";
$iconBadge : "\f5a2";
$iconBadge : "\f559";
$iconNote : "\f5c0";
$iconEditActivity : "\f044";
$iconNews : "\f1ea";
$iconForum : "\f086";
$iconCourseContent : "\f108";
$iconNews : "\f1ea";

